<span class="DigitalCountdownTimer"
      v-if="dataRemainingSec > 0">
  <!--
  {{ dataRemainingTime }}
  -->
  <div class="clock">
    <div class="message">
      {{ $t('Remaining Time') }}:
    </div>
    <!-- HOUR -->
    <!--
    <div class="numbers">
      <p class="hours">01</p>
      <p class="placeholder">88</p>
    </div>

    <div class="colon">
      <p>:</p>
    </div>
    -->
    <!-- MINUTE -->
    <div class="numbers">
      <p class="minutes">
        {{ dataMinutes }}
      </p>
      <p class="placeholder">88</p>
    </div>

    <div class="colon">
      <p>:</p>
    </div>

    <!-- SECOND -->
    <div class="numbers">
      <p class="seconds">
        {{ dataSeconds }}
      </p>
      <p class="placeholder">88</p>
    </div>

  </div>
</span>