<button 
  type="button"
  class="ui compact button ValidationButton"
  v-bind:class="computedClassName"
  v-on:click="onclick">

  <template v-if="isEnable || !enable">
    <template v-if="hasLabeledIcon">
      <i v-if="leftLabeledIcon"
         v-bind:class="computedLeftLabeledIcon"></i>

      <slot></slot>

      <i v-if="rightLabeledIcon"
         v-bind:class="computedRightLabeledIcon"></i>
    </template>
    <template v-else>
      <div class="ui active mini inline loader"></div>
      <div class="message">
        <slot></slot>
      </div>
    </template>
  </template>
  <template v-else>
    ({{ disabledMessage }})
  </template>
</button>