<div class="ui form">

  <annotation-editor-header v-bind:config="config"
                            v-bind:status="status"
                            v-bind:annotationModule="annotationModule"></annotation-editor-header>

  <!-- ====================================== -->

  <question-template ref="QuestionTemplate"
                     v-bind:config="config"
                     v-bind:status="status"
                     v-bind:lib="lib"
                     v-if="!isQuestionSubmitted"
                     v-on:selectQuestion="selectQuestion"></question-template>

  <HTMLEditor ref="QuestionEditor"
              v-bind:contents="question"
              v-on:input="(c) => {question = c; isQuestionEdited = true}"
              v-bind:editable="isEditable"
              v-bind:height="computedQuestionEditorHeight"
              v-bind:placeholder="questionPlaceholder"></HTMLEditor>

  <!-- ====================================== -->

  <template v-if="isQuestionSubmitted">

    <resource-search ref="ResourceSearch"
                     v-bind:config="config"
                     v-bind:status="status"
                     v-bind:lib="lib"
                     v-bind:propSelectIndex="recommandResourceSearchIndex"
                     v-bind:propAnchorText="anchorText"></resource-search>

    <HTMLEditor ref="AnswerEditor"
                v-bind:contents="answer"
                v-on:input="(c) => {answer = c; isAnswerEdited = true}"
                v-bind:editable="editable"
                v-bind:height="computedAnswerEditorHeight"
                v-bind:placeholder="answerPlaceholder"></HTMLEditor>

  </template>

  <!-- ====================================== -->

  <div class="ui one column grid annotation-panel-buttons"
       v-if="isEditable">
    
    <block-exit></block-exit>
    
    <div v-bind:class="computedButtonsClass">

      <!--
      <button type="button"
              class="ui button"
              v-on:click="hide">
        {{ $t('CANCEL') }}  
      </button>
      -->



      <!-- ============================== -->

        <checkbox-toggle v-bind:label="$t('PUBLIC')"
                         v-model="public"
                         v-if="annotationConfig.enableControlPermission"></checkbox-toggle>

        <button type="button"
                class="ui button"
                v-on:click="submitQuestion"
                v-if="!isQuestionSubmitted">
          {{ $t('SUBMIT QUESTION') }}  
        </button>
        
        <button type="button"
                class="ui button"
                v-on:click="writeLater"
                v-if="isQuestionSubmitted && !isAnswerSubmitted">
          {{ $t('WRTIE LATER') }}  
        </button>
        
        <button type="button"
                class="ui button"
                v-bind:class="{'disabled': (answer === '')}"
                v-on:click="submitAnswer"
                v-if="isQuestionSubmitted">
          {{ $t('SAVE ANSWER') }}  
        </button>
        
        <button type="button"
                  class="ui red button"
                  v-on:click="deleteAnnotation"
                  v-if="isQuestionSubmitted">
            {{ $t('DELETE') }}  
        </button>
        
    </div>
  </div>
</div>