<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to PACOR</title>
</head>
<body>
  <h1>Welcome to PACOR</h1>
  
  <ul>
    <li><a href="/admin">Administration</a></li>
    <li><a href="/meterial">Reading Material</a></li>
    <li><a href="/2020exp/articles">2020 exp</a></li>
    <li><a href="/pretest/index.html">pretest</a></li>
  </ul>
</body>
</html>
