<div class="ui segment AnnotationItem" 
     v-if="annotation"
     v-bind:class="computedContainerClassNames"
     v-on:mouseover="onMouseover"
     v-on:mouseout="onMouseout"
     v-on:click="onClick"
     v-bind:data-annotation-id="annotation.id"
     v-bind:data-user-id="annotation.user_id">

  <div class="meta text-container ui basic "
       v-bind:class="computedMetaClassList"
       v-on:click.stop="onFindAnnotation(annotation)">
    
    <i class="left angle icon"
       v-if="findAnnotation && lib.style.isLeftHanded" />
    
    <span class="display-time"
          v-if="!lib.style.isLeftHanded">
      {{ displayTime }}
    </span>

    <annotation-item-interactive
      v-if="lib.auth.isEnableCollaboration"
      
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      
      v-bind:annotation="annotation"
      v-on:like="onlike"
      v-on:unlike="onlike"
      v-on:comment="$emit('comment', annotation)"
      size="mini">
    </annotation-item-interactive>
      
    <i class="right angle icon"
       v-if="findAnnotation && !lib.style.isLeftHanded" />
  </div>
  
  <div class="meta text-container ui basic right labeled button"
       v-if="lib.style.isLeftHanded">
    <span class="display-time">
      {{ displayTime }}
    </span>
  </div>
  
  <!-- ======================================================= -->

  <div class="left column">
    <span class="annotation-item-header">
      <div v-on:click.stop="(event) => {onFindUser(annotation.user, event)}"
           v-bind:class="{'clickable': findUser}"
           class="user user-container">

        <user-avatar 
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib"

          v-bind:user="annotation.user">
        </user-avatar>

        <div class="username text-container">
          {{ username }}
        </div>
      </div>

      <annotation-type-button 
        v-bind:lib="lib"
        v-bind:status="status"
        v-bind:type="annotation.type"
        v-bind:clickable="(typeof(findType) === 'function')"
        v-on:find="(type) => {onFindType(type)}">
      </annotation-type-button>

    </span>

    <div class="note text-container" v-if="note" v-html="note"></div>
  </div>
    
</div>