.note {
  max-height: 4rem;
  overflow-x: hidden;
  overflow-y: auto;
  
  ::v-deep {
    p {
      line-height: 2em !important;
      display: inline !important;
      //vertical-align: top;
      vertical-align: middle;
      padding-right: 0.5em !important;
    }
    
    a {
      vertical-align: top;
    }

    img {
      max-width: 4em;
      max-height: 4em;
      width: auto;
      height: auto;
      margin-left: 0.5em;
      margin-right: 0.5em;
      vertical-align: top;
    }
  } 
}

.annotation-item-compact .note ::v-deep {
  [data-pacor-search-result] {
    @PacorSearchResult();
  }

  p {
    display: inline !important;
    line-height: 2em !important;
  }
  
  img[src] {
    max-width: 1em !important;
    max-height: 1em !important;
  }
}