  <div class="annotation-panel"
       v-bind:class="{'hidden': isHide}">
  
    <div class="ui secondary segment form "
         v-bind:class="computedSegmentClass"
         v-bind:style="computedSegmentStyle"
         ref="panel">
    
      <div class="resize-handler"
           v-bind:class="{'moving': resizeLocker}"
           v-on:mousedown="onResizeStart"
           v-on:touchstart="onResizeStart"></div>
      
      <div class="ui stackable"
           v-bind:class="computedGridClass">
        <div class="column annotation-editor">
          <component v-bind:is="annotationModule"
                     v-bind:config="config"
                     v-bind:status="status"
                     v-bind:annotationModule="annotationModule"
                     v-bind:annotationInstance="annotationInstance"
                     v-bind:annotationConfig="annotationConfig"
                     v-bind:anchorPosition="anchorPosition"
                     v-bind:lib="lib"
                     v-bind:heightPX="heightPX"
                     v-bind:error="error"
                     v-on:hide="hide"></component>
        </div>
        
        <!-- =========================================== -->
        <div class="column annotation-discussion" 
             v-if="annotationConfig.enableCollaboration">
          <annotation-discussion v-bind:config="config"
            v-bind:status="status"
            v-bind:progress="progress"
            v-bind:lib="lib"
            v-bind:error="error"
            ref="AnnotationDisscussion"></annotation-discussion>
        </div>
      </div>
    </div>
  </div>
  