  <div class="annotation-panel"
       v-bind:class="{'hidden': isHide}">
  
    <div class="ui secondary segment form "
         v-bind:class="computedSegmentClass"
         ref="panel">
      
  
    <vue-draggable-resizable
      v-bind:h="500"
      v-bind:w="1000"
      v-bind:draggable="false"
      v-bind:minHeight="300"
      v-bind:active="true"
      v-bind:handles="['tm']"
      axis='y'>
        
      <div class="ui stackable"
           v-bind:class="computedGridClass">
        <div class="column annotation-editor">
          <component v-bind:is="annotationModule"
                     v-bind:config="config"
                     v-bind:status="status"
                     v-bind:annotationModule="annotationModule"
                     v-bind:lib="lib"
                     v-bind:error="error"></component>
        </div>
        
        <!-- =========================================== -->
        <div class="column annotation-discussion" 
             v-if="enableCollaboration">
          <annotation-discussion v-bind:config="config"
            v-bind:status="status"
            v-bind:progress="progress"
            v-bind:lib="lib"
            v-bind:error="error"
            ref="AnnotationDisscussion"></annotation-discussion>
        </div>
      </div>
      <!--
        <div class="field">
          Annotation Panel

          <button type="button"
                  class="ui button"
                  v-on:click="hide">Close</button>
        </div>
      -->
      
      </vue-draggable-resizable>
    </div>
  </div>
  