  <div class="annotation-panel"
       v-bind:class="{'hidden': isHide}">
  
    <div class="ui secondary segment form "
         v-bind:class="computedSegmentClass"
         v-bind:style="computedSegmentStyle"
         ref="panel">
    
      <div class="resize-handler"
           v-bind:class="{'moving': resizeLocker}"
           v-on:mousedown="onResizeStart"
           v-on:touchstart="onResizeStart"></div>
      
      <template v-if="listPositions">
        
        <annotation-list ref="AnnotationList"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:listPositions="listPositions"
          v-bind:lib="lib"></annotation-list>
        
      </template> <!-- <template v-if="listPositions"> -->
      <template v-else>
        <div class="ui stackable"
             v-bind:class="computedGridClass">
          <div class="column annotation-editor">
            <component v-bind:is="annotationModule"
                       v-bind:config="config"
                       v-bind:status="status"
                       v-bind:pinSelection="pinSelection"
                       v-bind:annotationModule="annotationModule"
                       v-bind:annotationInstance="findAnnotation"
                       v-bind:annotationConfig="annotationConfig"
                       v-bind:lib="lib"
                       v-bind:rangy="rangy"
                       v-bind:heightPX="heightPX"
                       v-on:hide="hide"></component>
          </div>

          <!-- =========================================== -->
          <div class="column annotation-discussion" 
               v-if="annotationConfig.enableCollaboration">
            <annotation-discussion ref="AnnotationDisscussion"
              v-bind:config="config"
              v-bind:status="status"
              v-bind:lib="lib"
              v-bind:annotationInstance="findAnnotation"></annotation-discussion>
          </div>
        </div>
      </template> <!-- <template v-else> -->
        
    </div>
  </div>
  