<fragment>
  <div class="annotation-panel"
       v-bind:class="{'hidden': isHide}">
    <div class="ui segment form "
         v-bind:style="{'height': heightVH + 'vh'}"
         ref="panel">

      <div class="ui stackable"
           v-bind:class="computedGridClass">
        <div class="column annotation-editor">
          <component v-bind:is="annotationModule"
                     v-bind:config="config"
                     v-bind:status="status"
                     v-bind:annotationModule="annotationModule"
                     v-bind:lib="lib"
                     v-bind:error="error"></component>
        </div>
        
        <!-- =========================================== -->
        <div class="column annotation-discussion" 
             style="background-color: green;"
             v-if="enableCollaboration">
          <annotation-discussion v-bind:config="config"
            v-bind:status="status"
            v-bind:progress="progress"
            v-bind:lib="lib"
            v-bind:error="error"
            ref="AnnotationDisscussion"></annotation-discussion>
        </div>
      </div>
      
      <!--
        <div class="field">
          Annotation Panel

          <button type="button"
                  class="ui button"
                  v-on:click="hide">Close</button>
        </div>
      -->
    </div>
  </div>
</fragment>
  