<div class="annotation-type-selector"
     ref="Selector">
  
  <vue-fab ref="fab"
           mainBtnColor="#E6AD07"
           size="big"
           iconType="SemanticUI"
           clickAutoCloseType="fab"
           v-bind:hideOnStart="false"
           v-bind:transitionEnable="true"
           v-bind:scrollAutoShow="false"
           v-bind:autoOpenMenu="true">
      <fab-item v-for="(module, i) in modules"
                v-on:clickItem="clickItem(module.type)" 
                v-bind:idx="i"
                v-bind:title="$t('ANNOTATION_TYPE.' + module.type)"
                v-bind:icon="module.style.button.icon"
                v-bind:btnColor="module.style.button.backgroundColor"></fab-item>

  </vue-fab>
  
</div>