<div class="annotation-type-selector"
     ref="Selector">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <vue-fab ref="fab"
           mainBtnColor="#E6AD07"
           size="big"
           v-bind:hideOnStart="true"
           v-bind:scrollAutoShow="false"
           v-bind:autoOpenMenu="true"
           v-bind:globalOptions="{spacing: 50}">
    <fab-item @clickItem="clickItem" :idx="0" title="add" icon="add" />
    <fab-item @clickItem="clickItem" :idx="1" title="https" icon="https" />
    <fab-item @clickItem="clickItem" :idx="2" title="edit" icon="edit" />
  </vue-fab>
  
</div>