<div class="ui segment">
  <div class="ui middle aligned two column grid">
      <div class="ten wide column summary">
        {{ instruction.summary }}
      </div>
      <div class="six wide right floated right aligned column">
        <button type="button"
          class="ui mini button"
          v-on:click="showInstruction">
          {{ $t('Hint') }}
        </button>
      </div>
  </div>
  
  <!-- ================================= -->
  
    <modal ref="Modal"
         v-bind:config="config"
         v-bind:status="status"
         v-bind:contentURL="instruction.url"
         cancelButtonText="CLOSE"
         cancelable="true">
      <template v-slot:header>
        <annotation-module-button 
          v-bind:status="status"
          v-bind:style="{float: 'left', 'margin-right': '1em'}"
          v-bind:annotationModule="annotationModule"></annotation-module-button>
        {{ instruction.summary }}
      </template>
  </modal>
</div>