[data-pacor-section-seq-id] [data-pacor-paragraph-seq-id] {
  .pacor-selection {
    //background-color: rgba(255,255,0, 0.7);
    //filter: invert(0.7)
    background-color: rgba(0,0,255,0.7);
    color: white;
  }
  
  .pacor-hover {
    //background-color: rgba(255,255,0, 0.7);
    //filter: invert(0.7)
    //background-color: rgba(0,255,0,0.7);
    //color: white;
    //color: blue !important;
    //border-bottom: 1px solid red;
    text-decoration: underline;
  }
}
  