<div class="non-invasive-web-style-framework" ref="panel">
  <div class="ui segment">
    <section-checklist
      v-if="!isChecklistSubmitted"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      v-bind:node="node"
      v-bind:sectionSeqID="sectionSeqID"
      v-bind:sectionsData="sectionsData"></section-checklist>
    
    <section-annotation-list
      v-if="isChecklistSubmitted"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      v-bind:node="node"
      v-bind:sectionSeqID="sectionSeqID"
      v-bind:sectionsData="sectionsData"></section-annotation-list>
  </div>
</div>