.username {
  margin-left: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  
  .step {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5em;
  }
}

.avatar img {
  margin-left: 0.5em !important;
}

/*@media (max-width: 400px) {
  .username .step {
    display: none;
  }
}*/

.cog.icon {
  margin-left: 0.5em !important;
}