<a class="fitted item avatar NavigationHeaderItem"
   v-on:click="$emit('click')">
  <img v-bind:src="status.avatar"
       class="user-avatar">
  <div class="username">
    {{ lib.auth.username }}
    <div class="step">
      <template v-if="lib.auth.currentStep !== 'FreeReading'">
        {{ $t('In {0} step', [$t('READING_PROGRESS.' + lib.auth.currentStep)]) }}
        <i class="question circle icon"></i>
      </template>
      <template v-if="status.role !== 'reader'">
        {{ $t('Open Administration Panel') }}
        <i class="cog icon"></i>
      </template>
    </div>
  </div>
</a>