.username {
  margin-left: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  
  
  
  @media (max-width: 480px) {
    display: none;
  }
  
  .step {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5em;
  }
}

.user-avatar {
  max-height: 2.5em;
  width: auto !important;
}

.avatar img {
  margin-left: 0.5em !important;
}

/*@media (max-width: 400px) {
  .username .step {
    display: none;
  }
}*/

.cog.icon {
  margin-left: 0.5em !important;
}

.vertical-menu {
  .avatar.item {
    display: inline-block;
    
    &:before {
      background-color: transparent !important;
    }
    
    img {
      //margin-left: 0em !important;
      display: inline-block !important;
      vertical-align: middle;
    }
    
    .username {
      margin-left: 0 !important;
      display: inline;
      vertical-align: middle;
      
      .step {
        margin-top: 0.5em;
      }
    }
  } 
  
  .NavigationHeaderItem ::v-deep .UserAvatar {
    img {
      vertical-align: top;
    }
    
    .icon-container .icon {
      margin-top: -0.2em;
    }
  }
}

.NavigationHeaderItem ::v-deep .UserAvatar {
  margin-left: 0.5rem;

  .icon-container {
    top: 1.4em;
    left: -0.5em;
    text-align: right;

    .icon {
      margin-top: 0.05em;
      font-size: 0.8em;
      margin-left: 0em;
      margin-right: 0.15em;
    }
  }
}