<div class="ui form segment">
    
  <div class="ui field">
    <label for="loginDomain">
      {{ $t('Domain') }}
    </label>
    <input type="text" 
           id="loginDomain"
           v-model="domain" />
  </div>
  
  <div class="ui field">
    <label for="loginUsername">
      {{ $t('Username') }}
    </label>
    <input type="text" 
           id="loginUsername"
           v-model="username" />
  </div>
    
  <div class="ui field">
    <label for="loginPassword">
      {{ $t('Password') }}
    </label>
    <input type="password" 
           id="loginPassword"
           v-model="password" />
  </div>
  
  <div class="ui six buttons">
    <button type="button" 
            class="ui button"
            v-on:click="login"
            v-bind:class="{disabled: !isLoginEnable}">
      {{ $t('Login') }}
    </button>
  </div>
  
</div>