<div class="ui form">
  <div class="ui secondary menu">
    <a class="icon item"
       v-bind:href="'#/webpage-dashboard/' + $route.params.webpageID">
      <i class="angle left icon"></i>
    </a>
    <div class="item">
      <div class="ui header">
        <div class="content">
          <div class="sub header">{{ webpagePath }}</div>
          <h2>
            {{ user.username }}
            <template v-if="user.username !== user.display_name">
              ({{ user.display_name }})
            </template>
          </h2>
        </div>
      </div>
    </div>
    <div class="right menu">
      <a v-bind:href="status.webpageURL"
         class="ui item"
         target="_blank">
        <i class="external link icon"></i>
        {{ $t('Open Webpage') }}
      </a>
      <a href="/admin/Database/admin?table=reading_progresses"
         class="ui item"
         target="_blank"
         v-if="status.role='global_admin'">
        <i class="database icon"></i>
        {{ $t('Database') }}
      </a>
    </div>
  </div>
  
  <!-- ======================================== -->
</div>