<div class="ui form">
  <div class="ui secondary menu">
    <a class="icon item"
       v-bind:href="'#/webpage-dashboard/' + $route.params.webpageID">
      <i class="angle left icon"></i>
    </a>
    <a class="icon item">
      <img v-bind:src="user.avatar_url" />
    </a>
    <div class="item">
      <div class="ui header">
        <div class="content">
          <div class="sub header">{{ webpagePath }}</div>
          <h2>
            {{ user.username }}
            <template v-if="user.username !== user.display_name">
              ({{ user.display_name }})
            </template>
          </h2>
        </div>
      </div>
    </div>
    <div class="right menu">
      <a v-bind:href="status.webpageURL"
         class="ui item"
         target="_blank">
        <i class="external link icon"></i>
        {{ $t('Open Webpage') }}
      </a>
      <a href="/admin/Database/admin?table=reading_progresses"
         class="ui item"
         target="_blank"
         v-if="status.role='global_admin'">
        <i class="database icon"></i>
        {{ $t('Database') }}
      </a>
    </div>
  </div>
  
  <!-- ======================================== -->
  
  <table-of-contents v-bind:config="config"
                     v-bind:lib="lib"
                     headings="h3, h4"
                     ref='toc'></table-of-contents>
  
  <div v-for="step in user.readingProgresses"
       class="ui segment">
    <h3 v-bind:id="attrHeaderID(step.step_name)">
      {{ $t('READING_PROGRESS.' + step.step_name) }}
    </h3>
    <component v-bind:is="step.step_name"
                v-bind:config="config"
                v-bind:status="status"
                v-bind:progress="progress"
                v-bind:lib="lib"
                v-bind:error="error"></component>
  </div>
</div>