<div class="ui segment AnnotationComment"
     v-bind:data-comment-id="comment.id">
  <div class="meta text-container">
    
    <span class="display-time">
      {{ displayTime }}
    </span>

    <annotation-item-interactive
      v-if="comment.user_id !== status.userID"
      
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      
      v-bind:enableComment="false"
      v-bind:annotation="comment"
      v-on:like="$emit('like')"
      v-on:unlike="$emit('unlike')"
      v-on:comment="$emit('comment')"
      size="mini"
      v-bind:showLabel="false">
    </annotation-item-interactive>
    
    <div v-if="comment.user_id === status.userID"
         class="control-buttons">
      <button type="button"
              class="ui mini button"
              v-on:click="$emit('edit')">
        {{ $t('EDIT') }}
      </button>
      <button type="button"
              class="ui mini button"
              v-on:click="onDelete">
        {{ $t('DELETE') }}
      </button>
    </div>
  </div>
  
  <!-- ======================================================= -->

  <div class="left column">
    <div class="user">
      <img v-bind:src="comment.user.avatar_url"
           class="avatar"/>
      <div class="username text-container">
        {{ username }}
      </div>
      <div class="colon text-container">
        :
      </div>
    </div>

    <div class="note text-container" 
         v-if="note" 
         v-html="note"></div>
  </div>
</div>