<div class="ui form UserDashboard">
  <div class="ui secondary menu">
    <a class="icon item"
       v-bind:href="'#/webpage-dashboard/' + $route.params.webpageID">
      <i class="angle left icon"></i>
    </a>
    <div class="item">
      <div class="ui header">
        <div class="content">
          <div class="sub header">{{ webpagePath }}</div>
          <h2 class="gruop-seq-id-header">
            {{ $t('Group') }} #{{ (group.group_seq_id + 1)  }} ({{ $t('{0} users', group.users.length, [group.users.length]) }})
          </h2>
        </div>
      </div>
    </div>
    <div class="right menu">
      <a v-bind:href="status.webpageURL"
         class="ui item"
         target="_blank">
        <i class="external link icon"></i>
        {{ $t('Open Webpage') }}
      </a>
      <a href="/admin/Database/admin?table=reading_progresses"
         class="ui item"
         target="_blank"
         v-if="status.role='global_admin'">
        <i class="database icon"></i>
        {{ $t('Database') }}
      </a>
    </div>
  </div>

  <!-- ======================================== -->

  <table-of-contents 
    v-bind:config="config"
    v-bind:lib="lib"
    headings="h3, h4"
    ref='toc'></table-of-contents>

  <!-- ======================================== -->
  
  <div class="ui segment">
    <h3 v-bind:id="attrHeaderID('configuration')">
      {{ $t("Configuration") }}
    </h3>
    
    <div class="ui form">
      <div class="grouped fields">
        <label>{{ $t("Dashboard Mode") }}</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" 
                   name="dashboardMode" 
                   v-model="dashboardFilterMode"
                   value="onlyCompleted"
                   id="dashboardFilterMode_onlyCompleted">
            <label for="dashboardFilterMode_onlyCompleted">
              {{ $t('Completed') }}
            </label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" 
                   name="dashboardMode" 
                   v-model="dashboardFilterMode"
                   value="all"
                   id="dashboardFilterMode_all">
            <label for="dashboardFilterMode_all">
              {{ $t('All') }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui segment" v-if="groupIndicatorsKeys.length > 0">
    <h3 v-bind:id="attrHeaderID('indicators')">
      {{ $t("Group Indicators") }}
    </h3>
    
    <table class="ui table">
      <thead>
        <tr>
          <th>
            {{ $t('Indicator') }}
          </th>
          <th>
            {{ $t('Value') }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="key in groupIndicatorsKeys">
          <td>{{ $t('indicator_' + key) }}</td>
          <td>{{ groupIndicators[key] }}</td>
        </tr>
      </tbody>
    </table>
    
    <form class="ui form">
      <a class="ui fluid button"
          v-on:click="lib.ClipboardHelper.copy(groupIndicatorsTSV)">
         <i class="copy icon"></i>
         {{ $t('Copy') }}
       </a>
      <textarea v-model="groupIndicatorsTSV"></textarea>
    </form>
  </div>
  
  <div class="ui segment">
    <h3 v-bind:id="attrHeaderID('groupMembers')">
      {{ $t("Group Members") }}
    </h3>
    
    <div class="ui cards">
      <reader-card 
        v-for="groupUser in group.users"
        v-bind:user="groupUser"
        v-bind:lib="lib"
        v-bind:status="status"
        v-bind:config="config"
        v-bind:viewOnNewWindow="true"
      ></reader-card>
    </div>
  </div>
  
  <div class="ui segment">
    <h3 v-bind:id="attrHeaderID('socialNetworksData')">
      {{ $t('Social Networks Data') }}
    </h3>
    
    <div v-for="(sn, i) in group.socialNetworks"
         class="period-container">
      <h4 v-bind:id="attrHeaderID('socialNetworks' + i)">
        {{ $t("Period") }} {{ (i+1) }}:
        {{ sn.startTimestamp }}
        - 
        {{ sn.endTimestamp }}
      </h4>
      
      <div class="ui form">
        <div class="two fields">
          <div class="field">
            <label>
              {{ $t('Nodes') }}
            </label>
            <textarea v-html="nodesTable(sn.nodes)"></textarea>
          </div>
          <div class="field">
            <label>
              {{ $t('Edges') }}
            </label>
            <textarea v-html="edgesTable(sn.nodes, sn.edges)"></textarea>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="ui segment">
    <h3 v-bind:id="attrHeaderID('socialNetworksGraph')">
      {{ $t('Social Networks Graph') }}
    </h3>
    
    <div v-for="(sn, i) in group.socialNetworks"
           class="period-graph-container">
        <h4 v-bind:id="attrHeaderID('socialNetworksGraphs' + i)">
          {{ $t("Graphs") }} {{ (i+1) }}:
          {{ sn.startTimestamp }}
          - 
          {{ sn.endTimestamp }}
        </h4>

        <div class="graph-container"
             v-bind:id="'graph_container_' + i"></div>

    </div>
  </div>
    
  <div class="ui segment">
    <h3 v-bind:id="attrHeaderID('export')">
      {{ $t('Export') }}
    </h3>
    
    <form class="ui form">
      <a class="ui fluid button"
         v-bind:href="groupExportLink">
        <i class="download icon"></i>
        {{ $t('Export Group Data') }}
      </a>
    </form>
  </div>
</div>