<!DOCTYPE html>
<!--
字數: 125
段落數量: 4
小節數量: 1
-->
<html>
  <head>
    <title>緋寒櫻、八重櫻、吉野櫻……你知道台灣有多少種櫻花嗎？</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <h1>緋寒櫻、八重櫻、吉野櫻……你知道台灣有多少種櫻花嗎？</h1>
      <a href="https://www.storm.mg/article/94340" target="_blank">文章來源：風傳媒</a>
    
      <!-- <img src="/pretest/articles-images/three-mountains-king/kings.png"  /> -->
      
      <section>
        <h2>臺灣的櫻花種類</h2>
        
        <img src="/pretest/articles-images/sakura/Taiwan-mountain-cherry-blossoms.jpg"  />
        <p class="image-label">又名「緋寒櫻」的台灣山櫻花（維基百科）</p>
        
        <p>櫻花綻放象徵春天到來，全台各地都有不少賞櫻勝地，但阿里山與陽明山的櫻花又有何不同？台灣到底擁有多少品種櫻花？讓台北市花卉試驗中心主任張旃榕來一解疑惑。</p>
        
      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
