<!DOCTYPE html>
<!--
字數: 200
段落數量: 2
小節數量: 1
-->
<html>
  <head>
    <title>家八哥</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <h1>家八哥</h1>
      <!-- <a href="https://www.storm.mg/article/94340" target="_blank">文章來源：風傳媒</a> -->
    
      <!-- <img src="/pretest/articles-images/three-mountains-king/kings.png"  /> -->
      
      <section>
        
        <img src="/pretest/articles-images/acridotheres/common-myna-4831045_1280.jpg"  />
        
        <p>家八哥是原生於亞洲的鳥類，由於對環境的適應力強，飼養容易，加上模仿聲音的能力也很強，因此成為頗受歡迎的寵物而引薦到世界各地。他們來到臺灣之後，部分逸出而在野外落地生根，甚至對臺灣原生的八哥產生排擠效應。</p>
        <p>如今都市環境幾乎已經成為家八哥的天下，即使是高度人工化的環境，家八哥也適應良好，常常看到牠們在行道樹及安全島間呼嘯而過，而且一點也不怕人，還會模仿其他鳥類的鳴聲，讓人啼笑皆非，堪稱是鳥類中的大頑童。</p>
        
      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
