<!DOCTYPE html>
<!--
字數: 994
段落數量: 17
小節數量: 3
-->
<html>
  <head>
    <title>蝙蝠為什麼這麼神奇　身上有百毒卻百毒不侵？</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <h1>蝙蝠為什麼這麼神奇　身上有百毒卻百毒不侵？</h1>
      <!--
      <a href="https://www.commonhealth.com.tw/article/article.action?nid=80980" target="_blank">文章來源：康健</a>
      -->
      <!-- <img src="/pretest/articles-images/three-mountains-king/kings.png" /> -->
      
      <section>
        <p>每次人類遭受病毒入侵引發疫情，蝙蝠總是頭號嫌疑犯，事後也證明牠大多數時候沒有被冤枉，很多病毒的源頭確實是牠。而且蝙蝠身上還不只已經在人類世界造成傷亡的這些病毒而已，還有60～100種其它的病毒，但蝙蝠自己卻完全不會因為這些病毒而生病，牠為什麼這麼神奇？</p>

        <p>好萊塢多部世界末日電影裡，世界的毀滅，都以一場傳染病開始。武漢肺炎發生之後，一部已經快10年的舊片《全境擴散》突然爆紅。</p>
        <p>電影裡，事件開始的第一天，某地，蝙蝠漫天，一隻蝙蝠啃飽樹上芭蕉之後，飛進豬舍，倒掛在屋樑上，大了一坨大便，大便掉進了飼料槽裡，被豬吃了進去。</p>
        <p>接著，烤乳豬的大廚到了豬舍，精挑細選選了隻小豬。回到廚房，他殺了豬，正在滿是豬血、體液的檯子上處理小豬，前檯服務生進來通知，從美國到香港出差的貴客（葛妮絲．派特洛飾演）要向大廚致意，大廚的手離開小豬，在圍裙上擦了擦手，出來餐廳和葛妮絲．派特洛握手、拍照留念。接著，隨著葛妮絲．派特洛在香港、澳門的洽商和娛樂路線，病毒向全球擴散。</p>
      </section>
      <section>
        <h2>最危險的病毒都來自蝙蝠</h2>
        
        <img src="/pretest/articles-images/bat-virus/virus.jpg" />
        
        <p>立白、亨德拉、伊波拉、MERS、SARS，這些都是世界上最危險的病毒。像伊波拉這一類出血性傳染病，會殺死90％的受感染者。這些惡名昭彰的病毒都是近50年來才出現在人類中，而攜帶這些病毒的，都是蝙蝠。</p>
        <p>蝙蝠這物種極其特殊，牠身上攜帶的、對人類致命的病毒種類和數量，超過絕大多數的動物，一個主要原因是蝙蝠喜歡群居，不同種類的蝙蝠，會大量聚集在擁擠閉塞的空間裡，使得病毒在蝙蝠之間你傳我、我傳你。</p>
        <p>那麼為什麼大多數受感染的蝙蝠不會死亡，還到處飛行傳播病毒呢？</p>
      </section>
      <section>
        <h2>飛行增強修復力　讓蝙蝠百毒不侵</h2>
        
        <img src="/pretest/articles-images/bat-virus/bat-fly.jpg" />
        
        <p>一般來說，會飛的動物，絕大部份不是哺乳類，因為飛行需要大量的能量，哺乳類動物沒有辦法在不產生損害DNA的副產品下飛行，但蝙蝠就可以。</p>
        <p>當蝙蝠在空中飛行的時候，反而會增強飛行時DNA的修復能力和產生其他防護作用，這些變化能夠抑制入侵者的特殊細胞，讓蝙蝠就能百毒不侵。</p>
        <p>病毒又是怎麼樣在蝙蝠體內生存的呢？</p>
        <p>很多病毒儘管惡名昭彰，其實它們的生存條件十分挑剔，它們需要體內溫度有著精密控制的陸地動物。</p>
        <p>而當蝙蝠飛行的時候，他的體溫上升到40℃左右，一般病毒是難以承受這種高溫的，但少數堅強的病毒進化到能夠承受這種熱度，也就是說，它們進到人體細胞內之後，人的免疫系統對它發動戰爭，引發發燒，但發燒的溫度對他們來講只是小菜一碟。</p>
        <p>當人類的活動侵入蝙蝠棲息地，也就消除了人類與蝙蝠的生存界線；除非人類限縮活動範圍，否則人與蝙蝠身上病毒的戰爭，永無休止。</p>
      </section>
      
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
