<!DOCTYPE html>
<html>
  <head>
    <title>人們對於CD保存資料的誤解</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <section>
      <h1>人們對於CD保存資料的誤解</h1>
      <!-- https://www.sc-top.org.tw/download/mock2/rd_mock2_test_BandB_t.pdf -->
      
      <img src="/pretest/articles-images/cd/cd-1840048_1280.jpg.png" />
      <!-- https://pixabay.com/photos/disease-medicine-health-medication-4392166/ -->
      
      <p>一般人都以為用 CD 儲存資料，就能永久保存珍貴的相片或影片，這恐怕是錯誤觀念。</p>
      <p>日本最新研究發現，CD 也有壽命，如果 CD 長期被放在潮濕的地方或陽光下，時間久了，檔案損壞的風險一定較高。因此，要想保存珍貴影像，最好還是定期在不同地方多儲存幾份。</p>

      </section>
    </article>

    <!--
    <script src="/spa/client-loader.js" async></script>
    -->

  </body>
</html>
