<!DOCTYPE html>
<!--
字數: 138
段落數量: 4
小節數量: 1
-->
<html>
  <head>
    <title>紙是誰發明的？</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <section>
      <h1>紙是誰發明的？</h1>
      <!-- https://www.sc-top.org.tw/download/mock2/rd_mock2_test_BandB_t.pdf -->
      
      <img src="/pretest/articles-images/chinese-paper/papermaking.png" />
      <!-- https://www.xuehua.us/2018/11/13/%E7%81%9E%E6%A1%A5%E7%BA%B8%E3%80%81%E8%94%A1%E4%BE%AF%E7%BA%B8%E5%92%8C%E8%BF%98%E9%AD%82%E7%BA%B8%E9%83%BD%E6%98%AF%E4%BB%80%E4%B9%88%E7%BA%B8%E5%8F%88%E6%98%AF%E5%A6%82%E4%BD%95%E5%88%B6%E6%88%90/zh-tw/ -->
      
      <p>在中國，多數人長久以來都認為紙是東漢時期的蔡倫發明的，如今這個觀點被推翻了。根據考古學家的最新發現，在蔡倫之前，中國人早已知道如何造紙，只是造紙的品質較差罷了。</p>
      <p>儘管蔡倫不是發明紙的人，但他卻改進了造紙的材料和技術。大家為了紀念他的貢獻，便把這種改良過的紙叫做「蔡侯紙」。</p>

      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
