<!DOCTYPE html>
<!--
字數: 141
段落數量: 4
小節數量: 1
-->
<html>
  <head>
    <title>情人節送什麼？</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <section>
      <h1>情人節送什麼？</h1>
      <!-- https://www.sc-top.org.tw/download/mock2/rd_mock2_test_BandB_t.pdf -->
      
      <img src="/pretest/articles-images/chocolate/box-161289_1280.png" />
      <!-- https://pixabay.com/photos/disease-medicine-health-medication-4392166/ -->
      
      <p>西洋情人節這一天，情人之間會互相贈送禮物，主要是希望能向對方表達自己濃濃的愛。</p>
      <p>送給情人的禮物有很多選擇，其中，除了常見的鮮花，巧克力也是很受歡迎的禮物。有些人覺得巧克力太甜，容易讓人變胖。事實上，每天吃一點巧克力對健康很有幫助，尤其是顏色深、味道苦的巧克力，越黑越苦越健康。</p>

      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
