<!DOCTYPE html>
<!--
字數: 168
段落數量: 4
小節數量: 1
-->
<html>
  <head>
    <title>世界地球日的由來</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <section>
      <h1>世界地球日的由來</h1>
      <!-- https://www.sc-top.org.tw/download/mock2/rd_mock2_test_BandB_t.pdf -->
      
      <img src="/pretest/articles-images/earth-day/earth-day-4867842_1280.jpg" />
      <!-- https://previews.123rf.com/images/kumer/kumer1704/kumer170400026/76575431-world-earth-day-concept-3d-paper-cut-eco-friendly-design-vector-illustration-paper-carving-earth-map.jpg -->
      
      <p>每年春分這一天，日、夜時間一樣長，世界各地都能照到陽光，有「平等」之意，因此，聯合國將這天定為「世界地球日」，宣傳平等的理想。</p>
      <p>事實上，每年的地球日本來日期都不固定，直到 1970 年，美國一名大學生在該年的地球日──4 月 22 日發起環境保護活動，獲得全美二千多萬人的響應與支持。由於該次活動非常成功，此後的地球日就定在 4 月 22 日，主題也轉而趨向環保。</p>
      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
