<!DOCTYPE html>
<!--
字數: 195
段落數量: 2
小節數量: 1
-->
<html>
  <head>
    <title>避債蛾</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <section>
      <h1>避債蛾</h1>
      <!-- <a href="https://www.storm.mg/article/94340" target="_blank">文章來源：風傳媒</a> -->
    
      <!-- <img src="/pretest/articles-images/three-mountains-king/kings.png"  /> -->
     
        <img src="/pretest/articles-images/eumeta-japonica/752959528_m.jpg"  />
   
        <p>避債蛾的名字和外表都非常有趣，大概看過一次就不會忘了。只是想要一睹避債蛾的廬山真面目，真的一點都不容易，牠們多半穩當地躲在細心營造的蟲袋裡，絕不以真面目示人。</p>
        <p>避債蛾的蟲袋外表大異其趣，端視幼蟲找到的植物素材而定。避債蛾幼蟲結成蟲袋，在蟲袋的外表細心粘貼葉片、乾燥的樹皮或細小的枝條，將自己偽裝成植物的一部分。幼蟲只有在進食或移動時，才會彈出頭來，但又機警萬分，一有風吹草動，馬上縮回蟲袋裡。</p>
        
      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
