<!DOCTYPE html>
<html>
  <head>
    <title>國王的實驗</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <section>
      <h1>國王的實驗</h1>
      <!-- https://www.sc-top.org.tw/download/mock2/rd_mock2_test_BandB_t.pdf -->
      
      <img src="/pretest/articles-images/first-language/twins-1628843_1280.jpeg" />
      <!-- https://www.xuehua.us/2018/11/13/%E7%81%9E%E6%A1%A5%E7%BA%B8%E3%80%81%E8%94%A1%E4%BE%AF%E7%BA%B8%E5%92%8C%E8%BF%98%E9%AD%82%E7%BA%B8%E9%83%BD%E6%98%AF%E4%BB%80%E4%B9%88%E7%BA%B8%E5%8F%88%E6%98%AF%E5%A6%82%E4%BD%95%E5%88%B6%E6%88%90/zh-tw/ -->
      
      <p>西元七世紀，古埃及一位國王為證明埃及語是世上最古老的語言，於是派官兵與護士將兩名剛出生不久的嬰兒，帶往國內一處無人居住的祕密地點，他規定全體人員除了提供嬰兒飲食以外，不准與嬰兒有任何語言交流。國王認為，孩子所發出的第一個聲音一定是人類最古老的語言，而他也希望這個聲音屬於埃及語。然而事與願違，兩年後孩子們最先發出的音與埃及語毫無關係，令國王失望極了。</p>
      <p>這就是人類歷史上最早記載的心理學實驗，雖然實驗失敗了，卻證明了人類早在一千多年前，便開始為研究神秘的心理現象而努力著。</p>

      </section>
    </article>

    <!--
    <script src="/spa/client-loader.js" async></script>
    -->

  </body>
</html>
