<!DOCTYPE html>
<!--
字數: 
段落數量: 
小節數量: 1
-->
<html>
  <head>
    <title>金銀花</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <section>
      <h1>金銀花</h1>
      <!-- <a href="https://www.storm.mg/article/94340" target="_blank">文章來源：風傳媒</a> -->
    
      <!-- <img src="/pretest/articles-images/three-mountains-king/kings.png"  /> -->
      
      
        <img src="/pretest/articles-images/honeysuckle/hummingbird-3664506_1280.jpg"  />
  
        <p>金銀花又叫做忍冬，是十分常見的觀賞植物，也是著名的中藥材。由於花朵初綻放時是白色，而後轉成金黃色，因此一植株上常常白花、黃花參差不齊，也才有了「金銀花」之名。</p>
        <p>其實「忍冬」之名或許更為貼切。在冬末乍暖還寒的時節，籬笆上的金銀花早已不畏低溫，悄悄綻放容顏，為尚嫌蕭瑟的精緻憑添幾許顏色。特別是金銀花為攀緣性植物，在陽光充足的一面盛放花朵，而且一開就是鋪天蓋地，煞是好看，還有微微的香氣，讓感官有了莫大的滿足。</p>
        
      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
