<!DOCTYPE html>
<!--
字數: 571
段落數量: 9
小節數量: 1
-->
<html>
  <head>
    <title>顯微鏡</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>

    <article>
      <h1>顯微鏡</h1>
      <section>
        <p>兩千年前，羅馬人就開始使用放大鏡，後來威尼斯人發明了製造透明玻璃的方法，並將這些玻璃研製成凸透鏡，讓老年人的老花眼看得更清楚。之後又發現凹透鏡可以改善近視眼的視力，因此，從十四世紀開始就有人在製造眼鏡。</p>
        <p><img src="/pretest/articles-images/microscope/magnifying-glass-3714542_640.jpg" /></p>
        <p>後來，荷蘭的眼鏡技師楊森發明了顯微鏡，雖然性能簡陋，如同玩具一般，但他卻非常感興趣，時常用來觀察一些自然界的小蟲子，並認為想看得更清楚，只要把眼睛湊近觀察就足夠了。</p>
        <p>一六六五年，英國科學家虎克發明複合式顯微鏡，這是第一部具實用功能的顯微鏡。它利用自己的顯微鏡觀察各種動、植物及礦物。他在觀察軟木的構造時，發現軟木是由許多小孔組成，他將這些小孔命名為「細胞」，引發人類對微小世界的研究興趣。</p>
        <p>一六七三年，荷蘭的眼鏡技師雷文霍克研磨了許多精巧的透鏡，其中不乏放大倍數在一百倍以上的單片顯微鏡。有一次，他在泥水中發現有小生物存在，是歷史上第一個看見細菌的人。</p>

        <p><img src="/pretest/articles-images/microscope/cells-1872666_640.jpg" /></p>
        <p>透過顯微鏡，人們看見許多肉眼看不見的東西，了解未知的微小世界，對生物學、醫學的進步有莫大的幫助。現在的顯微鏡，已由單片透鏡發展為多片透鏡組合，並可分為「光學顯微鏡」及「電子顯微鏡」。光學顯微鏡的放大倍數從十倍到一千五百倍不等；電子顯微鏡可將物體放大到二十萬倍，不過物體必須切成薄片才能觀察，這是一九三一年由德國科學家魯司卡及古諾爾共同發明的。</p>
        <p>顯微鏡的發明，解答了人類自古以來的許多疑問，也讓科學的研究技術更加日新月異。</p>
        <p><img src="/pretest/articles-images/microscope/microscope-1817641_640.jpg" /></p>
      </section>
    </article>
    <script src="/spa/client-loader.js" async></script>
  </body>
</html>
