<!DOCTYPE html>
<!--
字數: 195
段落數量: 2
小節數量: 1
-->
<html>
  <head>
    <title>五節芒</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <!-- <a href="https://www.storm.mg/article/94340" target="_blank">文章來源：風傳媒</a> -->
    
      <!-- <img src="/pretest/articles-images/three-mountains-king/kings.png"  /> -->
      
      <section>
      <h1>五節芒</h1>
        
        <img src="/pretest/articles-images/miscanthus-floridulus/Miscanthus_floridulus_-_panoramio.jpg"  />
        
        <p>秋天是賞芒的季節，原本剛硬銳利的五節芒，抽出一根根花梗之後，滿山遍野白茫茫的芒花，讓它們的容貌柔化了，跟盛夏時惹人生厭的「管芒」（台語）好像是截然不同的植物。</p>

        <p>五節芒是台灣最常見的草本植物，幾乎走到那裡都可以看到它們，尤其五節芒的種子數量之多與發芽率之高，讓它們隨時都可落地生根。樹林被清除之後，裸露的土地很快就會被五節芒佔據，五節芒屬於陽光先驅植物，一旦有它們落腳，其他植物很難越雷池一步。</p>

      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
