<!DOCTYPE html>
<!--
字數: 125
段落數量: 4
小節數量: 1
-->
<html>
  <head>
    <title>早上讀書效果好</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <h1>早上讀書效果好</h1>
      <!-- <a href="https://www.storm.mg/article/94340" target="_blank">文章來源：風傳媒</a> -->
    
      <!-- <img src="/pretest/articles-images/three-mountains-king/kings.png"  /> -->
      
      <section>
        
        <img src="/pretest/articles-images/morning-reading/coffee-2246468_1280.jpg"  />
        
        
        <p>現代人作息時間不定，特別是學生，喜歡熬夜讀書，開夜車。但是有句俗話說：「一日之計在於晨」，就是強調早上的光陰非常寶貴，如果能妥善運用，將會衍生很好的效益。</p>
        
        <p>早起有什麼好處呢？有人喜歡利用早上的時候讀書，主要是因為這個時段外在環境的條件好，例如：空氣清新、乾淨、新鮮，容易使人精神抖擻。另外，經過一夜的睡眠與休息後，人在早上的精神和體力，也都會呈現出最佳狀態，讀起書來當然效果絕佳。</p>
        
        <p>在一天的時間裡，我們可以說是不停的活動，這些活動有些是例行的、規律的，有些則是需要大費腦力。不管是什麼樣的活動，都會讓我們的大腦中樞神經漸漸疲勞。中樞神經一旦疲勞，就會妨礙大腦的運作，使我們注意力分散、記憶力減退、思考能力變差。如果在這個時候從事用腦的活動，例如：讀書，效果當然很差。</p>
        
        <img src="/pretest/articles-images/morning-reading/despair-513529_1280.jpg"  />
        
        <p>疲勞的時候，應該及時補充睡眠，好好休息，以消除疲勞、恢復精神和體力，如此可以使注意力再度集中、記憶力變好、思考能力增強，這時候做什麼事都能事倍功半，效益良好。早上起床，不只精神、體力都處於最佳狀態，清新的空氣更有利於大腦活動。很多人都會起個大早，利用早上這一段時間運動或讀書，常常會有意想不到的效果。但如果前一個晚上沒睡好，第二天早上起來，可能還是昏昏沉沉的，那可就沒什麼效果了！</p>

        <p>當然，我們說早上讀書效果好，但是對於一些喜歡晚睡晚起的「夜貓子」來說，他們可不會認同這一點。因為他們的生理時鐘和一般人不一樣，越是黑夜，精神越好。所以要「夜貓子」早起讀書，那可是一件殘忍的事。</p>

        <p>但是不論如何，早睡早起是維持身體健康的好方法，希望你也試著做做看！</p>
        
        
        
      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
