<!DOCTYPE html>
<!--
字數: 195
段落數量: 2
小節數量: 1
-->
<html>
  <head>
    <title>與人類共處的生物</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <!-- <a href="https://www.storm.mg/article/94340" target="_blank">文章來源：風傳媒</a> -->
    
      <!-- <img src="/pretest/articles-images/three-mountains-king/kings.png"  /> -->
      
      <section>
        
      <h1>與人類共處的生物</h1>
        <img src="/pretest/articles-images/people-bird/bird-2590901_1280.jpg"  />
        
        <p>台灣地小人稠，龐大的人口壓力迫使許多生物的生存空間不斷遭到壓縮。除了都會空間之外，近郊的低海拔山林也一一開發成別墅住宅，許多山林逐漸破碎，殘餘的生物好像生活在一座座綠色孤島裡，偶爾越界闖入人們的生活空間，還會激起不小的漣漪。</p>
        <p>不過生物的韌性往往是出人意表的，有些「識時務者為俊傑」的生物找到可利用的空間或資源，反而安然地在人們周遭生活下來，例如生活於水邊的夜鷺和翠鳥，就是其中兩個鮮明的例子。</p>
        
      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
