<!DOCTYPE html>
<!--
字數: 
段落數量: 
小節數量: 1
-->
<html>
  <head>
    <title>吳郭魚</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <section>
      <h1>吳郭魚</h1>
      <!-- <a href="https://www.storm.mg/article/94340" target="_blank">文章來源：風傳媒</a> -->
    
      <!-- <img src="/pretest/articles-images/three-mountains-king/kings.png"  /> -->
      
        
        <img src="/pretest/articles-images/wu-guoyu-fish/tilapia.jpg"  />
        
        <p>台灣許多河川都看得到吳郭魚。牠們特別喜愛水流和緩的水域，即使水質汙濁也能生存，加上雜食的天性，胃口奇佳，往往成為釣客最大的收穫。但正因為其對汙染的高容忍度，體內可能會累積一些環境毒素，常常食用自釣的吳郭魚，有可能吃進不少毒素。</p>
        <p>幸而台灣吳郭魚的養殖技術日新月異，在外銷上更冠以「台灣鯛」的名稱，很受歡迎。近來更以海水養殖，使其品質更上一層樓。下次在菜市場看到吳郭魚，不妨仔細端詳一下這位來自非洲的嬌客，如今已是落地生根的臺灣魚。</p>
        
      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
