.meta {
  float: right;
  user-select: none;
}

.avatar {
  max-height: 2em;
  width: auto;
}

.avatar, .username {
  margin-right: 0.5em;
}

.username {
  max-width: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  display: inline-block;
  vertical-align: top;
  line-height: 2em;
}

.note {
  line-height: 2em;
  display: inline-block;
  vertical-align: top;
  
  ::v-deep p {
    line-height: 2em !important;
  }
}

.annotation-item-compact {

  .text-container {
    line-height: 2em;
    display: inline-block;
    vertical-align: top;
  }

  .left.column {
    max-width: 70vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  
  .note {
    display: inline-block;
    margin-left: 0.5em;
    
    
    ::v-deep p {
      display: inline !important;
      line-height: 2em !important;
    }
  }
}