.meta {
  float: right;
}


.avatar, .username {
  margin-right: 0.5em;
}

.username {
  max-width: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-container {
  line-height: 2em;
  display: inline-block;
  vertical-align: top;
}

.annotation-item-compact {
  
  .left.column {
    max-width: 70vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .avatar {
    max-height: 2em;
    width: auto;
  }
  
  .note {
    display: inline-block;
    margin-left: 0.5em;
    
    
    ::v-deep p {
      display: inline !important;
      line-height: 2em !important;
    }
  }
}