<div class="ui segment AnnotationItem" 
     v-if="annotation"
     v-bind:class="computedContainerClassNames">
  
  <img v-bind:src="annotation.user.avatar_url"
       class="avatar"/>
  <span class="username">
    {{ username }}
  </span>
  
  <annotation-module-button 
        v-bind:status="status"
        v-bind:annotationModule="annotation.type"></annotation-module-button>
  
  <span v-if="annotation.note" v-html="annotation.note"></span>
  
  <span>
    {{ displayTime }}
  </span>
  
  <span>
    {{ $t('{0} Likes', [annotation.ratesCount]) }}
  </span>
  
  <span>
    {{ $t('{0} Comments', [annotation.repliesCount]) }}
  </span>
  
</div>