<div class="ui segment AnnotationItem" 
     v-if="annotation"
     v-bind:class="computedContainerClassNames"
     v-on:mouseover="onMouseover"
     v-on:mouseout="onMouseout"
     v-on:click="onClick">

  <div class="meta text-container ui basic right labeled button"
       v-bind:class="{'clickable': findAnnotation}"
       v-on:click.stop="onFindAnnotation(annotation)">
    
    <span class="display-time">
      {{ displayTime }}
    </span>

    <annotation-item-interactive
      v-if="lib.auth.enableCollaboration"
      
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      
      v-bind:annotation="annotation"
      v-on:like="$emit('like')"
      v-on:unlike="$emit('unlike')"
      v-on:comment="$emit('comment')"
      size="mini">
    </annotation-item-interactive>
      
    <i class="right angle icon"
       v-if="findAnnotation" />
  </div>
  
  <!-- ======================================================= -->

  <div class="left column">
    <div v-on:click.stop="onFindUser(annotation.user)"
         v-bind:class="{'clickable': findUser}"
         class="user">
      <img v-bind:src="annotation.user.avatar_url"
           class="avatar"/>
      <div class="username text-container">
        {{ username }}
      </div>
    </div>

    <annotation-type-button 
      v-bind:status="status"
      v-bind:type="annotation.type"
      v-bind:clickable="(typeof(findType) === 'function')"
      v-on:find="(type) => {onFindType(type)}">
    </annotation-type-button>

    <div class="note text-container" v-if="note" v-html="note"></div>
  </div>
    
</div>