.PacorSearchResult {
  font-weight: bold !important;
  background-color: yellow !important;
}

.non-invasive-web-style-framework {
  .left-handed {
    direction: rtl;
    text-align: left;
  }

  .no-more {
    cursor: default;
    user-select: none;
    text-align: center;
  }
  
  .disable-animate {
    transition-duration: 0 !important;
  }
  
  .display-time {
    color: #666;
    font-size: 0.8rem;
    font-style: italic;
  }
  
  .user-avatar {
    //filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.7));
    -webkit-filter: drop-shadow(1px 1px 0 white)
                drop-shadow(-1px 1px 0 white)
                drop-shadow(1px -1px 0 white)
                drop-shadow(-1px -1px 0 white);

    filter: drop-shadow(1px 1px 0 white)
            drop-shadow(-1px 1px 0 white)
            drop-shadow(1px -1px 0 white)
            drop-shadow(-1px -1px 0 white);
  }
}
