/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 4, 2019, 5:33:39 PM
    Author     : pudding
*/


.PacorSearchResult {
  font-weight: bold !important;
  background-color: yellow !important;
}