.PacorSearchResult {
  font-weight: bold !important;
  background-color: yellow !important;
}

.non-invasive-web-style-framework {
  .left-handed {
    direction: rtl;
    text-align: left;
  }

  .no-more {
    cursor: default;
    user-select: none;
    text-align: center;
  }
  
  .disable-animate {
    transition-duration: 0 !important;
  }
  
  .display-time {
    color: #666;
    font-size: 0.8rem;
    font-style: italic;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
  }
  
  .username-container {
    max-width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
  
  .user-avatar {
    //filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.7));
    -webkit-filter: drop-shadow(1px 1px 0 white)
                drop-shadow(-1px 1px 0 white)
                drop-shadow(1px -1px 0 white)
                drop-shadow(-1px -1px 0 white);

    filter: drop-shadow(1px 1px 0 white)
            drop-shadow(-1px 1px 0 white)
            drop-shadow(1px -1px 0 white)
            drop-shadow(-1px -1px 0 white);
  }
  
  .user-avatar ~ .floating-label {
    position: absolute;
    &> .icon-container {
      position: relative;
      left: -1em;
      top: 1.3em;

      background-color: white;
/*      &.user-self-badge {
        background-color: white;
      }
      &.admin-badge {
        background-color: #21BA45;
      }*/

      border: 1px solid white;
      border-radius: 0.5em;
      width: 1em;
      height: 1em;
      display: inline-block;
      color: white;
      text-align: center;

      .icon {
        vertical-align: top;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        margin-top: -0.2em;
        border-radius: 0.5em;
        font-size: 0.5em;
      }
    }
  }
}
