<div class="AnnotationDiscussionInput ui form"
     v-bind:class="computedContainerClassList">
  <div class="right-column">
    <template v-if="!isEditMode">
      <button 
        type="button"
        class="ui mini icon button"
        v-bind:class="{'disabled': !isEnableSubmit}"
        v-on:click="submit">
        <!-- {{ $t('COMMENT') }} -->
        <i class="edit icon"></i>
      </button>
    </template>
    <template v-else>
      <span>
        <button type="button"
                class="ui mini icon button"
                v-bind:class="{'disabled': !isEnableSubmit}"
                v-on:click="submit">
          <!-- {{ $t('EDIT') }} -->
          <i class="edit icon"></i>
        </button>
      </span>
      <span>
        <button type="button"
                class="ui icon mini button"
                v-on:click="reset">
          <i class="close icon"></i>
        </button>
      </span>
    </template>

  </div>

    <!--
  <div class="left-column">
    <img v-bind:src="status.avatar" 
         class="avatar" />

    <div class="username">
      {{ username }}
    </div>
  </div>
    -->
  <div class="center-column ui input field input-field">
    <input 
      type="text"
      ref="input"
      v-model="note"
      v-bind:placeholder="$t('Give a suggestion!')"
      v-on:keyup.enter="submit" />
  </div>
</div>