<div class="AnnotationDiscussionInput ui form">
  <div class="right-column">
    <template v-if="!isEditMode">
      <button type="button"
              class="ui mini icon button"
              v-bind:class="{'disabled': !isEnableSubmit}"
              v-on:click="submit">
        <!-- {{ $t('COMMENT') }} -->
        <i class="edit icon"></i>
      </button>
    </template>
    <template v-else>
      <span>
        <button type="button"
                class="ui mini icon button"
                v-bind:class="{'disabled': !isEnableSubmit}"
                v-on:click="submit">
          <!-- {{ $t('EDIT') }} -->
        <i class="edit icon"></i>
        </button>
      </span>
      <span>
        <button type="button"
                class="ui icon mini button"
                v-on:click="reset">
          <i class="close icon"></i>
        </button>
      </span>
    </template>
      
  </div>
  
  <!--
  <div class="left-column">
    <img v-bind:src="status.avatar" 
         class="avatar" />

    <div class="username">
      {{ username }}
    </div>
  </div>
  -->
  <div class="center-column ui field input-field">
      <input type="text"
             ref="input"
             v-model="note"
             v-on:keyup.enter="submit" />
  </div>
  </div>
</div>