<div class="ui middle aligned grid">
  <div class="two columns row">
    <div class="six wide column">
      <user-information v-bind:annotationModule="annotationModule"
                        v-bind:status="status"></user-information>
    </div>

    <div class="ten wide column">
      <annotaion-instruction v-bind:config="config"
                             v-bind:status="status"
                             v-bind:annotationModule="annotationModule"></annotaion-instruction>
    </div>
  </div>
</div>