<div class="ui segment chart-labels UserChartLabels">
  <template v-if="!otherIsMe">
    <span v-if="otherIsAll"
          class="chart-label other">
      <i class="large users icon" />
      <span class="username">
        {{ $t('All Readers') }}
      </span>
    </span>
    <span v-else
          class="chart-label other">
      <img v-bind:src="otherAvatar" />
      <span class="username">
        {{ otherUsername }}
      </span>
    </span>
  </template>

  <span class="chart-label my">
    <!--
    <img v-bind:src="myAvatar" />
    -->
    <user-avatar 
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib">
    </user-avatar>
    
    <span class="username">
      {{ myUsername }}
      ({{ $t('You') }})
      <template v-if="!otherIsMe">
        {{ $t('and') }}
        <template v-if="otherIsAll">
          {{ $t('All Readers') }}
        </template>
        <template v-else>
          {{ otherUsername }}
        </template>
      </template>
    </span>
  </span>
</div>