<transition
  v-bind:name="transitionName">
  <fab-cantainer
    v-on:mousedown.native.stop="clickItem"
    v-on:click.native.stop="clickItem"
    v-on:touch.native.stop="clickItem"
    class="fab-item fab-shadow"
    v-show="showItem"
    v-bind:style="fabItemStyle"
    v-bind:class="{ 'semantic-ui': ($parent.iconType === 'SemanticUI') }">
    <div v-if="title" 
         v-bind:style="titleStyle" 
         class="fab-item-title">
      {{ title }}
    </div>
    <i v-if="$parent.iconType === 'MaterialDesign'" 
       class="material-icons vue-fab-material-icons"
       v-bind:style="{
       color: computedIconColor
       }">{{icon}}</i>
    <i v-else-if="$parent.iconType === 'SemanticUI'" 
       v-bind:style="{
       color: computedIconColor
       }"
       v-bind:class="icon + ' icon'"></i>
    <i v-else 
       class="vue-fab-material-icons iconfont" 
       v-bind:class="icon" 
       style="font-size: 10px" 
       v-bind:style="{
       color: computedIconColor
       }">
    </i>
  </fab-cantainer>
</transition>