  <div class="annotation-panel"
       v-bind:class="{'hidden': isHide}">
  
    <div class="ui secondary segment form "
         v-bind:class="computedSegmentClass"
         v-bind:style="computedSegmentStyle"
         ref="panel">
    
      <div class="close-container"
           v-on:click.stop="hide">
        <i class="close icon"></i>
      </div>
      
      <div class="resize-handler"
           v-bind:class="{'moving': resizeLocker}"
           v-on:mousedown="onResizeStart"
           v-on:touchstart="onResizeStart"></div>
      
      <template v-if="annotationModule">
        <annotation-editor-modules ref="auth"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib"
          v-bind:annotationModule="annotationModule"
          v-bind:pinSelection="pinSelection"
          v-bind:annotationInstance="findAnnotation"
          v-bind:rangy="lib.rangy"
          v-bind:heightPX="heightPX"
          v-on:hide="hide"></annotation-editor-modules>
      </template> <!-- <template v-else> -->
      <template v-if="sectionsData.sectionAnnotation.instance">
        <annotation-editor-modules ref="auth"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib"
          v-bind:sectionsData="sectionsData"
          v-bind:annotationModule="sectionsData.sectionAnnotation.instance.type"
          v-bind:annotationInstance="sectionsData.sectionAnnotation.instance"
          v-bind:heightPX="heightPX"></annotation-editor-modules>
      </template> <!-- <template v-else> -->
      <template v-else>
        <annotation-list ref="AnnotationList"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib"
          v-bind:listPositions="listPositions"
          v-bind:findAnnotation="findAnnotation"
          v-bind:propFindUser="findUser"
          v-bind:propFindType="findType"
          v-bind:heightPX="heightPX"
          v-bind:rangy="lib.rangy"
          v-on:close="hide(true)"></annotation-list>
      </template> <!-- <template v-if="listPositions"> -->
      
        
    </div>
  </div>
  