<!DOCTYPE html>
<!--
字數: 573
段落數量: 9
小節數量: 1
-->
<html>
  <head>
    <title>民間信仰 - 三山國王</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  </head>
  <body>
    <article>
      <h1>民間信仰 - 三山國王</h1>
      <!--
      <a href="https://child.hakka.gov.tw/v2/?gallery=%e6%b0%91%e9%96%93%e4%bf%a1%e4%bb%b0%ef%bc%8d%e4%b8%89%e5%b1%b1%e5%9c%8b%e7%8e%8b" target="_blank">文章來源：好客小學堂</a>
      -->
      
      <section>
        <p>小柿：「小博士，好像有些客家庄都有三山國王廟耶！」</p>
        <p>小博士：「早期客家人渡海來臺開山打林，將家鄉的三山國王一併請過來，客家先人在有困難時會到三山國王廟祈求拓墾順利、五穀豐收。因此奉祀三山國王就成為了當時移民臺灣的守護神。於是有三山國王廟之聚落，很多都是早期客家人移民落腳之地哦！」</p>
        <p>小柿：「三山國王，是指有三尊國王嗎？」</p>
        <p>小博士：「是啊！三山國王指的是最初在廣東揭陽市揭西縣河婆鎮北面的三座名山&mdash;&mdash;獨山、明山、巾山的三位山神，是屬於崇拜「自然物（山、石）」信仰。後來經時代演變，將祂們擬人化，參考了桃園三結義的劉備、關公、張飛的造型，也就是我們現在常看到三山國王各為白臉、紅臉、黑臉的樣子，而據說三山國王仿三國演義的擬人造型也象徵著忠義、團結一心的意思。」</p>

        <img src="/2020exp/articles-images/three-mountains-king/kings.png"  />

        <p>小博士：「在臺灣的三山國王廟，有幾處是相當有名的，例如：</p>
        <ul>
          <li>彰化縣溪湖鎮「霖肇宮」：臺灣最早的三山國王廟開基祖廟，建廟至今已四百多年，是客家人三山國王信仰的重要據點。</li>
          <li>臺中市東勢區「泰興宮」：早期東勢客家人為了保護家園、防範外族入侵，而興建三山國王廟祈求平安。泰興宮位於東勢區慶東里的大茅埔庄，建於清朝時期，是當地居民的信仰中心，而廟後方的老樹，是建廟的地基所在。</li>
          <li>宜蘭縣冬山鄉「振安宮」：宜蘭縣三山國王廟密集度高，而冬山鄉共有12座三山國王廟，其中以大興村「振安宮」歷史最悠久，也是當地居民的信仰中心。</li>
        </ul>
          

        <img src="/2020exp/articles-images/three-mountains-king/map.png"  />

        <p>小柿：「謝謝小博士精闢的介紹，讓我又更認識三山國王了！」</p>

      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>
    
  </body>
</html>
