<span class="DigitalCountdownTimer"
      v-if="dataRemainingSec > 0"
      ref="timer">
  <!--
  {{ dataRemainingTime }}
  -->
  <div class="clock">
    <div class="message">
      {{ $t('Remaining Time') }}
    </div>
    <!-- HOUR -->
    <!--
    <div class="numbers">
      <p class="hours">01</p>
      <p class="placeholder">88</p>
    </div>

    <div class="colon">
      <p>:</p>
    </div>
    -->
    <!-- MINUTE -->
    <div class="numbers minutes-numbers">
      <p class="minutes"
         v-bind:class="computedMinutesClassList"
         ref="minutesNumbers">
        <template v-if="dataMinutes">
          {{ dataMinutes }}
        </template>
        <template v-else>
          88
        </template>
        
      </p>
      <p class="placeholder">88</p>
    </div>

    <div class="colon"
         v-bind:class="computedMinutesColonClassList">
      <p>:</p>
    </div>

    <!-- SECOND -->
    <div class="numbers seconds-numbers">
      <p class="seconds"
         v-bind:class="computedSecondsClassList"
         ref="secondsNumbers">
        {{ dataSeconds }}
      </p>
      <p class="placeholder">88</p>
    </div>

  </div>
</span>