<div class="ui red floating message"
     v-if="showError && error">
  
  <i class="close icon"
     v-bind:title="$t('Click to close')"
     v-on:click="close"></i>
  
  <div class="ui relaxed divided list">
    
    <div class="item error-group"
         v-if="responseErrorMessage">
      <i class="large node js icon"
         v-on:click="showServerErrorStack = !showServerErrorStack"
         v-if="config.debug.ErrorHandler.verbose"></i>
      
      <i class="minus circle icon disabled-icon"
         v-if="config.debug.ErrorHandler.verbose === false"></i>
      
      <div class="content">
        <a class="header">
          <span v-if="responseErrorMessage">{{ responseErrorMessage }}</span>
        </a>
        <div class="description"
             v-if="config.debug.ErrorHandler.verbose">
          <pre v-if="responseErrorStack && !showServerErrorStack"
               v-on:click="showServerErrorStack = !showServerErrorStack"
               class="more">({{ $t('Show stacks...') }})</pre>
          <pre v-if="responseErrorStack && showServerErrorStack">{{ responseErrorStack }}</pre>
        </div>
      </div>
    </div>
    
    <div class="item error-group"
         v-if="localErrorMessage && config.debug.ErrorHandler.verbose">
      <i class="large vuejs icon"
         v-on:click="showErrorStack = !showErrorStack"></i>
      <div class="content">
        <a class="header">
          <span v-if="localErrorMessage">{{ localErrorMessage }}</span>
        </a>
        <div class="description">
          <pre v-if="localErrorStack && !showErrorStack"
               v-on:click="showErrorStack = !showErrorStack"
               class="more">({{ $t('Show stacks...') }})</pre>
          <pre v-if="localErrorStack && showErrorStack">{{ localErrorStack }}</pre>
        </div>
      </div>
    </div>
    
    <div class="item error-group"
         v-if="typeof(error) === 'string' && config.debug.ErrorHandler.verbose">
      <i class="large vuejs icon"
         v-on:click="showErrorStack = !showErrorStack"></i>
      <div class="content">
        <a class="header">
          <span v-if="error">{{ error }}</span>
        </a>
        <!--
        <div class="description">
          <pre v-if="localErrorStack && !showErrorStack"
               v-on:click="showErrorStack = !showErrorStack"
               class="more">({{ $t('Show stacks...') }})</pre>
          <pre v-if="localErrorStack && showErrorStack">{{ localErrorStack }}</pre>
        </div>
        -->
      </div>
    </div>
    
    <div class="item"
         v-if="error.config && error.config.method && config.debug.ErrorHandler.verbose">
      <i class="large redo icon"
         v-on:click="retry"></i>
      <div class="content">
        <a class="header retry"
           v-on:click="retry">
          <span v-if="error.config.method">{{ error.config.method }}</span>
          <span v-if="error.config.method && error.config.url">: </span>
          <span v-if="error.config.url">{{ error.config.url }}</span>
        </a>
        <div class="description">
          <pre>{{ displayErrorData }}</pre>
        </div>
      </div>
    </div>
  </div>
  
</div>