<div class="type-item TypeItem"
     v-on:click="selectType">
  
  <template v-if="lib.auth.isEnableCollaboration">
    <template v-if="othersIsAll">
      <span class="column">
        <i class="large users icon" />
      </span>
      <span class="column username">
        {{ $t('All') }}
      </span>
      <span class="column">
        :
        {{ typeData.othersCount }}
      </span>
    </template>
    <template v-else>
      <span class="column">
        <img v-bind:src="othersAvatar"
             class="user-avatar"
             v-bind:title="othersUsername" />
      </span>
      <span class="column username">
        {{ othersUsername }}
      </span>
      <span class="column">
        :
        {{ typeData.othersCount }}
      </span>
    </template>
  </template>
  
  <span class="column button">
    <annotation-type-button 
        v-bind:lib="lib"
        v-bind:config="config"
        v-bind:status="status"

        v-bind:type="typeData.type"
        v-on:find="selectType">
    </annotation-type-button>
  </span>
  
  <span class="column">
    <img v-bind:src="myAvatar"
         class="user-avatar"
         v-bind:title="username"  />
  </span>
  <span class="column username">
    {{ username }}
  </span>
  <span class="column">
    :
    {{ typeData.myCount }}
  </span>
</div>