.TypeItem {
  white-space: nowrap;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
  user-select: none;
  
  &:hover {
    color: #1E70BF;
  }
  
  &.disabled {
    opacity: 0.5 !important;
    cursor: default !important;
     
    &:hover {
      color: inherit !important;
    }
  }
}

.column {
  display: inline-block;
  vertical-align: middle;
  
  &.left {
    text-align: right;
  }
  
  &.right {
    text-align: left;
  }
  
  &.button {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
    width: 5rem;
    text-align: left;
    
  }
}

img {
  max-height: 1.5em;
  width: auto;
  
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.username {
  font-weight: bold;
}
