.vertical.menu {
  z-index: 103 !important;
  //left: calc(100vw - 16rem) !important;
  right: 0 !important;
  transition: 0.3s ease !important;
  
  &.hide {
    //display: none !important;
    //left: calc(100vw) !important;
    right: -16rem !important;
    //left: 100vw !important;
    
  }
}

.top.menu ::v-deep {
  .in-vertical {
    display: none !important;
  }
}

.vertical.menu ::v-deep {
  .menu-compact {
    display: none !important;
  }
  
  .right.menu > .item {
    line-height: 3rem;
    color: white !important;
  }
  
  .menu-full {
    display: block !important;
  }
  
  /*
  .menu-full {
    display: block !important;
  }
  */
  .in-top {
    display: none !important;
  }
}

.ui.vertical.menu {
  
  &.default-header .close.item {
    height: 3rem;
  }
  
  &.with-header .close.item {
    background-color: rgba(0,0,0,0.2);
  }
  
  .close.item {
    cursor: pointer;
    line-height: inherit;
    //border-bottom: 1px solid #ccc;

    img {
      width: 1.5em;
      float: left;
      margin-top: -0.2em;
    }

    .site-header {
      display: inline-block;
      padding-left: 1em;
    }
  }

  .right.menu ::v-deep .item {
    font-size: 16px;
  }
}

// -----------------------

.Navigation.menu ::v-deep {
  .in-vertical {
    display: none !important;
  }
}
