<fragment>
  <div class="ui borderless inverted Navigation"
       ref="Menu"
       v-bind:class="computedTopMenuClass">
    <slot name="header"></slot>
    
    <media v-bind:query="{minWidth: maxWidth}"
           v-on:media-enter="isCompactMode = false"
           v-on:media-leave="isCompactMode = true">
      <div class="menu-full right menu">
        <slot name="items"></slot>
      </div>
    </media>
    
    <media v-bind:query="{maxWidth: maxWidth}">
      <div class="menu-compact right menu">
        <slot name="compactItems"></slot>
        <a class="icon item"
           v-on:click="showSideMenu">
          <i class="ellipsis vertical icon"></i>
        </a>
      </div>
    </media>
  </div>
  
  <!-- ========== -->
  
  <div class="ui inverted right fixed vertical menu"
       v-bind:class="computedVerticalMenuClass">
    
    <div class="item in-vertical close"
         v-on:click="hideSideMenu">
      
      <img v-bind:src="config.baseURL + '/imgs/pacor.svg'" />
      
      <div class="site-header">
        {{ $t('PACOR') }}
      </div>
      
      
      <i class="close icon"></i>
    </div>
    
    <slot name="items"></slot>
  </div>
  
  <div class="overlay"
       v-if="sideMenuDisplay"></div>
</fragment>