<div ref="fab" 
     class="fab-main-container"
     v-bind:style="computedStyle"
     v-bind:class="{hidden: isInitHidden, 'semantic-ui': (iconType === 'SemanticUI')}">
  
  <!-- 這個是主要的item -->
  <transition v-bind:name="transitionName">
    <fab-cantainer
      v-on:click.native="openMenu" 
      v-if="visible"
      class="fab"
      data-outside="true"
      v-bind:class="'fab-size-' + size"
      v-bind:style="fabClass">
      <transition v-bind:name="computedTransitionName">
        
        <i v-if="iconType === 'MaterialDesign'"
          data-outside="true"
          v-bind:key="activeIcon === icon ? icon : active"
          v-bind:class="{ 'fab-active' : active }"
          class="vue-fab-material-icons material-icons"> 
          {{activeIcon === icon ? icon : active ? activeIcon : icon}}
        </i>
        
        <!-- <i class="universal access icon"></i> -->
        <i v-if="iconType === 'SemanticUI'"
          data-outside="true"
          class="vue-fab-material-icons material-icons"
          v-bind:key="activeIcon === icon ? icon : active"
          v-bind:class="computedSemanticUIIconClass"> 
        </i>
        
      </transition>
      <i v-if="iconType === 'iconfont'"
         v-on:click.stop="openMenu"
         class="icons iconfont vue-fab-material-icons vue-fab-iconfont-icons"
         style="font-size: 15px"
         v-bind:class="[active ? 'fab-active' : '', icon ]"
         data-outside="true">
      </i>
    </fab-cantainer>
  </transition>
  
  <!-- 下面這些是其他的items -->
  <div v-click-outside="clickoutside"
       class="fab-item-container"
       ref="FabItemContainer"
       v-bind:class="'fab-size-' + size">
    <slot></slot>
  </div>
<!-- </transition> -->
</div>