<div class="non-invasive-web-style-framework">
  <modal 
    class="InstructionMessage"
    ref="Modal"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-bind:cancelable="false"
    v-bind:contentURL="contentURL"
    v-bind:disableOpenWindow="true"
    v-on:hide="onHide">
      <template v-slot:header>
        <div v-on:dblclick="nextStep"
             v-on:click="detectNextStep"
             class="step-title">
          {{ $t('READING_PROGRESS.' + lib.auth.currentStep) }}
        </div>
      </template>
      <template v-slot:headerIcon>
        <div class="icon"
             v-bind:title="$t('Start Tutorial')"
             v-on:click="startTutorial">
          <i class="question icon"></i>
        </div>
      </template>
      <template 
        v-slot:content
        v-if="$slots.content">
        <slot name="content"></slot>
      </template>
      <template 
        v-slot:content
        v-else-if="!contentURL && instruction">
        <div v-html="instruction"></div>
      </template>
      <!--
      <template 
        v-slot:content
        v-else>
        <reading-instruction-message
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib">
        </reading-instruction-message>
      </template>
      -->
      <template v-slot:actions>
        <div class="ui positive button"
             v-on:click="gotoNextReadingPage"
             v-if="lib.auth.currentStepConfig.nextReadingPage">
          
          <template v-if="lib.auth.currentStepConfig.nextReadingPageButton">
            {{ $t(lib.auth.currentStepConfig.nextReadingPageButton) }}
          </template>
          <template v-else>
            {{ $t('Move to next phase') }}
          </template>
        </div>
        <div class="ui button"
             v-on:click="logout"
             v-if="enableLogout">
          {{ $t('Logout') }}
        </div>
        <div class="ui button start-tutorial"
             v-bind:class="{positive: !hasReadTutorial}"
             v-on:click="startTutorial">
          {{ $t('Start Tutorial') }}
        </div>
        <div class="ui button close-button"
             v-if="showCloseButton"
             v-on:click.stop="hideAndStartCountdown">
          {{ $t('Close') }}
        </div>
      </template>
  </modal>
</div>