<div class="ui modal" 
     ref="modal">
  <i class="close icon"
     v-if="cancelable !== 'false' && cancelable !== false"></i>
  <div class="header"
       v-if="$slots.header">
    <slot name="header"></slot>
  </div>
  <div class="scrolling content"
       v-if="$slots.content">
    <div class="ui form">
      <slot name="content"></slot>
    </div>
  </div>
  <div class="content"
       v-if="contentURL">
    <iframe v-bind:src="computedContentURL"
            frameborder="0"></iframe>
  </div>
  <div class="actions"
       v-if="$slots.actions || cancelable === 'true' || cancelable === true || reset">
    
    <div class="ui button"
         v-if="contentURL"
         v-on:click="openContentURLWindow">
      {{ $t('Open in Another Window') }}
    </div>
    
    <div class="ui button"
         v-if="cancelable !== 'false' && cancelable !== false"
         v-on:click="hide">
      <template v-if="cancelButtonText">
        {{ $t(cancelButtonText) }}
      </template>
      <template v-else>
        {{ $t('CANCEL') }}
      </template>
    </div>
    
    <div class="ui button"
         v-if="reset"
         v-on:click="doReset">
      {{ $t('RESET') }}
    </div>
    
    <slot name="actions"></slot>
    
  </div>
</div>