<div class="IndividualReadingInstruction ReadingInstruction">
  <div class="ui middle aligned grid">
    <div class="four wide column instruction-column">
      <img v-bind:src="computedCoverImage"
           class="ui image" />
    </div>
    <div class="twelve wide column instruction-column">
      <h1 class="ui header">
        {{ $t('Now please concentrate on reading this article!') }}
      </h1>
      <ul>
        <li v-html="computedAnnotationType"></li>
        <li v-if="computedChecklist"
            v-html="computedChecklist"></li>
        <li v-if="countdownAtStart">
          <simple-remaining-timer
            class="highlight"
            v-bind:config="config"
            v-bind:status="status"
            v-bind:lib="lib"
            v-bind:showLabel="true">
          </simple-remaining-timer>
          {{ $t('. Please read the article carefully.') }}
        </li>
      </ul>
    </div>
  </div>
</div>