<div class="NavigationItems">
  <navigation ref="nav" 
              v-bind:config="config"
              v-bind:lib="lib"
              compactWidth="600">
    <template v-slot:header>
      <a class="item avatar in-top"
         href="/admin/">
        <img v-bind:src="status.avatar">
      </a>

      <div class="item title in-top">
        {{ status.title }}
      </div>
    </template>
      

    <template v-slot:items>
      <a class="item"
         v-bind:class="{'active disabled': $route.path.startsWith('/domain')}"
         href="#/domain/list"
         v-if="status.role === 'global_admin'">
        {{ $t('Domain') }}
      </a>

      <a class="item"
         v-bind:class="{'active disabled': $route.path.startsWith('/domain')}"
         href="#/webpage/"
         v-if="status.role === 'domain_admin'">
        {{ $t('Webpage') }}
      </a>

      <a class="item"
         v-bind:class="{'active disabled': $route.path.startsWith('/material')}"
         href="#/material"
         v-if="status.role === 'global_admin'">
        {{ $t('Material') }}
      </a>

      <a class="item"
         href="/admin/Database/admin?table=webpages"
         target="_blank"
         v-if="status.role === 'global_admin'">
        {{ $t('Database') }}
      </a>

      <a class="item"
         v-on:click="logout">
        {{ $t('Logout') }}
      </a>

      <a class="item"
         href="https://github.com/pulipulichen/PACOR"
         target="PACOR">
        {{ $t('Project') }}
      </a>

      <a class="item"
         href="https://github.com/pulipulichen/PACOR/issues"
         target="PACORIssues">
        {{ $t('Issues') }}
      </a>
    </template>
    
  </navigation>
</div>