<div class="IndividualReading">
  <div v-for="item in logPair"
    class="ui field">
    <template v-if="item.name === 'checklist'">
      <label>{{ $t(item.name) }}</label>
      <p>{{ $t('Checklists in sections') }}:</p>
      <ol>
        <li v-for="checklist in item.value">
          <i v-for="(checked, i) in checklist"
             class="square outline icon"
             v-bind:class="{'check': checked}"
             v-bind:title="displayChecklistItem(i)"/>
        </li>
      </ol>
    </template>
    <template v-else>
      <label>{{ $t(item.name) }}</label>
      <div>{{ item.value }}</div>
    </template>
  </div>
</div>
  