<div class="non-invasive-web-style-framework SectionPanel" 
     v-bind:data-section-id="sectionSeqID"
     ref="panel">

  <section-checklist
    v-if="!isChecklistSubmitted"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-bind:node="node"
    v-bind:sectionSeqID="sectionSeqID"
    v-bind:sectionsData="sectionsData"
    v-on:checklistComplete="checkIsChecklistSubmitted"
    v-on:allComplete="$emit('complete')">
  </section-checklist>

  <section-annotation-list
    v-if="isShowAnnotationList"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-bind:node="node"
    v-bind:sectionSeqID="sectionSeqID"
    v-bind:sectionsData="sectionsData">
  </section-annotation-list>
  
</div>