<div class="ui segment">
  <h2>{{ $t('Domain Management') }}</h2>
  
  <div class="ui segment">
    <div class="unstackable three fields">
      <div class="field">
        <label for="createDomain">
          {{ $t('Domain') }}
        </label>
        <input type="url"
               id="createDomain"
               size="256"
               name="createDomain"
               v-model="create.domain" />
      </div>
      <div class="field">
        <label for="createTitle">
          {{ $t('Title') }}
        </label>
        <input type="text"
               id="createTitle"
               size="256"
               name="createTitle"
               v-model="create.title" />
      </div>
      <div class="field">
        <label>
          &nbsp;
        </label>
        <button type="button"
                class="ui fluid button"
                v-bind:class="{disabled: !enableUpload}"
                v-on:click="upload">
          {{ $t('Submit') }}
        </button>
      </div>
      
      <div class="unstackable two fields">
        <div class="field">
          <label for="createAdmins">
            {{ $t('Admins') }}
            ({{ $t('Split admins by space') }})
          </label>
          <textarea id="createAdmins"
                    name="createAdmins"
                    class="ui red"
                    v-model="create.admins"></textarea>
        </div>
        <div class="field">
          <label for="createConfig">
            {{ $t('Config') }}
            ({{ $t('JSON Format') }}
            <a href="./help/ConfigExample.md" target="_blank">{{ $t('Example') }}</a>)
          </label>
          <textarea id="createConfig"
                    name="createConfig"
                    class="ui red"
                    v-model="create.config"></textarea>
        </div>
      </div>
    </div>
  </div>
  
  <!--
  <pagination v-bind:pageConfig="pageConfig" />
  
  <table class="ui unstackable table">
    <thead>
      <tr>
        <th v-if="status.role === 'global_admin'">
          {{ $t('Domain') }}
        </th>
        <th>
          {{ $t('Filename') }}
        </th>
        <th>
          {{ $t('Date') }}
        </th>
        <th>
          {{ $t('Management') }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(asset, index) in assets">
        <td v-if="status.role === 'global_admin'">
          {{ asset.domain_id }}
        </td>
        <td>
          <input type="text"
                 v-model="asset.filename"
                 v-on:keyup="change(asset.id)" />
        </td>
        <td>
          {{ asset.date }}
        </td>
        <td>
          <div class="unstackable four fields">
            <div class="field">
              <a class="ui icon button"
                 target="_blank"
                 v-bind:href="'/material/asset/' + asset.id + '/'">
                <i class="linkify icon"></i>
              </a>
            </div>
            <div class="field">
              <button type="button"
                class="ui icon button"
                v-bind:class="{disabled: !isAssetChanged(asset.id), green: isAssetChanged(asset.id)}"
                v-on:click="edit(index)">
                <i class="edit icon"></i> 
              </button>
            </div>
            <div class="field">
              <button type="button"
                class="ui icon button"
                v-on:click="editUploadTrigger(asset.id)">
                <i class="upload icon"></i> 
              </button>
            </div>
            <div class="field">
              <button type="button"
                class="ui icon button"
                v-on:click="remove(index)">
                <i class="close icon"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <pagination v-bind:pageConfig="pageConfig"
              pathPrefix="/domains/" />
  -->
</div>