<div class="CompactNavigation">
  <div class="CompactMenu"
       v-on:click="normalMenuDisplay = true"
       v-show="!normalMenuDisplay">
    <div class="ui three column grid"
         ref="Menu">
      <div class="left column">
        <reading-progress-indicator></reading-progress-indicator>
      </div>
      <div class="center aligned column">
        <!--
        <template v-if="lib.auth.enableCollaboration">
          {{ status.notificationUnreadCount }}
        </template>
        -->
        {{ $t('READING_PROGRESS.' + lib.auth.currentStep) }}
      </div>
      <div class="right aligned column">
        <simple-countdown-timer 
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib"
          
          v-bind:pauseAtStart="pauseAtStart"
          v-on:timeup="$emit('timeup')">
        </simple-countdown-timer>
      </div>
    </div>
  </div>

  <!-- ==================================== -->
  
  <div class="overlay normal-menu-overlay"
         v-on:click="normalMenuDisplay = false"
         v-if="normalMenuDisplay"></div>
  
  <navigation 
    ref="nav" 
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-if="status.progress.highlights"
    v-bind:compactWidth="compactWidth"
    position="bottom"
    color="brown"
    v-bind:isVisible="normalMenuDisplay">
    <template v-slot:header>
      <slot name="header"></slot>
    </template>
    <template v-slot:items>
      <slot name="items"></slot>
    </template>
    <template v-slot:verticalHeaderItem>
      <slot name="verticalHeaderItem"></slot>
    </template>
  </navigation>
</div>