<div class="ui segment">
  <h3 class="ui header"
      id="dashboard-groups">
    {{ $t('Groups') }}
  </h3>
  
  <div class="ui segment"
       v-for="group in groups">
    <h4 v-bind:id="'dashboard-group-' + (group.group_seq_id+1)">Group #{{ (group.group_seq_id + 1)  }}</h4>
    <div class="ui items">
      <div class="item"
           v-for="user in group.users">
        <div class="image">
          <img v-bind:src="user.avatar_url" />
        </div>
        <div class="content">
          <a class="header">
            {{ user.username }}
            <template v-if="user.username !== user.display_name">
              ({{ user.display_name }})
            </template>
          </a>
          <!--
          <div class="meta">
            <span>Description</span>
          </div>
          -->
          <div class="description">
            <p>INFO (#TODO)</p>
          </div>
          <div class="extra">
            <a href="#" class="ui button">
              TODO
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>