<div>
  <modal ref="ExitModal"
         v-bind:config="config"
         v-bind:status="status"
         v-bind:progress="progress"
         v-bind:error="error"
         v-bind:lib="lib"
         dimmerTransparent="false"
         cancelable="false">
      <template v-slot:header>
        {{ $t('Thank you for your reading') }}
      </template>
      <template v-slot:content>
        <div class="ui middle aligned grid">
          <div class="four wide column">
            <img v-bind:src="status.avatar"
                     class="ui image" />
          </div>
          <div class="twelve wide column">
            <h1 class="ui header">
              {{ $t('Congratulation! You finished reading.') }}
            </h1>
          </div>
        </div>
      </template>
      <template v-slot:actions>
        <div class="ui button"
             v-on:click="logout">{{ $t('LOGOUT') }}</div>
        <div class="ui button"
             v-on:click="exit">{{ $t('EXIT') }}</div>
      </template>
  </modal>
</div>