<div class="ui form">
  <div class="ui secondary menu">
    <a class="icon item"
       v-bind:href="'#/webpage/' + domainID + '/list'">
      <i class="angle left icon"></i>
    </a>
    <div class="item">
      <div class="ui header">
        <div class="content"
             v-bind:title="webpagePath">
          <div class="sub header">
            {{ $t('Dashboard') }}
          </div>
          <h2>
            <a v-bind:href="status.webpageURL"
               target="_blank">
              {{ webpagePathSummary }}
            </a>
          </h2>
        </div>
      </div>
    </div>
    <div class="right-sub-menu right menu">
      <webpage-dashboard-sub-menu 
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:webpage="webpage">
      </webpage-dashboard-sub-menu>
    </div>
  </div>
  
  <div class="full-sub-menu menu">
    <webpage-dashboard-sub-menu 
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      v-bind:webpage="webpage">
    </webpage-dashboard-sub-menu>
  </div>
  
  <table-of-contents 
    v-bind:config="config"
    v-bind:lib="lib"
    headings="h3, h4"
    ref='toc'>
  </table-of-contents>

  <webpage-dashboard-groups 
    v-if="webpage"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:progress="progress"
    v-bind:lib="lib">
  </webpage-dashboard-groups>
  
  <webpage-article-analysis
    v-if="webpage"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:progress="progress"
    v-bind:lib="lib">
  </webpage-article-analysis>
  
  <webpage-export
    v-if="webpage"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:progress="progress"
    v-bind:lib="lib">
  </webpage-export>
</div>