<div class="ui stackable AnnotationSingle"
     v-bind:class="computedGridClass"
     v-bind:style="computedContainerStyle">
  
  <div class="column annotation-editor"
       v-bind:style="computedEditorStyle">
    
    <!--
    <component 
      v-bind:is="type"
      
      v-bind:config="config"
      v-bind:status="status"
      
      v-bind:pinSelection="pinSelection"
      v-bind:annotationModule="type"
      v-bind:annotationInstance="annotationInstance"
      v-bind:annotationConfig="annotationConfig"
      v-bind:lib="lib"
      v-bind:rangy="rangy"
      v-bind:heightPX="heightPX"
      v-on:hide="$emit('hide', false)"
      v-on:delete="onDelete"
      v-on:update="$emit('update')"
      v-on:reloadMyHighlights="reloadMyHighlights"
      v-bind:editable="editable"
      v-bind:sectionsData="sectionsData"></component>
    -->
    <annotation-editor-header 
      v-bind:config="config"
      v-bind:status="status"
      v-bind:editable="isEditable"
    
      v-bind:annotation="annotation">
    </annotation-editor-header>
    
    <component 
      v-bind:is="type"
      
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      
      v-bind:hook="hook"
      v-bind:panelData="panelData"
      v-bind:annotation="annotation"
      v-bind:heightPX="componentHeightPX"
      
      v-on:add="onAdd"
      v-on:delete="onDelete"
      v-on:update="onUpdate">
    </component>
    
    <!-- ================================================== -->

    <div class="ui one column grid annotation-panel-buttons"
         v-if="!isEditable">
      <div v-bind:class="computedButtonsClass">
        <annotation-item-interactive
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib"

          v-bind:annotation="annotation"
          v-on:like="onAnnotationLike"
          v-on:unlike="onAnnotationLike">
        </annotation-item-interactive>
      </div>
    </div>
    
  </div>

  <!-- =========================================== -->
  
  <div class="column annotation-discussion" 
       v-if="enableDiscussion">
    
    <annotation-discussion 
      ref="AnnotationDisscussion"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      
      v-bind:annotation="annotation"
      v-bind:heightPX="discussionHeightPX"
      v-bind:hook="hook">
    </annotation-discussion>
  </div>
</div>