<div class="ArticleInformation">
  <modal 
    ref="Modal"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-bind:cancelable="true"
    v-bind:cancelButtonText="$t('CLOSE')">
    <template v-slot:header>
      {{ $t('Article Information') }}
    </template>
    <template 
      v-slot:content>
      
      <h3>
        {{ $t('PreImaginary Instruction') }}
      </h3>
      
      <section class="instruction SectionPreImaginary"
               v-on:click="copyPreImaginaryInstructionHtml()"
               ref="SectionPreImaginary">
        <p>{{ $t('Please try to predict what this article might write.') }}</p>
        <ul>
          <li>{{ $t(`This article is titled "{0}".`, [articleTitle] ) }}</li>
          <li v-if="headings.length > 0"
              >{{ $t(`This article includes {0} headings:`, [headings.length]) }}<ol>
              <li v-for="heading in headings">{{ heading }}</li>
            </ol>
          </li>
          <li v-if="images.length > 0"
              >{{ $t(`This article includes {0} images:`, [headings.length]) }} <br /><span v-for="image in images"
                  class="image-container"
                  ><img v-bind:src="image.src" 
                v-bind:title="image.title" /></span>
          </li>
          <li>{{ $t(`Don't worry about punctuation or typos, just write down what you predict of.`) }}</li>
          <li v-if="preImaginaryConfig.countdownAtStart === false"
              >{{ $t(`The time limit is {0} minutes and the countdown starts when you start typing.`, [preImaginaryConfig.limitMinutes]) }}</li>
          <li v-else
              >{{ $t(`The time limit is {0} minutes and the countdown starts now.`, [preImaginaryConfig.limitMinutes]) }}</li>
        </ul>
      </section>
      <button type="button" class="ui button fluid"
              v-on:click="copyPreImaginaryInstructionHtml()">
        {{ $t('Copy HTML') }}
      </button>
      
      <!-- ===================================== -->
      <div class="ui divider"></div>
      
      <h3>
        {{ $t('PostRecall Instruction') }}
      </h3>
      
      <section class="instruction SectionPostRecall"
               v-on:click="copyPostRecallHtml()"
               ref="SectionPostRecall">
        <p>{{ $t('Please recall the content of this article.') }}</p>
        <ul>
          <li>{{ $t(`This article is titled "{0}".`, [articleTitle] ) }}</li>
          <li v-if="headings.length > 0"
              >{{ $t(`This article includes {0} headings:`, [headings.length]) }}<ol>
              <li v-for="heading in headings">{{ heading }}</li>
            </ol>
          </li>
          <li v-if="images.length > 0"
              >{{ $t(`This article includes {0} images:`, [headings.length]) }} <br /><span v-for="image in images"
                  class="image-container"
                  ><img v-bind:src="image.src" 
                v-bind:title="image.title" /></span>
          </li>
          <li>{{ $t(`Don't worry about punctuation or typos, just write down what you read.`) }}</li>
          <li v-if="preImaginaryConfig.countdownAtStart === false"
              >{{ $t(`The time limit is {0} minutes and the countdown starts when you start typing.`, [preImaginaryConfig.limitMinutes]) }}</li>
          <li v-else
              >{{ $t(`The time limit is {0} minutes and the countdown starts now.`, [preImaginaryConfig.limitMinutes]) }}</li>
        </ul>
      </section>
      <button type="button" class="ui button fluid"
              v-on:click="copyPostRecallHtml()">
        {{ $t('Copy HTML') }}
      </button>
      
      <!-- ===================================== -->
      <div class="ui divider"></div>
      
      <h3>
        {{ $t('Article Counting') }}
      </h3>
      <ul>
        <li>{{ $t('Word Count') }}: {{ wordCount }}</li>
        <li>{{ $t('Paragraphy Count') }}: {{ paragraphyCount }}</li>
        <li>{{ $t('Section Count') }}: {{ sectionCount }}</li>
      </ul>
      
    </template>
  </modal>
</div>