<div class="ArticleInformation">
  <modal 
    ref="Modal"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-bind:cancelable="true"
    v-bind:cancelButtonText="$t('CLOSE')">
    <template v-slot:header>
      {{ $t('Article Information') }}
    </template>
    <template 
      v-slot:content>
      <h3>
        {{ $t('Article Counting') }}
      </h3>
      <ul>
        <li>{{ $t('Word Count') }}: {{ wordCount }}</li>
        <li>{{ $t('Paragraphy Count') }}: {{ paragraphyCount }}</li>
        <li>{{ $t('Section Count') }}: {{ sectionCount }}</li>
      </ul>
      <div class="ui divider"></div>
      <h3>
        {{ $t('Headings') }}
      </h3>
      <p>{{ $t('Total {0} headings', [headings.length]) }}</p>
      <div class="ui ordered list">
        <span class="item"
              v-for="heading in headings">{{ heading }}</span>
      </div>
      <div class="ui divider"></div>
      <h3>
        {{ $t('Images') }}
      </h3>
      <p>{{ $t('Total {0} images', [images.length]) }}</p>
      <img v-for="image in images"
           v-bind:src="image.src"
           v-bind:title="image.title"
           class="article-image" />
    </template>
  </modal>
</div>