<a class="item UserFilter"
   v-on:click="show">
  <template v-if="peerIsMe">
    <span class="peer-label">
      {{ $t('View') }} 
    </span>
    
    <img v-bind:src="peer.avatar_url"
         v-bind:title="username"
         class="user-avatar" />
  </template>
  <template v-else-if="peer">
    <span class="peer-label">
      {{ $t('Asist') }} 
    </span>
    
    <img v-bind:src="peer.avatar_url"
         v-bind:title="username"
         class="user-avatar" />
  </template>
  
  <template v-else>
    <span class="peer-all-label peer-label">
      {{ $t('Viewing All') }}
    </span>
    <i class="large users icon" />
  </template>
  
  <!-- ============================================================ -->
  
  <modal 
    ref="Modal"
    v-bind:config="config"
    v-bind:status="status"
    cancelable="true"
    v-bind:cancelButtonText="$t('Cancel')"
    v-bind:lib="lib">
      <template v-slot:header>
        {{ $t('Please select a peer') }}
      </template>
      <template v-slot:headerIcon>
        <div class="icon"
             v-bind:title="$t('Start Tutorial')"
             v-on:click="startUserFilterTutorial"
             v-bind:class="{green: !hasReadTutorial}">
          <i class="question icon"></i>
        </div>
      </template>
      <template v-slot:content>
        <div class="ui grid">
          <div class="six wide column left-column">
            <peer-list 
              ref="PeerList"
              v-bind:config="config"
              v-bind:status="status"
              v-bind:lib="lib"

              v-bind:filterData="filterData">
            </peer-list>
          </div>
          <div class="ten wide column right-column">
            <user-chart
              ref="UserChart"
              v-bind:config="config"
              v-bind:status="status"
              v-bind:lib="lib"

              v-bind:filterData="filterData">
            </user-chart>
          </div>
        </div>
      </template>
      <template v-slot:actions>
        
        <div class="ui button submit-button"
             v-if="isNotSelectAllUser"
             v-bind:class="computedSubmitButtonClassList"
             v-on:click="submitShowAll">
            {{ $t('Show All') }}
        </div>
        
        <div class="ui button submit-button"
             v-if="isSelectAnotherUser"
             v-bind:class="computedSubmitButtonClassList"
             v-on:click="submit">
          
          <template v-if="peerIsMe">
            <span class="username-header">
            {{ $t('Only Show You') }}
            ({{ username }})
            </span>
            <img v-bind:src="status.avatar"
                 v-bind:title="username"
                 class="user-avatar" />
          </template>
          <template v-else-if="filterData.selectUser">
            <span class="username-header">
            {{ $t('Asist') }}:
            {{ selectUsername }}
            </span>
            <img v-bind:src="filterData.selectUser.avatar_url"
                 v-bind:title="selectUsername"
                 class="user-avatar" />
          </template>
        </div>
        
        <!--
        <div class="ui button user-filter-tutorial-button"
             v-on:click="startUserFilterTutorial"
             v-bind:class="{green: !hasReadTutorial}">
            {{ $t('Start Tutorial') }}
        </div>
        -->
      </template>
  </modal>
</a>