<div class="PeerList ui link items">
  
  <!-- 取消篩選 -->
  <peer-item 
    v-bind:key="0"

    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"

    v-bind:filterData="filterData"
    v-on:click="onPeerItemClick()">
  </peer-item>
  
  <div class="list"
       ref="list">
    
    <peer-item 
      v-for="user in filterData.users"
      v-bind:key="user.id"

      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"

      v-bind:filterData="filterData"
      v-on:click="onPeerItemClick()">
    </peer-item>
    
    <!--
    其他同學

    管理者們

    <p style="height: 3000px; border: 1px solid red;">
      累計資料
    </p>
    -->
  </div>
</div>