<div class="ui form UserDashboard">
  <div class="ui secondary menu">
    <a class="icon item"
       v-bind:href="'#/webpage-dashboard/' + $route.params.webpageID">
      <i class="angle left icon"></i>
    </a>
    <a class="icon item">
      <img v-bind:src="user.avatar_url" />
    </a>
    <div class="item">
      <div class="ui header">
        <div class="content">
          <div class="sub header">{{ webpagePath }}</div>
          <h2>
            {{ user.username }}
            <template v-if="user.username !== user.display_name">
              ({{ user.display_name }})
            </template>
          </h2>
        </div>
      </div>
    </div>
    <div class="right menu">
      <a v-bind:href="status.webpageURL"
         class="ui item"
         target="_blank">
        <i class="external link icon"></i>
        {{ $t('Open Webpage') }}
      </a>
      <a href="/admin/Database/admin?table=reading_progresses"
         class="ui item"
         target="_blank"
         v-if="status.role='global_admin'">
        <i class="database icon"></i>
        {{ $t('Database') }}
      </a>
    </div>
  </div>

  <!-- ======================================== -->

  <table-of-contents 
    v-bind:config="config"
    v-bind:lib="lib"
    headings="h3, h4"
    ref='toc'>
  </table-of-contents>

  <div class="ui segment">
    <h3 v-bind:id="attrHeaderID('groupMembers')">
      {{ $t('Group') }} #{{ (group.group_seq_id + 1)  }} ({{ $t('{0} users', group.users.length, [group.users.length]) }})
    </h3>
    
    <div class="ui cards">
      <reader-card 
        v-for="groupUser in group.users"
        v-bind:key="groupUser.id"
        v-bind:class="{'is-me': (user.id === groupUser.id)}"
        v-bind:user="groupUser"
        v-bind:lib="lib"
        v-bind:status="status"
        v-bind:config="config"
        v-bind:viewOnNewWindow="true">
      </reader-card>
    </div>
    
    
  </div>
  
  <div class="ui segment">
    <h3 v-bind:id="attrHeaderID('steps')">
      {{ $t('Reading Progresses') }}
    </h3>
    <step-progress-bar 
      v-bind:lib="lib"
      v-bind:config="config"
      v-bind:progresses="user.readingProgresses"></step-progress-bar>
  </div>

  <div v-for="(step, index) in user.readingProgresses"
       class="ui segment">
    <h3 v-bind:id="attrHeaderID(step.step_name)"
        class="ui header"
        v-bind:class="{'teal': (step.isCompleted), 'green': (typeof(step.start_timestamp) && step.isCompleted === false)}">
      <i class="icon"
         v-bind:class="stepIcon(step)"></i>
      #{{ (index + 1) }}
      {{ $t('READING_PROGRESS.' + step.step_name) }}
    </h3>

    <div class="ui list">
      <div class="item" v-if="step.start_timestamp">
        {{ $t('Duration') }}: 
        <b v-if="step.start_timestamp && lib.DayJSHelper">
          {{ lib.DayJSHelper.format(step.start_timestamp) }}
        </b>

        <template v-if="step.end_timestamp">
          ~
          <b v-if="lib.DayJSHelper">
            {{ lib.DayJSHelper.format(step.end_timestamp) }}
          </b>

          <template v-if="lib.DayJSHelper">
            ({{ lib.DayJSHelper.shortTime(step.duration) }})
          </template>
        </template>
      </div>

      <div class="item" v-if="step.activity_seconds">
        {{ $t('Activity seconds') }}: 
        <b>
          {{ step.activity_seconds }}
          {{ $t('sec.') }}
        </b>
      </div>
    </div>

    <!--
    {{ step.step_name }}
    -->
    
    <component 
      v-bind:is="step.step_name"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:progress="progress"
      v-bind:lib="lib"
      v-bind:log="step.log"
      v-bind:toc="toc">
    </component>
  </div>
</div>