<div class="rangy-container-test">
  <template v-for="className in highlightClasses">
    <button type="button"
          v-on:click="highlightPinnedSelection(className)">
    {{ className }}
  </button>
  </template>
  
  <!--
  <button type="button"
          v-on:click="highlightSelectedText">
    Highlight
  </button>
  <button type="button"
          v-on:click="note">
    Note
  </button>
  -->
  <button type="button"
          v-on:click="pinSelection">
    pin
  </button>
  <button type="button"
          v-on:click="unpinSelection">
    unpin
  </button>
  AAAAAAAAA
</div>