<fragment></fragment>
<!--
<div class="rangy-container-test">
  <template v-for="className in highlightClasses">
    <button type="button"
          v-on:click="highlightPinnedSelection(className)">
    +{{ className }}
    </button>
  </template>
  
  <template v-for="className in highlightClasses">
    <button type="button"
          v-on:click="removeHighlightFromPinnedSelection(className)">
    -{{ className }}
    </button>
  </template>
  
  <button type="button"
          v-on:click="pinSelection">
    pin
  </button>
  <button type="button"
          v-on:click="unpinSelection">
    unpin
  </button>
  <button type="button"
          v-on:click="deserialize">
    deser
  </button>
</div>
-->