<div class="item PeerItem"
     v-bind:class="computedItemClassList"
     v-on:click="onSelectPeer">

  <div class="ui mini image">
    <img v-if="user"
         v-bind:src="avatar"
         class="user-avatar">
    <i v-else
       class="large users icon" />
  </div>

  <div class="content-row">


    <div class="header-row">

      {{ username }}


      <admin-badge 
        v-if="!isReader"
        v-bind:status="status"
        v-bind:config="config"
        v-bind:user="user">
      </admin-badge>

      <user-self-badge 
        v-bind:status="status"
        v-bind:config="config"
        v-bind:user="user">
      </user-self-badge>

      <span v-if="!isReady"
            class="message">
        {{ $t('(Reading...)') }}
      </span>
    </div>
    <div class="type-row"
         v-if="user">
      <annotation-type-button 
        v-for="t in annotationTypes"
        v-bind:key="t.type"

        v-bind:lib="lib"
        v-bind:config="config"
        v-bind:status="status"

        v-bind:type="t.type"
        v-bind:count="t.count">
      </annotation-type-button>
      <template v-if="user && annotationTypes.length === 0">
        {{ $t('No annotation') }}
      </template>
    </div>


  </div>
</div>