<a class="item AnnotationTypeFilter"
   v-on:click="show"
   ref="anchor">
  <template v-if="type">
    <annotation-type-button 
        v-bind:lib="lib"
        v-bind:config="config"
        v-bind:status="status"

        v-bind:type="type"
        v-on:find="show">
    </annotation-type-button>
  </template>
  <template v-else>
    <annotation-type-button 
      v-bind:lib="lib"
      v-bind:config="config"
      v-bind:status="status"

      v-on:find="show">
    </annotation-type-button>
  </template>
  
  <div class="ui popup"
       ref="popup">
    <annotation-type-filter-popup 
      ref="AnnotationTypeFilterPopup"

      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib">
    </annotation-type-filter-popup>     
  </div>
    
</a>