<div class="ui form">

  <question-template 
    ref="QuestionTemplate"
    
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    
    v-if="!isQuestionSubmitted"
    v-on:selectQuestion="selectQuestion">
  </question-template>

  <HTMLEditor 
    ref="QuestionEditor"
    class="QuestionEditor"
    
    v-bind:lib='lib'
    v-bind:contents="question"
    v-on:input="onQuestionChange"
    v-bind:label="$t('Question')"
    
    v-bind:editable="isEditable"
    v-bind:height="computedQuestionEditorHeight"
    v-bind:placeholder="questionPlaceholder">
  </HTMLEditor>

  <!-- ====================================== -->

    <resource-search 
      v-show="isQuestionSubmitted"
      
      ref="ResourceSearch"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      
      v-bind:propSelectIndex="recommandResourceSearchIndex"
      v-bind:propAnchorText="anchorText"
      v-bind:propQuestion="question">
    </resource-search>

    <HTMLEditor 
      v-show="isQuestionSubmitted"
      ref="AnswerEditor"
      class="AnswerEditor"
      
      v-bind:lib='lib'
      v-bind:contents="answer"
      v-on:input="onAnswerChange"
      v-bind:label="$t('Answer')"
      
      v-bind:editable="isEditable"
      v-bind:height="computedAnswerEditorHeight"
      v-bind:placeholder="answerPlaceholder">
    </HTMLEditor>

  <!-- ====================================== -->

  <div class="ui one column grid annotation-panel-buttons"
       v-if="isEditable">

    <block-exit
      v-if="isNoteEdited">
    </block-exit>

    <div v-bind:class="computedButtonsClass">
      
      <admin-badge 
        v-bind:status="status"
        v-bind:config="config">
      </admin-badge>
      
      <span class="display-time">
        {{ displayTime }}
      </span>
      

      <!--
      <button type="button"
              class="ui button"
              v-on:click="hide">
        {{ $t('CANCEL') }}  
      </button>
      -->



      <!-- ============================== -->

      <checkbox-toggle 
        v-if="annotationConfig.enableControlPermission"
        v-bind:label="$t('PUBLIC')"
        v-model="public">
      </checkbox-toggle>

      <template v-if="!annotation.id">
        <!--
        <button type="button"
                class="ui button"
                v-on:click="submitQuestion"
                v-if="!isQuestionSubmitted">
          {{ $t('SUBMIT QUESTION') }}  
        </button>
        -->
        <validation-button 
          v-bind:lib="lib"
          
          v-bind:text="question"
          v-bind:minWordCount="questionMinWords"
          v-bind:locale="status.preference.locale"
          v-bind:enable="isEnableSubmitQuestion"
          
          v-on:click="submitQuestion">
          {{ $t('SAVE') }}  
        </validation-button>
      </template>
      
      <!-- ======================================== -->
      
      <template v-else>
        
        <button type="button"
                class="ui button"
                v-on:click="writeLater"
                v-if="isQuestionSubmitted && !isAnswerSubmitted">
          {{ $t('WRITE LATER') }}  
        </button>

        <!--
        <button type="button"
                class="ui button"
                v-bind:class="{'disabled': (answer === '')}"
                v-on:click="submitAnswer"
                v-if="isQuestionSubmitted">
          {{ $t('SAVE ANSWER') }}  
        </button>
        -->
        <validation-button 
          v-bind:lib="lib"
          
          v-bind:text="answer"
          v-bind:minWordCount="answerMinWords"
          v-bind:locale="status.preference.locale"
          v-bind:enable="isEnableSubmitAnswer"
          
          v-on:click="submitAnswer">
          {{ $t('SAVE') }}  
        </validation-button>

        <!-- ======================================== -->
        
        <button type="button"
                class="ui red button"
                v-on:click="deleteAnnotation"
                v-if="isQuestionSubmitted">
          {{ $t('DELETE') }}  
        </button>
      </template>
        
    </div>
  </div> <!-- <div class="ui one column grid annotation-panel-buttons" v-if="isEditable"> -->
  
</div>