<navigation 
  ref="nav" 
  v-bind:config="config"
  v-bind:status="status"
  v-bind:lib="lib"
  v-if="status.progress.highlights"
  compactWidth="767"
  position="bottom"
  color="brown"
  v-on:onSideMenuChange="(m) => {isSideMenuDisplay = m}">
  <template v-slot:header>
    <notification-icon
      class="in-fullmode"
      v-if="lib.style.isLeftHanded"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      position="right">
    </notification-icon>
    
    <navigation-header-item 
      data-step="1" data-intro="This is a tooltip!"
      class="in-top"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      v-on:click="showInstruction">
    </navigation-header-item>
    
    <div class="fitted item">
      <digital-countdown-timer 
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"

        v-bind:pauseAtStart="pauseAtStart"
        v-on:timeup="$emit('timeup')">
      </digital-countdown-timer> 
    </div>
  </template>

  <!-- ========================= -->

  <template v-slot:items>
    <!-- for test -->
    <!--
    <a class="item"
       v-on:click="lib.auth.nextStep">
      Next Step (for test)
    </a>
    -->
    
    <div class="item in-vertical">
      <search-input 
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:size="searchManagerSize"
        v-on:search="hideSideMenu">
      </search-input>
    </div>

    <user-filter 
      ref="UserFilter"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      v-on:show="hideSideMenu">
    </user-filter>
    
    <annotation-type-filter 
      ref="AnnotationTypeFilter"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib">
    </annotation-type-filter>
    
    <div class="item in-top">
      <search-input 
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:size="searchManagerSize"
        v-on:search="hideSideMenu">
      </search-input>
    </div>
    
    <notification-icon
      v-if="!lib.style.isLeftHanded"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      position="left"
      class="in-top">
    </notification-icon>
  </template>

  
  <template v-slot:compactItems>
    <notification-icon
      ref="NotificationManager"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      position="left">
    </notification-icon>
  </template>
  
  <template v-slot:verticalHeaderItem>
    <navigation-header-item 
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      v-on:click="showInstruction">
    </navigation-header-item>
  </template>
  
</navigation>