<div class="UserChart">
  <div class="jqcloud-wrapper">
    <div ref="jQCloudContainer"
         class="jqcloud-container">
    </div>
  </div>
  
  <user-chart-popup 
    ref="UserChartPopup"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"

    v-bind:filterData="filterData">
  </user-chart-popup>
  
  <user-chart-labels 
    ref="UserChartPopup"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"

    v-bind:filterData="filterData">
  </user-chart-labels>
</div>