<div class="ui form">
   
  <pagination v-bind:pageConfig="pageConfig" />
  <table class="ui unstackable table">
    <thead>
      <tr>
        <th class="center aligned">
          {{ $t('Path') }}
        </th>
        <th class="center aligned">
          {{ $t('Title') }}
        </th>
        <th class="center aligned">
          {{ $t('Config') }}
        </th>
        <th class="center aligned">
          {{ $t('Group') }}
        </th>
        <th class="center aligned">
          {{ $t('Dashboard') }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(webpage, index) in webpages">
        <td>
          <a v-bind:href="status.domain + webpage.path"
             target="_blank">
              {{ webpage.path }}
          </a>
        </td>
        <td class="field"
            v-bind:class="{error: (webpage.title === '')}">
          <div class="ui action input">
            <input type="text"
                   v-model="webpage.title"
                   v-on:input="webpage.isChanged = true" />
            <button type="button"
                class="ui icon button"
                v-bind:class="{disabled: !(webpage.isChanged === true && webpage.title !== '')}"
                v-on:click="editTitle(webpage, index)">
                <i class="edit icon"></i> 
            </button>
          </div>
        </td>
        <td class="center aligned">
          <span class="ui icon button"
                v-on:click="editConfigOpen(webpage)">
            <i class="edit icon"></i>
          </span>
        </td>
        <td class="center aligned">
          <span class="ui right labeled icon button"
                v-on:click="editGroupsOpen(webpage)">
            {{ webpage.usersCount }}
            {{ $t('Readers', webpage.usersCount) }}
            /
            {{ webpage.groupsCount }}
            {{ $t('Groups', webpage.groupsCount) }}
            <i class="edit icon"></i>
          </span>
          <!--
          <a class="ui icon button"
                v-bind:href="'#/user/' + webpage.domain_id + '/list/'">
            <i class="list icon"></i>
          </a>
          -->
        </td>
        <td class="center aligned">
          <a class="ui icon button"
             v-bind:href="'#/webpage-dashboard/' + webpage.id">
            <i class="chart bar icon"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <pagination v-bind:pageConfig="pageConfig"
              pathPrefix="/domains/" />
  
  <!-- ============================================ -->
  
  <modal ref="ModelEditGroups"
         v-bind:config="config"
         v-bind:status="status"
         v-bind:progress="progress"
         v-bind:error="error"
         v-bind:lib="lib"
         v-bind:reset="editingGroups">
      
      <template v-slot:header inline-template>
        <a href="/admin/Database/admin?table=users" 
           target="_blank"
           class="ui button">
          {{ $t('DATABASE') }}
        </a>
        # {{ editingGroups.id }}
        {{ status.domain }}{{ editingGroups.path }}
        <template v-if="editingGroups.title !== '' && editingGroups.title !== null">
          ({{ editingGroups.title }})
        </template>
      </template>
      <template v-slot:content inline-template>
        <div class="ui field">
          <label>
            {{ $t('Edit Groups') }}
            ({{ $t('each group per line. Readers in group is splited by space.')  }}
             <a href="https://github.com/pulipulichen/PACOR/blob/master/help/GroupsExample.md" target="_blank">{{ $t('Example') }}</a>)
          </label>
          <textarea v-model="editingGroups.groups"
                    v-on:input="editingGroups.isChanged = true"></textarea>
        </div>
      </template>
      <template v-slot:actions inline-template>
        <div class="ui button"
             v-bind:class="{disabled: !(editingGroups.isChanged === true)}"
             v-on:click="editGroupsSubmit">{{ $t('OK') }}</div>
      </template>
  </modal>
  
  <!-- ============================================ -->
  
  <modal ref="ModelEditConfig"
         v-bind:config="config"
         v-bind:status="status"
         v-bind:progress="progress"
         v-bind:error="error"
         v-bind:lib="lib"
         v-bind:reset="editingConfig">
      <template v-slot:header inline-template>
        <a href="/admin/Database/admin?table=domains" 
           target="_blank"
           class="ui button">
          {{ $t('DATABASE') }}
        </a>
        # {{ editingConfig.id }}
        {{ editingConfig.domain }}
        <template v-if="editingConfig.title !== '' && editingConfig.title !== null">
          ({{ editingConfig.title }})
        </template>
      </template>
      <template v-slot:content inline-template>
        <div class="ui field">
          <label>
            {{ $t('Edit Config') }}
            ({{ $t('JSON format.') }}
             <a href="https://github.com/pulipulichen/PACOR/blob/master/help/ConfigExample.md" target="_blank">{{ $t('Example') }}</a>)
          </label>
          <textarea v-model="editingConfig.config"
                    v-on:input="editingConfig.isChanged = true"></textarea>
        </div>
      </template>
      <template v-slot:actions inline-template>
        <div class="ui button"
             v-bind:class="{disabled: !(editingConfig.isChanged === true)}"
             v-on:click="editConfigSubmit">{{ $t('OK') }}</div>
      </template>
  </modal>
  
</div>