.non-invasive-web-style-framework {
  .ui.items > .item.PeerItem,
  .ui.divided.items > .item.PeerItem {
    user-select: none;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
  }
}

.PeerItem.selected {
  background-color: yellow !important;
}

.PeerItem.disabled {
  opacity: 0.6;
  background-color: #DDD !important;
  cursor: default !important;
  
  .header .message {
    font-size: 0.8em;
    font-weight: normal;
  }
  
  &:hover {
    .header {
      color: rgba(0, 0, 0, 0.85) !important;
    }
  }
}

/*.avatar {
  max-width: 2em !important;
  height: auto !important;
}*/

.ui.image {
  text-align: right;
  
  .icon {
    font-size: 25px;
  }
}

.description ::v-deep .AnnotationTypeButton {
  padding-left: 0.7em !important;
  padding-right: 0.7em !important;
}