<navigation 
  ref="nav" 
  v-bind:config="config"
  v-bind:status="status"
  v-bind:lib="lib"
  compactWidth="400"
  position="bottom">
  <template v-slot:header>
    <notification-manager
      v-if="status.preference.leftHanded"
      ref="NotificationManager"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib">
    </notification-manager>
    
    <div class="item avatar in-top">
      <img v-bind:src="status.avatar">
      <div class="username">
        {{ lib.auth.username }}
      </div>
    </div>
    
    <a class="item"
       v-on:click="showInstruction">
      {{ $t('READING_PROGRESS.' + lib.auth.currentStep) }}
    </a>
    
    <div class="fitted item">
      <digital-countdown-timer 
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"

        v-bind:pauseAtStart="false"
        v-bind:remainingSeconds="622"
        v-on:timeup="$emit('timeup')">
      </digital-countdown-timer> 
    </div>
  </template>

  <!-- ========================= -->

  <template v-slot:items>

    <!-- for test -->
    <a class="item"
       v-on:click="lib.auth.nextStep">
      Next Step (for test)
    </a>

    <user-filter 
      ref="UserFilter"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib">
    </user-filter>
    
    <annotation-type-filter 
      ref="AnnotationTypeFilter"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib">
    </annotation-type-filter>
    
    <div class="item">
      <search-manager 
        v-bind:status="status"
        v-bind:lib="lib"
        size="mini">
      </search-manager>
    </div>
    
    <notification-manager
      v-if="!status.preference.leftHanded"
      ref="NotificationManager"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib">
    </notification-manager>

  </template>

</navigation>