<div class="ui popup UserChartPopup"
     ref="popup"
     v-on:click="onPopupClick">
  
  <div class="focus-word">
    <i class="small search icon"></i>
    {{ popupFocusText }}
  </div>

    <template v-if="!otherIsMe">
      <div v-if="otherIsAll"
           class="word-label all">
        <span class="label-column icon">
          <i class="large users icon" />
        </span>
        <span class="label-column">
          <span class="username">
            {{ $t('All Readers') }}
          </span>
          :
          {{ popupOtherCount }}
        </span>
      </div>
      <div v-else
           class="word-label other">
        <span class="label-column icon">
          <img v-bind:src="otherAvatar" />
        </span>
        <span class="label-column">
          <span class="username">
            {{ otherUsername }}
          </span>
          :
          {{ popupOtherCount }}
        </span>
      </div>
    </template>
    
    <div class="word-label my">
      <span class="label-column icon">
        <img v-bind:src="myAvatar" />
      </span>
      <span class="label-column">
        <span class="username">
          {{ myUsername }}
          ({{ $t('You') }})
        </span>
        :
        {{ popupMyCount }}
      </span>
    </div>
</div>