<fragment>
  
  <rangy v-bind:status="status"
         v-bind:rangyConfig="rangyConfig"
         v-on:select="onselect"
         v-on:selectcollapsed="onselectcollapsed"
         ref="RangyManager"></rangy>
  
  <annotation-type-selector v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:selection="selection"
        v-on:selectAnnotation="pin"
        ref="AnnotationTypeSelector"></annotation-type-selector>
  
  <annotation-panel v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:pinSelection="pinSelection"
        v-on:hide="unpin"
        v-bind:rangy="$refs.RangyManager"
        v-bind:annotationModule="annotationModule"
        ref="AnnotationPanel"></annotation-panel>
  
</fragment>