<fragment>

  <!--
  <rangy v-bind:status="status"
         v-bind:rangyConfig="rangyConfig"
         v-on:select="onselect"
         v-bind:lib="lib"
         v-on:selectcollapsed="onselectcollapsed"
         v-on:highlightClick="toggleHighlightPos"
         v-on:highlightMouseover="onHighlightPosMouseover"
         v-on:highlightMouseout="onHighlightPosMouseout"
         ref="RangyManager"></rangy>
  -->

  <annotation-type-selector 
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"

    ref="AnnotationTypeSelector"
    v-if="isLoaded">
  </annotation-type-selector>

  <!--
  <annotation-panel v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:pinSelection="pinSelection"
        v-on:hide="unpin"
        v-bind:rangy="$refs.RangyManager"
        v-bind:annotationModule="annotationModule"
        v-bind:findAnnotation="findAnnotation"
        v-bind:findUser="findUser"
        v-bind:findType="findType"
        v-bind:listPositions="listPositions"
        v-bind:sectionsData="sectionsData"
        ref="AnnotationPanel"
        v-if="isInited"></annotation-panel>
  -->
  <annotation-float-widget 
    v-if="isInited"

    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"

    ref="AnnotationFloatWidget">
  </annotation-float-widget>

  <!--
  <section-annotation-manager
        v-if="isInited && isEnableSectionAnnotation"
        v-bind:sectionsData="sectionsData"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"></section-annotation-manager>
  -->
</fragment>