<fragment>
  
  <rangy v-bind:status="status"
         v-bind:rangyConfig="rangyConfig"
         v-on:select="onselect"
         v-bind:lib="lib"
         v-on:selectcollapsed="onselectcollapsed"
         v-on:highlightClick="toggleHighlightPos"
         v-on:highlightMouseover="onHighlightPosMouseover"
         v-on:highlightMouseout="onHighlightPosMouseout"
         ref="RangyManager"></rangy>
  
  <annotation-type-selector v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:selection="selection"
        v-on:selectAnnotation="pin"
        v-on:list="listFromSelection"
        v-show="isSelectorVisible"
        ref="AnnotationTypeSelector"></annotation-type-selector>
  
  <annotation-panel v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:pinSelection="pinSelection"
        v-on:hide="unpin"
        v-bind:rangy="$refs.RangyManager"
        v-bind:annotationModule="annotationModule"
        v-bind:findAnnotation="findAnnotation"
        v-bind:findUser="findUser"
        v-bind:findType="findType"
        v-bind:listPositions="listPositions"
        ref="AnnotationPanel"></annotation-panel>
  
  <annotation-float-widget 
        v-if="highlightPos"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:highlightPos="highlightPos"
        v-bind:highlightEvent="highlightEvent"
        v-bind:highlightPosLock="highlightPosLock"
        v-on:findAnnotation="onFindAnnotation"
        v-on:findUser="onFindUser"
        v-on:findType="onFindType"
        v-on:list="onList"
        v-bind:rangy="$refs.RangyManager"
        ref="AnnotationFloatWidget"></annotation-float-widget>
  
</fragment>