<span class="AnnotationInteractive">
  <span>
    <button type="button" 
            class="like ui button"
            v-bind:class="computedLikesButtonClass"
            v-on:click.stop="like">
      <i class="thumbs up outline icon"></i>
      <template v-if="likes > 0">
        {{ $t('{0} Likes', [likes]) }}
      </template>
      <template v-else>
        {{ $t('Like') }}
      </template>
    </button>
  </span>
  <span>
    <button type="button"
            class="comments ui button"
            v-bind:class="computedCommentsButtonClass"
            v-on:click.stop="comment">
      <i class="comment outline icon"></i>
      <template v-if="likes > 0">
        {{ $t('{0} Comments', [comments]) }}
      </template>
      <template v-else>
        {{ $t('Comment') }}
      </template>
    </button>
  </span>
</span>