<div class="item PeerItem"
     v-bind:class="computedItemClassList"
     v-on:click="onSelectPeer"
     v-bind:title="username">
  <div class="ui mini image">
    <!--
    <img v-if="user"
     v-bind:src="avatar"
     class="user-avatar">
    -->
    <user-avatar 
      v-if="user"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"

      v-bind:user="user">
    </user-avatar>
    <i v-else
       class="large users icon" />
  </div>
  <div class="content">
    <div class="header">
      
      <span class="ui basic blue mini label group-label"
            v-if="typeof(group) === 'number'">
        <i class="users icon" />
        {{ group }}
      </span>
      
      <span class="username">
        {{ username }}
      </span>
      
      <!--
      <admin-badge 
        v-if="!isReader"
        v-bind:status="status"
        v-bind:config="config"
        v-bind:user="user">
      </admin-badge>
      
      <user-self-badge 
        v-bind:status="status"
        v-bind:config="config"
        v-bind:user="user">
      </user-self-badge>
      -->
      <span v-if="!isReady"
            class="message">
        {{ $t('(Reading...)') }}
      </span>
      
      <span v-if="isExited"
            class="message">
        {{ $t('(Finished)') }}
      </span>
      
      <template v-if="user && annotationTypes.length === 0">
        {{ $t('(No annotation)') }}
      </template>
    </div>
    <div class="description"
         v-if="user">
      <annotation-type-button 
        v-for="t in annotationTypes"
        v-bind:key="t.type"

        v-bind:lib="lib"
        v-bind:config="config"
        v-bind:status="status"

        v-bind:type="t.type"
        v-bind:count="t.count">
      </annotation-type-button>
    </div>
  </div>
</div>