<div>
  <modal ref="Modal"
         v-bind:config="config"
         v-bind:status="status"
         v-bind:progress="progress"
         v-bind:error="error"
         v-bind:lib="lib"
         dimmerTransparent="false"
         cancelable="false">
      <template v-slot:header>
        {{ $t('Pre Imaginary') }}
      </template>
      <template v-slot:content inline-template>
        <div class="field">
          {{ $t(message) }}
        </div>
        <div class="field">
            <textarea v-model="log.answer"
                      v-on:input="persist"
                      v-bind:disabled="isTimeup"></textarea>
            <div class="ui pointing basic label"
                 v-bind:class="classWordCounter"
                 v-if="!isTimeup">
              {{ displayCharacterCounter }}
            </div>
            
        </div>
      </template>
      <template v-slot:actions>
        <div class="ui button disabled">
          ({{ buttonText }})
        </div>
      </template>
  </modal>
  
  <activity-timer v-bind:config="config"
        v-bind:lib="lib"></activity-timer>
  <!--
  <block-exit></block-exit>
  -->
</div>