<div class="ui form">
   
  <pagination v-bind:pageConfig="pageConfig" />
  
  <table class="ui unstackable table">
    <thead>
      <tr>
        <th class="center aligned">
          {{ $t('Domain') }}
        </th>
        <th class="center aligned">
          {{ $t('Title') }}
        </th>
        <th class="center aligned">
          {{ $t('Admins') }}
        </th>
        <th class="center aligned">
          {{ $t('Config') }}
        </th>
        <th class="center aligned">
          {{ $t('Webpage') }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(domain, index) in domains">
        <td>
          {{ domain.domain }}
        </td>
        <td class="field"
            v-bind:class="{error: (domain.title === '')}">
          <div class="ui action input">
            <input type="text"
                   v-model="domain.title"
                   v-on:input="domain.isChanged = true" />
            <button type="button"
                class="ui icon button"
                v-bind:class="{disabled: !(domain.isChanged === true && domain.title !== '')}"
                v-on:click="editTitle(domain, index)">
                <i class="edit icon"></i> 
            </button>
          </div>
        </td>
        <td class="center aligned">
          <span class="ui icon button"
                v-on:click="editConfigOpen(domain)">
            <i class="edit icon"></i>
          </span>
        </td>
        <td class="center aligned">
          <span class="ui right labeled icon button"
                v-if="typeof(domain.admins) === 'string'"
                v-on:click="editAdminsOpen(domain)">
            {{ domain.adminsCount }}
            {{ $t('Admins', domain.adminsCount) }}
            <i class="edit icon"></i>
          </span>
          <a class="ui icon button"
                v-bind:href="`#/user/${domain.id}/list/`">
            <i class="list icon"></i>
          </a>
        </td>
        <td class="center aligned">
          <a class="ui fluid right labeled icon button"
             v-bind:href="`#/webpage/${domain.id}/list/`">
            {{ domain.__meta__.webpages_count }}
            {{ $t('Webpages', domain.__meta__.webpages_count) }}
            <i class="list icon"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <pagination v-bind:pageConfig="pageConfig"
              pathPrefix="/domains/" />
  
  <!-- ============================================ -->
  
  <modal ref="ModelEditAdmins"
         v-bind:config="config"
         v-bind:status="status"
         v-bind:progress="progress"
         v-bind:error="error"
         v-bind:lib="lib"
         v-bind:reset="editingAdmins">
      <template v-slot:header inline-template>
        <a href="/admin/Database/admin?table=users" 
           target="_blank"
           class="ui button">
          {{ $t('DATABASE') }}
        </a>
        # {{ editingAdmins.id }}
        {{ editingAdmins.domain }}
        <template v-if="editingAdmins.title !== '' && editingAdmins.title !== null">
          ({{ editingAdmins.title }})
        </template>
      </template>
      <template v-slot:content inline-template>
        <div class="ui field">
          <label>
            {{ $t('Edit Admins (split by space)') }}
            (<a href="https://github.com/pulipulichen/PACOR/blob/master/help/AdminsExample.md" target="_blank">{{ $t('Example') }}</a>)
          </label>
          <textarea v-model="editingAdmins.admins"
                    v-on:input="editingAdmins.isChanged = true"></textarea>
        </div>
      </template>
      <template v-slot:actions inline-template>
        <div class="ui button"
             v-bind:class="{disabled: !(editingAdmins.isChanged === true)}"
             v-on:click="editAdminsSubmit">{{ $t('OK') }}</div>
      </template>
  </modal>
  
  <!-- ============================================ -->
  
  <modal ref="ModelEditConfig"
         v-bind:config="config"
         v-bind:status="status"
         v-bind:progress="progress"
         v-bind:error="error"
         v-bind:lib="lib"
         v-bind:reset="editingConfig">
      <template v-slot:header inline-template>
        <a href="/admin/Database/admin?table=domains" 
           target="_blank"
           class="ui button">
          {{ $t('DATABASE') }}
        </a>
        # {{ editingConfig.id }}
        {{ editingConfig.domain }}
        <template v-if="editingConfig.title !== '' && editingConfig.title !== null">
          ({{ editingConfig.title }})
        </template>
      </template>
      <template v-slot:content inline-template>
        <div class="ui field">
          <label>
            {{ $t('Edit Config (JSON format)') }}
            (<a href="https://github.com/pulipulichen/PACOR/blob/master/help/ConfigExample.md" target="_blank">{{ $t('Example') }}</a>)
          </label>
          <textarea v-model="editingConfig.config"
                    v-on:input="editingConfig.isChanged = true"></textarea>
        </div>
      </template>
      <template v-slot:actions inline-template>
        <div class="ui button"
             v-bind:class="{disabled: !(editingConfig.isChanged === true)}"
             v-on:click="editConfigSubmit">{{ $t('OK') }}</div>
      </template>
  </modal>
</div>