<div class="ui segment chart-labels UserChartLables">
  <template v-if="!otherIsMe">
    <span v-if="otherIsAll"
          class="chart-label other">
      <i class="large users icon" />
      <span class="username">
        {{ $t('All Readers') }}
      </span>
    </span>
    <span v-else
          class="chart-label other">
      <img v-bind:src="otherAvatar" />
      <span class="username">
        {{ otherUsername }}
      </span>
    </span>
  </template>

  <span class="chart-label my">
    <img v-bind:src="myAvatar" />
    <span class="username">
      {{ myUsername }}
      ({{ $t('You') }})
    </span>
  </span>
</div>