<div class="AnnotationList">
  
  <template v-if="annotations.length > 1">
    
  
  <div class="summary-information"
       v-if="!isFiltering">
    <button type="button" class="ui mini labeled icon button back-button"
            v-if="annotationInstance && annotations.length > 1"
            v-on:click.stop="annotationInstance = null">
      <i class="angle left icon" />
      {{ $t('Back to list') }}
    </button>
    
    <div class="label">
      {{ $t('{0} Annotations', [annotationCount]) }}:
    </div>
    
    <user-avatar-icons 
          style="margin-right: 0.5em;"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib"
          v-bind:users="users"
          v-bind:userCount="userCount"
          v-on:find="(user) => {findUser = user}"></user-avatar-icons >
        
    <annotation-module-button v-for="t in types"
          v-bind:lib="lib"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:annotationModule="t.type"
          v-bind:count="t.count"
          v-on:find="(type) => {findType = type}"></annotation-module-button>
  </div>
  
  <div class="summary-information"
       v-if="isFiltering">
      <button type="button" class="ui mini labeled icon button back-button"
            v-on:click.stop="clearFilter">
        <i class="angle left icon"></i>
      {{ $t('Back to full list') }}
    </button>
    
    <div class="label">
      {{ $t('Finding') }}:
    </div>
    
    <user-avatar-icons 
          style="margin-right: 0.5em;"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib"
          v-bind:users="[findUser]"
          v-on:find="findUser = null"
          v-if="findUser"></user-avatar-icons >
        
    <annotation-module-button
          v-bind:lib="lib"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:annotationModule="findType"
          v-on:find="findType = null"
          v-if="findType"></annotation-module-button>
    
    <div class="label">
      {{ $t('Total {0} Annotations', [filteredAnnotationCount]) }}
    </div>
  </div>
    
  <!-- ============================================================================= -->
  
  <div class="ui divider"></div>
  
  </template> <!-- <template v-if="annotations.length > 1"> -->
  
  
  <!-- ============================================================================= -->
    
  <div class="list"
       v-bind:style="computedListStyle"
       v-show="annotationInstance === null && isFiltering === false"
       v-on:scroll.stop="scrollList">
    <annotation-item
        v-for="annotation in annotations"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:isFull="false"
        v-bind:annotation="annotation"
        v-bind:findAnnotation="(annotation) => {annotationInstance = annotation}"
        v-bind:findUser="(user) => {findUser = user}"
        v-bind:findType="(type) => {findType = type}"
        v-bind:rangy="rangy"></annotation-item>
    <div class="ui segment no-more"
         v-if="noMore">
      {{ $t('No More') }}
    </div>
  </div>
  <div class="list"
       v-bind:style="computedListStyle"
       v-show="annotationInstance === null && isFiltering === true"
       v-on:scroll.stop="scrollFilterList">
    <annotation-item
        v-for="annotation in filteredAnnotations"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:isFull="false"
        v-bind:annotation="annotation"
        v-bind:findAnnotation="(annotation) => {annotationInstance = annotation}"
        v-bind:findUser="(user) => {findUser = user}"
        v-bind:findType="(type) => {findType = type}"
        v-bind:rangy="rangy"></annotation-item>
    <div class="ui segment no-more"
         v-if="filteredNoMore">
      {{ $t('No More') }}
    </div>
  </div>
  
  <div class="find-annotation">
    <annotation-editor-modules ref="auth"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib"
          v-bind:annotationInstance="annotationInstance"
          v-bind:heightPX="editorHeightPX"
          v-on:hide="annotationInstance = null"
          v-on:delete="onDelete"
          v-bind:rangy="rangy"></annotation-editor-modules>
  </div>
  
</div>