<div class="ui action input">
  <input type="text" 
         v-model="status.search.keyword"
         v-bind:placeholder="$t('Search...')"
         ref="input"
         onclick="this.select()">
  <button type="button"
          class="ui icon button"
          v-on:click="status.search.showAnnotationList = true"
          v-bind:class="{'disabled': (count === 0)}">
    <div v-if="count > 0" 
         class="floating ui red label">
      {{ count }}
    </div>
    <i class="search icon"></i>
  </button>
</div>