.avatar {
  max-height: 2em;
  width: auto;
}

img {
  display: inline-block !important;
  border-radius: 0 !important;
}

.UserAvatar {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}