.image-container {
  margin-right: 0.5rem;
}

section.instruction {
  //cursor: pointer;
  border-width: 0 !important;
  margin: 0 !important;
  //padding: 0 !important;
  padding: 1em 0 !important;
  user-select: none;
  
  ::v-deep {
    .highlight {
      background-color: yellow;
    }
  }
}

.diff-highlight {
  color: red;
  font-weight: bold;
}