<a class="NotificationManager item"
   v-on:click.self="() => { $refs.anchor.click() }">
  <i class="bell icon"
     ref="anchor"
     v-on:click.once="initPopup"></i>

  <div v-if="notificationData.unreadCount > 0"
       class="floating ui red label">
    {{ notificationData.unreadCount }}
  </div>

  <div class="list ui popup"
       ref="popup">
    <notification-feed 
      ref="feed"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      
      v-bind:notificationData="notificationData">
    </notification-feed>
    
    <div class="ui segment"
         v-if="hasNotification"
         v-on:click="() => { $refs.NotificationModal.show() }">
      <button type="button"
              class="ui fluid button">
        {{ $t('View All Notifications') }}
      </button>
    </div>
  </div>
  
  <notification-modal 
    ref="NotificationModal"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"

    v-bind:notificationData="notificationData">
  </notification-modal>
</a>