<div class="QuestionnaireResults">
  
  <div class="ui middle aligned grid header-message">
    <div class="four wide column image-column">
      <img v-bind:src="status.avatar"
           class="ui image" />
    </div>
    <div class="twelve wide column">
      <h1 class="ui header">
        {{ $t('For {0}: Congratulation! You finished reading.', [username]) }}
      </h1>
      <template v-if="PreImaginaryResult || PostRecallResult">
        {{ $t('Following are your previous answers:') }}
      </template>
    </div>
  </div>
  
  <div class="ui top aligned grid">
    
    
    <div class="eight wide column" v-if="PreImaginaryResult && PreImaginaryResult.length > 0">
      <div class="ui top attached secondary segment step-heading">
        {{ $t('READING_PROGRESS.PreImaginary') }}
      </div>
      <div class="ui attached segment step-result"
           v-if="typeof(PreImaginaryResult) === 'string'">
        {{ PreImaginaryResult }}
      </div>
      <div class="ui attached segment step-result"
           v-if="Array.isArray(PreImaginaryResult)">
        <div class="ui label"
             v-for="keyword in PreImaginaryResult"
             v-bind:class="{'is-removed': isRemovedKeyword(keyword)}">
          {{ keyword }}
        </div>
      </div>
    </div>
    
    
    <div class="eight wide column" v-if="PostRecallResult && PostRecallResult.length > 0">
      <div class="ui top attached secondary segment step-heading">
        {{ $t('READING_PROGRESS.PostRecall') }}
      </div>
      <div class="ui attached segment step-result"
           v-if="typeof(PostRecallResult) === 'string'">
        {{ PostRecallResult }}
      </div>
      <div class="ui attached segment step-result"
           v-if="Array.isArray(PostRecallResult)">
        <div class="ui label"
             v-for="keyword in PostRecallResult"
             v-bind:class="{'teal': isAddedKeyword(keyword)}">
          {{ keyword }}
        </div>
      </div>
    </div>
  </div>
  
</div>