<div class="non-invasive-web-style-framework">
  <modal 
    class="InstructionMessage"
    ref="Modal"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-bind:cancelable="false"
    v-bind:contentURL="contentURL"
    v-bind:disableOpenWindow="true"
    v-on:hide="onHide">
      <template v-slot:header>
        <div v-on:dblclick="nextStep"
             class="step-title">
          {{ $t('READING_PROGRESS.' + lib.auth.currentStep) }}
        </div>
      </template>
      <template v-slot:content
                v-if="$slots.content">
        <slot name="content"></slot>
      </template>
      <template v-slot:content
                v-else-if="!contentURL">
        <div v-html="instruction"></div>
      </template>
      <template v-slot:actions>
        <div class="ui positive button"
             v-on:click="gotoNextReadingPage"
             v-if="lib.auth.currentStepConfig.nextReadingPage">
          {{ $t('Move to next article') }}
        </div>
        <div class="ui button"
             v-on:click="logout"
             v-if="enableLogout">
          {{ $t('Logout') }}
        </div>
        <div class="ui button"
             v-bind:class="{positive: !enableLogout}"
             v-on:click="startTutorial">
          {{ $t('Start Tutorial') }}
        </div>
        <div class="ui button close-button"
             v-if="showCloseButton"
             v-on:click="hide">
          {{ $t('Close') }}
        </div>
      </template>
  </modal>
</div>