.AnnotationInteractive {
  //margin-left: 0.5em;
  //margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
  
  button[type="button"].ui.button {
    vertical-align: middle !important;
    
    &.with-count {
      padding-left: 1em;
      padding-right: 1em;
      
      &> i {
        margin-right: 0 !important;
      }
    }
  }
  
  .display-like {
    pointer-events: none;
    cursor: default;
  }
}