<section 
  class="instruction SectionPostRecall"
  ref="SectionPostRecall">
  
  <template v-if="isDiffMode">
    <h1 class="diff-highlight">{{ $t('Please recall the keywords mentioned in this article.') }}</h1>
    {{ $t('You can referring to the same tips before.') }}
  </template>
  
  <h1 v-else>{{ $t('After reading, please recall the content of this article.') }}</h1>
  
  <ul>
    <li v-html="titleHTML"></li>
    <li v-if="headings.length > 0"
        >{{ $t(`This article includes {0} headings:`, [headings.length]) }}<ol>
        <li v-for="heading in headings">{{ heading }}</li>
      </ol>
    </li>
    <li v-if="images.length > 0"
        >{{ $t(`This article includes {0} images:`, [headings.length]) }}
      <br />
      <span v-for="image in images"
            class="image-container"
            ><img v-bind:src="image.src" 
            v-bind:title="image.title" /></span>
    </li>
    
    <li class="divided">
      {{ $t('When you click "Start Answer and Countdown" button, a keyword editor will appear like following image:') }}
      <br />
      <img class="keyword-editor-thumbnail"
           v-bind:src="keywordEditorThumbnail"
           v-bind:title="$t('Keyword Editor')"/>
    </li>
    
    <li>
      {{ $t('You can perform following actions:') }}
      <ol>
        <li>{{ $t('Add a keyword') }}</li>
        <li>{{ $t('Remove a keyword from your list') }}</li>
        <li>{{ $t('Restore a keyword to your list') }}</li>
      </ol>
    </li>
    
    <li class="divided"
        v-html="timeLimitClickButtonStart"></li>
  </ul>
</section>