<section 
  class="instruction SectionPostRecall"
  ref="SectionPostRecall">
  
  <template v-if="isDiffMode">
    <h1>{{ $t('After reading, please recall the content of this article base on your previous answer.') }}</h1>
    <!-- <p class="subtitle">{{ $t('You can referring to the same tips before.') }}</p> -->
    <p class="subtitle">{{ $t('It can be the content of the article, or it can be a new keyword you learned extra.') }}</p>
  </template>
  <template v-else>
    <h1>{{ $t('After reading, please recall the content of this article.') }}</h1>
    <p class="subtitle">{{ $t('It can be the content of the article, or it can be a new keyword you learned extra.') }}</p>
  </template>
  
  <ul>
    <li v-html="titleHTML"></li>
    <li v-if="headings.length > 0"
        >{{ $t(`This article includes {0} headings:`, [headings.length]) }}<ol>
        <li v-for="heading in headings">{{ heading }}</li>
      </ol>
    </li>
    <li v-if="images.length > 0"
        >{{ $t(`This article includes {0} images:`, [headings.length]) }}
      <br />
      <span v-for="image in images"
            class="image-container"
            ><img v-bind:src="image.src" 
            v-bind:title="image.title" /></span>
    </li>
  </ul>
  
  <hr />
  
  <ul>
    <li>
      {{ $t('After you press the "Start answering and countdown instantly" button, please start the following operations:') }}
      <br />
      <img class="keyword-editor-thumbnail"
           v-bind:src="keywordEditorThumbnail"
           v-bind:title="$t('Keyword Editor')"/>
    </li>
  </ul>
  <ol>
    <li>{{ $t('Add the keywords you think of based on the above clues.') }}</li>
    <li>{{ $t('If you have misspelled a keyword, click on it to remove it.') }}</li>
    <li>{{ $t('If you accidentally removed the keyword, click here to get it back.') }}</li>
  </ol>
  
  <hr />
  
  <ul>
    <li v-html="timeLimitClickButtonStart"></li>
  </ul>
</section>