iframe {
  width: 100%;
  height: calc(100vh - 14.5em);
}

.actions {
  user-select: none;
  
  &.left-handed {
    text-align: left !important;
  }
}

.header-menu {
  float: right;
  margin-right: 3em !important;
  cursor: pointer;
  
  &> .item.more {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .header-menu {
    &> .item {
      display: none !important;
    }
    
    &> .item.more {
      display: block !important;
    }
  }
}