<div class="ui large modal" 
     ref="modal">
  <i class="close icon"
     v-if="cancelable !== 'false' && cancelable !== false"></i>
  <div class="header"
       v-bind:class="computedHeaderClassList"
       v-if="$slots.header">
    
    <div v-if="$slots.headerMenu"
         class="header-menu ui mini compact menu">
      <slot name="headerMenu"></slot>
      <div class="more ui dropdown icon item"
           ref="HeaderMenuDropdown">
        <i class="ellipsis vertical icon"></i>
      </div>
      <div class="ui flowing popup transition hidden vertical menu more-menu">
          <slot name="headerMenu"></slot>
      </div>
    </div>
    
    <div class="header-slot">
      <slot name="header"></slot>
    </div>
    
  </div>
  <div class="scrolling content"
       v-if="$slots.content">
    <div class="ui form"
         v-bind:class="{'full': fullContent}">
      <slot name="content"></slot>
    </div>
  </div>
  <div class="content"
       v-if="contentURL">
    <!--
    <iframe 
      v-if="isShow"
      v-bind:src="computedContentURL"
      frameborder="0"
      class="full">
    </iframe>
    -->
    <iframe-message-segment 
      v-if="isShow"
      v-bind:config="config"
      v-bind:message="computedContentURL"
      v-bind:showBorder="false"
      class="content-full-height">
    </iframe-message-segment>
  </div>
  <div class="actions"
       v-if="$slots.actions || cancelable === 'true' || cancelable === true || reset || cancelButtonText"
       v-bind:class="computedActionsClassList">
    
    <div class="ui button"
         v-if="contentURL"
         v-on:click="openContentURLWindow">
      {{ $t('Open in Another Window') }}
    </div>
    
    <div class="ui button"
         v-if="cancelable !== 'false' && cancelable !== false"
         v-on:click="hide">
      <template v-if="cancelButtonText">
        {{ $t(cancelButtonText) }}
      </template>
      <template v-else>
        {{ $t('CANCEL') }}
      </template>
    </div>
    
    <div class="ui button"
         v-if="reset"
         v-on:click="doReset">
      {{ $t('RESET') }}
    </div>
    
    <slot name="actions"></slot>
    
  </div>
</div>