<div class="ui segment SectionChecklist">
  <div class="header-container">
    <div class="ui tiny header">
      <!--
      <i class="check square outline icon"></i>
      -->
      <div class="content">
        #{{ sectionSeqID + 1 }}
        {{ $t("Check list") }}
        {{ sectionHeader }}
      </div>
    </div>
  </div>

  <button 
    type="button"
    class="ui fluid button"
    v-on:click="openSectionAnnotationEditor">
    <template v-if="isChecklistAnnotationSubmitted">
      {{ $t('Edit section main ideas') }}
    </template>
    <template v-else>
      {{ $t('Write section main ideas') }}
    </template>
  </button>

  <div class="ui list">
    
    <template 
      v-for="(item, i) in checklist">
      
      <a class="item" 
         v-if="i !== checklistAnnotationIndex"
         v-on:click="onChecklistItemChange(i)">
        
        <div class="ui checkbox">
          <input type="checkbox"
                 v-bind:checked="checked[i]"
                 v-on:click.prevent.stop="(e)=>{onChecklistItemChange(i)}" />
          <label>
            {{ $t(item) }}
          </label>
        </div>
        
      </a>
      <a v-else 
         class="item" 
         v-on:click="openSectionAnnotationEditor()">
        
        <div class="ui checkbox">
          <input 
            type="checkbox"
            v-bind:checked="isChecklistAnnotationSubmitted"
            v-on:click.prevent.stop="()=>{openSectionAnnotationEditor()}" />
          <label>
            {{ $t('I have already written the main ideas of this section.') }}
          </label>
        </div>
      </a>
    </template>

  </div>

  <button 
    type="button"
    class="ui fluid button"
    v-bind:class="computedSubmitButtonClass"
    v-on:click="submitChecklist">
    {{ computedSubmitButtonText }}
  </button>

</div>