<div class="ui form">
  <div class="ui fields">
    <div class="twelve wide field">
      <h2>{{ $t('Domain Management') }}</h2>
    </div>
    <div class="four wide field">
      <div class="ui fluid buttons sub-navigation">
          <span class="ui button active">
            {{ $t('List') }}
          </span>
          <a href="/admin/Database/admin?table=domains"
             class="ui button"
             target="_blank">
            {{ $t('Database') }}
          </a>
          <a href="#/domain/add"
             class="ui button">
            {{ $t('Add') }}
          </a>
      </div>
    </div>
  </div>
  
  <!-- ==================================== -->
    
  <pagination v-bind:pageConfig="pageConfig" />
  
  <table class="ui unstackable table">
    <thead>
      <tr>
        <th class="center aligned">
          {{ $t('Domain') }}
        </th>
        <th class="center aligned">
          {{ $t('Title') }}
        </th>
        <th class="center aligned">
          {{ $t('Admins') }}
        </th>
        <th class="center aligned">
          {{ $t('Config') }}
        </th>
        <th class="center aligned">
          {{ $t('Webpage') }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(domain, index) in domains">
        <td>
          {{ domain.domain }}
        </td>
        <td class="field"
            v-bind:class="{error: (domain.title === '')}">
          <div class="ui action input">
            <input type="text"
                   v-model="domain.title"
                   v-on:input="domain.isChanged = true" />
            <button type="button"
                class="ui icon button"
                v-bind:class="{disabled: !(domain.isChanged === true && domain.title !== '')}"
                v-on:click="editTitle(domain, index)">
                <i class="edit icon"></i> 
            </button>
          </div>
        </td>
        <td class="center aligned">
          <span class="ui fluid right labeled icon button">
            {{ domain.admins.length }}
            {{ $t('Admins', domain.admins.length) }}
            <i class="edit icon"></i>
          </span>
        </td>
        <td class="center aligned">
          <span class="ui icon button">
            <i class="edit icon"></i>
          </span>
        </td>
        <td class="center aligned">
          <span class="ui fluid right labeled icon button">
            {{ domain.__meta__.webpages_count }}
            {{ $t('Webpages', domain.__meta__.webpages_count) }}
            <i class="edit icon"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  
  <pagination v-bind:pageConfig="pageConfig"
              pathPrefix="/domains/" />
  
  <modal v-bind:config="config"
         v-bind:status="status"
         v-bind:progress="progress"
         v-bind:error="error"
         v-bind:lib="lib"
         modal_display_close_icon="false">
    <template v-slot:header>OK</template>
    <template v-slot:content>
      <div class="image">
        An image can appear on left or an icon
      </div>
      <div class="description">
        A description can appear on the right
      </div>
    </template>
    <template v-slot:actions>
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </template>
  </modal>
</div>