<div class="ui form">
  <div class="ui fields">
    <div class="twelve wide field">
      <h2>{{ $t('Domain Management') }}</h2>
    </div>
    <div class="four wide field">
      <div class="ui fluid buttons sub-navigation">
          <span class="ui button active">
            {{ $t('List') }}
          </span>
        
          <a
             href="#/domain/add"
             class="ui button">
            {{ $t('Add') }}
          </a>
      </div>
    </div>
  </div>
  
    
  <pagination v-bind:pageConfig="pageConfig" />
  
  <table class="ui unstackable table">
    <thead>
      <tr>
        <th v-if="status.role === 'global_admin'">
          {{ $t('Domain') }}
        </th>
        <th>
          {{ $t('Filename') }}
        </th>
        <th>
          {{ $t('Date') }}
        </th>
        <th>
          {{ $t('Management') }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(asset, index) in assets">
        <td v-if="status.role === 'global_admin'">
          {{ asset.domain_id }}
        </td>
        <td>
          <input type="text"
                 v-model="asset.filename"
                 v-on:keyup="change(asset.id)" />
        </td>
        <td>
          {{ asset.date }}
        </td>
        <td>
          <div class="unstackable four fields">
            <div class="field">
              <a class="ui icon button"
                 target="_blank"
                 v-bind:href="'/material/asset/' + asset.id + '/'">
                <i class="linkify icon"></i>
              </a>
            </div>
            <div class="field">
              <button type="button"
                class="ui icon button"
                v-bind:class="{disabled: !isAssetChanged(asset.id), green: isAssetChanged(asset.id)}"
                v-on:click="edit(index)">
                <i class="edit icon"></i> 
              </button>
            </div>
            <div class="field">
              <button type="button"
                class="ui icon button"
                v-on:click="editUploadTrigger(asset.id)">
                <i class="upload icon"></i> 
              </button>
            </div>
            <div class="field">
              <button type="button"
                class="ui icon button"
                v-on:click="remove(index)">
                <i class="close icon"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <pagination v-bind:pageConfig="pageConfig"
              pathPrefix="/domains/" />
</div>