<div class="ui form">
  <div class="ui fields">
    <div class="twelve wide field">
      <h2>{{ $t('Domain Management') }}</h2>
    </div>
    <div class="four wide field">
      <div class="ui fluid buttons sub-navigation">
          <span class="ui button active">
            {{ $t('List') }}
          </span>
        
          <a
             href="#/domain/add"
             class="ui button">
            {{ $t('Add') }}
          </a>
      </div>
    </div>
  </div>
  
  <!-- ==================================== -->
    
  <pagination v-bind:pageConfig="pageConfig" />
  
  <table class="ui unstackable table">
    <thead>
      <tr>
        <th>
          {{ $t('Domain') }}
        </th>
        <th>
          {{ $t('Title') }}
        </th>
        <th>
          {{ $t('Admins') }}
        </th>
        <th>
          {{ $t('Config') }}
        </th>
        <th>
          {{ $t('Webpage') }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(domain, index) in domains">
        <td>
          {{ domain.domain }}
        </td>
        <td>
          {{ domain.title }}
        </td>
        <td>
          <span class="ui labeled icon button">
            <i class="edit icon"></i>
            {{ domain.admins.length }}
            {{ $t('Admins', domain.admins.length) }}
          </span>
        </td>
        <td>
          <span class="ui icon button">
            <i class="edit icon"></i>
          </span>
        </td>
        <td>
          <span class="ui labeled icon button">
            <i class="edit icon"></i>
            {{ domain.webpageCount }}
            {{ $t('Webpages', domain.webpageCount) }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  
  <pagination v-bind:pageConfig="pageConfig"
              pathPrefix="/domains/" />
</div>