<div class="ui action input SearchManager"
     v-bind:class="computedInputClassList">
  <input 
    type="text" 
    v-model="status.search.keyword"
    v-bind:placeholder="$t('Search...')"
    v-on:keyup.enter="searchAnnotation"
    ref="input"
    onclick="this.select()">
  <button 
    type="button"
    class="ui icon button"
    v-on:click="searchAnnotation">
    <div v-if="count > 0 && status.search.keyword !== ''" 
         class="floating ui red label">
      {{ count }}
    </div>
    <i class="search icon"></i>
  </button>
</div>