<div class="ui segment SectionAnnotationList"
     v-on:mouseover="sectionsData.enableRefresh = false"
     v-on:mouseout="sectionsData.enableRefresh = true"
     v-on:touchstart="sectionsData.enableRefresh = false"
     v-on:touchend="sectionsData.enableRefresh = true">

  <template v-if="userCount > 1">
    <div class="summary-information">

      <user-avatar-icons 
        style="margin-right: 0.5em;"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-bind:users="users"
        v-bind:userCount="userCount"
        v-on:find="(user) => {findUser = user}">
      </user-avatar-icons >
    </div>

  </template>

  <annotation-item
    v-if="myAnnotation"
    v-bind:key="myAnnotation.id"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"

    v-bind:annotation="myAnnotation"
    v-bind:findAnnotation="findAnnotation">
  </annotation-item>
  
  <div class="ui divider"
       v-if="myAnnotation && sectionsData.annotation[sectionSeqID].annotations.length > 0"></div>
  
  <div class="annotation-list"
       v-on:scroll.stop="scrollList"
       v-if="hasAnnotation">
    <annotation-item
      v-for="annotation in sectionsData.annotation[sectionSeqID].annotations"
      v-bind:key="annotation.id"
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"

      v-bind:annotation="annotation"
      v-bind:findAnnotation="findAnnotation">
    </annotation-item>

    <div class="ui secondary segment no-more"
         v-if="noMore">
      <template v-if="sectionsData.annotation[sectionSeqID].annotations.length > 0">
        {{ $t('No More') }}
      </template>
      <template v-else>
        {{ $t('No Search Result') }}
      </template>
    </div>
  </div>
    
  <editor-button 
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"

    v-bind:sectionSeqID="sectionSeqID"
    v-bind:sectionsData="sectionsData"
    v-bind:myAnnotation="myAnnotation"
    v-bind:style="computedSectionMainIdeaButtonStyle">
  </editor-button>
</div>