.SectionAnnotationList .annotation-list {
  max-height: 20em;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 1em;
}

.no-more {
  text-align: center;
  color: gray;
}

.summary-information {
  text-align: center;
  margin-bottom: 0.5rem;
  
  .message,
  ::v-deep .UserAvatarIcons {
    display: inline-block;
    vertical-align: middle;
  }
  
  .username {
    font-weight: bold;
  }
}

.my-annotation {
  margin-top: 0.5rem !important;
}