<div class="ui form">
  <div class="ui fields">
    <div class="ten wide field">
      <h2>{{ title }}</h2>
    </div>
    <div class="six wide field">
      <div class="ui fluid buttons sub-navigation">
        <a href="#/domain/list"
           class="ui button"
           v-bind:class="{active: ($route.path.startsWith('/domain/list'))}">
          <i class="list icon"></i>
          {{ $t('List') }}
        </a>
        <a href="/admin/Database/admin?table=domains"
           class="ui button"
           target="_blank">
          <i class="database icon"></i>
          {{ $t('Database') }}
        </a>

        <a href="#/domain/add"
           class="ui button"
           v-bind:class="{active: ($route.path.startsWith('/domain/add'))}">
          <i class="plus icon"></i>
          {{ $t('Add') }}
        </a>
      </div>
    </div>
  </div>
  
  <component v-bind:is="domainView"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:progress="progress"
        v-bind:lib="lib"
        v-bind:error="error"
        v-bind:domainView="domainView"></component>
</div>