<div class="ui form">
  <!-- ========================================== -->
  
  <div class="ui secondary menu">
    <div class="item">
      <h2>{{ status.title }}</h2>
    </div>
    <div class="right menu">
      
        <a href="#/domain/list"
           class="ui item"
           v-bind:class="{active: ($route.path.startsWith('/domain/list')), disabled: ($route.path.startsWith('/domain/list'))}">
          <i class="list icon"></i>
          {{ $t('List') }}
        </a>

        <a href="#/domain/add"
           class="ui item"
           v-bind:class="{active: ($route.path.startsWith('/domain/add')), disabled: ($route.path.startsWith('/domain/add'))}">
          <i class="plus icon"></i>
          {{ $t('Add') }}
        </a>
      
        <a href="/admin/Database/admin?table=domains"
           class="ui item"
           target="_blank">
          <i class="database icon"></i>
          {{ $t('Database') }}
        </a>
    </div>
  </div>
  
  <!-- ========================================== -->
  
  <component v-bind:is="domainView"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:progress="progress"
        v-bind:lib="lib"
        v-bind:domainView="domainView"></component>
</div>