<div class="SectionChecklist">
  <div class="ui tiny header">
    <i class="check square outline icon"></i>
    <div class="content">
      #{{ sectionSeqID + 1 }}
      {{ $t("Check list") }}
    </div>
  </div>

  <button type="button"
          class="ui fluid button"
          v-on:click="openSectionAnnotationEditor">
    {{ $t('Write section main ideas') }}
  </button>

  <div class="ui list">
    <template v-for="(item, i) in checklist">
      <a class="item" v-if="item !== 'SectionMainIdea'"
          v-on:click="onChecklistItemChange(i)">
        <div class="ui checkbox">
          <input type="checkbox"
                 v-model="checked[i]">
          <label>
            {{ $t(item) }}
          </label>
        </div>
      </a>
      <a class="item" v-else 
          v-on:click="openSectionAnnotationEditor('SectionMainIdea')">
        <div class="ui checkbox">
          <input type="checkbox"
                 v-model="checked[i]">
          <label>
            {{ $t('I have already written the main ideas of this section.') }}
          </label>
        </div>
      </a>
    </template>

  </div>

  <button type="button"
          class="ui fluid button"
          v-bind:class="computedSubmitButtonClass"
          v-on:click="submitChecklist">
    {{ $t('I have read this section!') }}
  </button>

</div>