<div class="non-invasive-web-style-framework">
  <modal 
    class="AdminModal"
    ref="Modal"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-bind:cancelable="true"
    v-bind:cancelButtonText="$t('CLOSE')"
    v-bind:disableOpenWindow="true">
    <template v-slot:header>
      {{ $t('Admin Panel') }}
      :
      {{ username }}
    </template>
    <template 
      v-slot:content>

        <button 
          type="button"
          class="ui labeled icon button"
          v-on:click="backToFirstStep">
          <i class="fast backward icon"></i>
          {{ $t('Back to First Step') }}
        </button>
      
        <button 
          type="button"
          class="ui labeled icon button"
          v-on:click="backToPreviousStep">
          <i class="backward icon"></i>
          {{ $t('Back to Previous Step') }}
        </button>
      
        <button 
          type="button"
          class="ui labeled icon button"
          v-on:click="lib.auth.resetRemainingSeconds">
          <i class="undo icon"></i>
          {{ $t('Reset Time') }}
        </button>

        <button 
          type="button"
          class="ui labeled icon button"
          v-on:click="logout">
          <i class="sign-out icon"></i>
          {{ $t('Logout') }}
        </button>

        <button 
          type="button"
          class="ui labeled icon button"
          v-on:click="goToNextStep">
          <i class="forward icon"></i>
          {{ $t('Next Step') }}
        </button>

        <button 
          type="button"
          class="ui labeled icon button"
          v-on:click="reload">
          <i class="undo alternate icon"></i>
          {{ $t('Reload') }}
        </button>
    </template>
  </modal>
</div>