<div class="Loading">
  <div v-if="!status.progress.initComponents"
       class="loading-modal">
    <img v-bind:src="config.baseURL + '/imgs/loading.svg'" />
  </div>
  
  <auth 
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    ref="auth">
  </auth>
  
  <StyleManager 
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    ref="style">
  </StyleManager>
  
  <PACORTestManager 
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    ref="TestManager">
  </PACORTestManager>

  <error-handler 
    v-bind:config="config"
    v-bind:lib="lib"
    v-bind:errors="errors"
    ref="ErrorHandler">
  </error-handler>
  
  <confirm-modal
    v-bind:config="config"
    v-bind:lib="lib"
    v-bind:status="status"
    
    ref="ConfirmModal">
  </confirm-modal>

  <tutorial-manager
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    ref="TutorialManager">
  </tutorial-manager>
  
  <!-- ================================ -->
  
  <component 
    v-if="status.view !== 'Loading'"
    v-bind:is="status.view"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:progress="progress"
    v-bind:lib="lib">
  </component>
</div>