<div class="AnnotationDiscussionInput ui form">
  <div class="right-column">
    <button v-if="!isEditMode"
            type="button"
            class="ui mini button"
            v-on:click="create">
        {{ $t('COMMENT') }} 
    </button>
    <button v-if="isEditMode"
            type="button"
            class="ui mini button"
            v-on:click="edit">
        {{ $t('EDIT') }} 
    </button>
  </div>
  
  <div class="left-column">
    <img v-bind:src="status.avatar" 
         class="avatar" />

    <div class="username">
      {{ username }}
    </div>
  </div>
  <div class="center-column ui field input-field">
      <input type="text"
             ref="input"
             v-model="note" />
  </div>
  </div>
</div>