<fragment>
  <validation-button 
      v-bind:lib="lib"

      text="aaaa"
      v-bind:minWordCount="1"
      v-bind:locale="status.preference.locale">
      {{ $t('EDIT') }}  
    </validation-button>
  
  <template v-for="(node, index) in sectionNodes">
    <section-panel
      v-bind:config="config"
      v-bind:status="status"
      v-bind:lib="lib"
      
      v-bind:node="node"
      v-bind:sectionSeqID="index"
      v-bind:sectionsData="sectionsData"
      
      v-on:complete="$emit('complete')">
    </section-panel>
  </template>
</fragment>