<div class="ui middle aligned grid">
  <div class="three column unstackable row">
    <div class="three wide column">
      <img v-bind:src="status.avatar" />
    </div>
    <div class="seven wide column">
      <div class="username">
        {{ username }}
      </div>
    </div>
    <div class="six wide column">
      <annotation-module-button 
        v-bind:status="status"
        v-bind:annotationModule="annotationModule"></annotation-module-button>
    </div>
  </div>
</div>