@verticalMargin: calc(@TopMenuHeight + 1em);

.annotation-float-widget {
  transition-property: opacity;
  transition-duration: 0.3s;
  opacity: 0;
  
  filter: drop-shadow(0px 0px 0.5em rgba(0, 0, 0, 1));
  
  position: fixed !important;
  left: 1em;
  z-index: 0;
  width: calc(100vw - 3em);
  top: @verticalMargin;
  max-height: calc(50vh - @TopMenuHeight - 2em);
  overflow-x: hidden;
  overflow-y: auto;
  
  &.show {
    opacity: 1;
    z-index: 1;
  }
  
  &.bottom {
    top: auto;
    bottom: @verticalMargin;
    
    &.selecting {
      width: calc(100vw - 14em); // 保留FAB的寬度
    }
  }
  
  .list-button {
    margin-left: 0.5em;
    vertical-align: top !important;
  }
}