<div class="annotation-float-widget AnnotationFloatWidget"
     v-bind:class="computedContainerClassNames">
  
  <div class="ui tertiary segment"
       v-if="annotationCount > 0">
    
    <annotation-item
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        mode="full"
        v-bind:annotation="annotation"
        v-bind:findAnnotation="viewAnnotation"
        v-bind:findUser="findUser"
        v-bind:findType="findType"
        v-bind:rangy="rangy"></annotation-item>
    
    <div class="ui column grid">
      <div v-bind:class="computedButtonsClassNames">
        
        <user-avatar-icons 
          style="margin-right: 0.5em;"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib"
          v-bind:users="users"
          v-bind:userCount="userCount"
          v-on:find="findUser">
        </user-avatar-icons >
        
        <annotation-type-button 
          v-for="t in types"
          v-bind:lib="lib"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:type="t.type"
          v-bind:count="t.count"
          v-on:find="findType">
        </annotation-type-button>
        
        <button v-if="isFixed"
                type="button" 
                v-on:click.stop="list"
                class="ui mini button list-button">
          {{ $t('List all {0} annotations...', [annotationCount]) }}
        </button>
      </div>
      
    </div>
    
  </div>
</div>