<div class="annotation-float-widget"
     v-bind:class="computedContainerClassNames">
  <div class="ui secondary segment"
       v-if="annotationCount > 0">
    
    <annotation-item
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        mode="full"
        v-bind:annotation="annotation"
        v-on:find="(annotation) => {$emit('findAnnotation', annotation)}"></annotation-item>
    
    <div class="ui column grid"
         v-on:click.stop="$emit('list', highlightPos)">
      <div v-bind:class="computedButtonsClassNames">
        
        <user-avatar-icons 
          style="margin-right: 0.5em;"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:lib="lib"
          v-bind:users="users"></user-avatar-icons >
        
        <annotation-module-button v-for="t in types"
          v-bind:lib="lib"
          v-bind:config="config"
          v-bind:status="status"
          v-bind:annotationModule="t.type"
          v-bind:count="t.count"></annotation-module-button>
        
        <button type="button" 
                class="ui mini button list-button"
                v-if="highlightPosLock">
          {{ $t('List all {0} annotations...', [annotationCount]) }}
        </button>
      </div>
      
    </div>
    
  </div>
</div>