<div class="NavigationItems">

  <navigation 
    ref="nav" 
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-if="status.progress.highlights"
    compactWidth="767"
    position="bottom"
    color="blue"
    v-on:onSideMenuChange="(m) => {isSideMenuDisplay = m}"
    v-bind:showMoreButton="true">
    <template v-slot:header>
      
      <notification-icon
        v-if="lib.style.isLeftHanded && enableCollaboration"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib">
      </notification-icon>

      <navigation-header-item 
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-on:click="showWebpageConfig">
      </navigation-header-item>

    </template>

    <!-- ========================= -->

    <template v-slot:items>
      <!-- for test -->
      <!--
      <a class="item"
         v-on:click="lib.auth.nextStep">
        Next Step (for test)
      </a>
      -->
      
      <div class="item in-vertical">
        <search-input 
          v-bind:status="status"
          v-bind:lib="lib"
          v-bind:size="searchManagerSize"
          v-on:search="hideSideMenu">
        </search-input>
      </div>

      <user-filter 
        ref="UserFilter"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-on:show="hideSideMenu"
        v-if="enableCollaboration">
      </user-filter>

      <annotation-type-filter 
        ref="AnnotationTypeFilter"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib">
      </annotation-type-filter>

      <div class="item in-top search-input">
        <search-input 
          v-bind:status="status"
          v-bind:lib="lib"
          v-bind:size="searchManagerSize"
          v-on:search="hideSideMenu">
        </search-input>
      </div>
      
      <a class="item in-vertical article-information-item"
         v-if="lib.auth.isAdmin"
         v-on:click="$refs.ArticleInformation.show()">
         <i class="file alternate icon"></i>
         {{ $t('Article Information') }}
      </a>
      
      <about-item 
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib">
      </about-item>
      
      <a class="item in-vertical article-information-item"
         v-on:click="lib.auth.logout">
         <i class="sign-out icon"></i>
         {{ $t('LOGOUT') }}
      </a>

      <notification-icon
        v-if="!lib.style.isLeftHanded && enableCollaboration"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        position="left"
        class="in-top">
      </notification-icon>
    </template>

    <template v-slot:compactItems>
      <notification-icon
        ref="NotificationManager"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-if="enableCollaboration">
      </notification-icon>
    </template>
    
    <template v-slot:verticalHeaderItem>
      <navigation-header-item 
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-on:click="showWebpageConfig">
      </navigation-header-item>
    </template>
    
  </navigation>

  <WebpageAdmin 
    ref="WebpageAdmin"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib">
  </WebpageAdmin>
  
  <ArticleInformation 
    ref="ArticleInformation"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib">
  </ArticleInformation>
</div>