<div class="NavigationItems">

  <navigation 
    ref="nav" 
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-if="status.progress.highlights"
    compactWidth="767"
    position="bottom"
    color="blue"
    v-on:onSideMenuChange="(m) => {isSideMenuDisplay = m}">
    <template v-slot:header>
      
      <notification-icon
        v-if="status.preference.leftHanded"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib">
      </notification-icon>

      <navigation-header-item 
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-on:click="showWebpageConfig">
      </navigation-header-item>

    </template>

    <!-- ========================= -->

    <template v-slot:items>
      <!-- for test -->
      <!--
      <a class="item"
         v-on:click="lib.auth.nextStep">
        Next Step (for test)
      </a>
      -->

      <user-filter 
        ref="UserFilter"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-on:show="hideSideMenu">
      </user-filter>

      <annotation-type-filter 
        ref="AnnotationTypeFilter"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib">
      </annotation-type-filter>

      <div class="item">
        <search-input 
          v-bind:status="status"
          v-bind:lib="lib"
          v-bind:size="searchManagerSize"
          v-on:search="hideSideMenu">
        </search-input>
      </div>

      <notification-icon
        v-if="!status.preference.leftHanded"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        position="left"
        class="in-top">
      </notification-icon>
    </template>

    <template v-slot:compactItems>
      <notification-icon
        ref="NotificationManager"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib">
      </notification-icon>
    </template>
    
    <template v-slot:verticalHeaderItem>
      <navigation-header-item 
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-on:click="showWebpageConfig">
      </navigation-header-item>
    </template>
    
  </navigation>

  <WebpageAdminModal 
    ref="WebpageAdminModal"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib">
  </WebpageAdminModal>
</div>