<div class="WebpageConfigEditor"
     v-if="webpage">
  <span class="ui icon button"
        v-on:click="editConfigOpen()"
        v-bind:title="computedButtonTitle">
    <i class="cog icon"></i>
  </span>

  <modal 
    ref="ModelEditConfig"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-bind:reset="editingConfig">
    <template v-slot:header inline-template>
      <a href="/admin/Database/admin?table=domains" 
         target="_blank"
         class="ui button">
        {{ $t('DATABASE') }}
      </a>
      # {{ webpage.id }}
      {{ webpage.url }}
      {{ title }}
    </template>
    <template v-slot:content inline-template>
      <div class="ui field">
        <label>
          {{ $t('Edit Config') }}
          ({{ $t('JSON format.') }}
          <a href="https://github.com/pulipulichen/PACOR/blob/master/help/ConfigExample.md" 
             target="_blank">
            {{ $t('Example') }}
          </a>)
        </label>
        <textarea 
          v-model="configString"
          v-on:input="editingConfig.isChanged = true"></textarea>
      </div>
    </template>
    <template v-slot:actions inline-template>
      <div class="ui button"
           v-bind:class="{disabled: !(editingConfig.isChanged === true)}"
           v-on:click="editConfigSubmit">{{ $t('OK') }}</div>
    </template>
  </modal>
</div>