<div class="ui form">
  
  <annotation-editor-header v-bind:config="config"
        v-bind:status="status"
        v-bind:annotationModule="annotationModule"></annotation-editor-header>
  
  <question-template ref="QuestionTemplate"
        v-bind:config="config"
        v-bind:status="status"
        v-bind:lib="lib"
        v-on:selectQuestion="selectQuestion"></question-template>
  
  <HTMLEditor ref="questionEditor"
              v-bind:contents="note"
              v-on:input="(c) => {question = c; isQuestionEdited = true}"
              v-bind:editable="editable"
              v-bind:height="computedEditorHeight"></HTMLEditor>

  <div class="ui one column grid annotation-panel-buttons">
    <div v-bind:class="computedButtonsClass">
      <checkbox-toggle v-bind:label="$t('PUBLIC')"
        v-model="public"
        v-if="annotationConfig.enableControlPermission"></checkbox-toggle>
      
      <!--
      <button type="button"
              class="ui button"
              v-on:click="hide">
        {{ $t('CANCEL') }}  
      </button>
      -->
      <!-- ============================== -->
      
      <template v-if="editable">
        
      <template v-if="annotationInstance">
        <button type="button"
                class="ui button"
                v-bind:class="{'disabled': !enableAddAnnotation}"
                v-on:click="editAnnotation">
          {{ $t('EDIT') }}  
        </button>
        <button type="button"
                class="ui red button"
                v-on:click="deleteAnnotation">
          {{ $t('DELETE') }}  
        </button>
      </template>
      <template v-else>
        <countdown-button v-bind:minWordCount="moduleConfig.minWords"
          v-bind:text="note"
          v-bind:lib="lib"
          v-bind:locale="status.preference.locale"
          v-on:click="addAnnotation">
          {{ $t('ADD') }}  
        </countdown-button>
      </template>
      </template>
    </div>
  </div>
</div>