<div class="ui form segment">
  <div class="ui large feed chat-list" ref="ChatList">
    <div class="event"
         v-for="message in displayMessages">
      <div class="label">
        <i class="pencil alternate icon"></i>
      </div>
      <div class="content">
        <div class="summary">
          {{ message.user.username }}
          <div class="date">
            {{ displayAge(message.timestamp) }}
          </div>
        </div>
        <div class="extra text" v-html="message.message"></div>
      </div>
    </div>
  </div>
  
  <!-- ==================================== -->
  
  <div class="unstackable inline fields">
    <div class="eight wide field">
        <label for="WritingMessage">
          {{ status.username }}
        </label>
        <input type="text"
               id="WritingMessage"
               v-on:keyup.enter="insert"
               v-model="writingMessage" />
    </div>
    <div class="two wide field">
      
      <input type="file" 
             name="picture"
             ref="UploadInput"
             v-on:change="upload"/>
      
      <button type="button"
              class="ui fluid button"
              v-on:click="uploadTrigger">
        {{ $t('Upload Image') }}
      </button>
    </div>
    <div class="two wide field">
      
      <button type="button"
              class="ui fluid button"
              v-on:click="insert"
              v-bind:class="{disabled: (writingMessage.trim() === ''), green: (writingMessage.trim() !== '')}">
        {{ $t('Send') }}
      </button>
    </div>
    <div class="two wide field">
      <button type="button"
              class="ui fluid button"
              v-on:click="openAdmin">
        {{ $t('Admin') }}
      </button>
    </div>
    <div class="two wide field">
      <button type="button"
              v-on:click="logout"
              class="ui fluid button">
        {{ $t('Logout') }}
      </button>
    </div>
  </div>
</div>