<!DOCTYPE html>
<!--
字數: 218
段落數量: 2
小節數量: 1
-->
<html>
  <head>
    <title>鳥巢</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <h1>鳥巢</h1>
      <!-- 品學堂文化股份有限公司（2014）。閱讀理解 2014 Vol.2。臺北市：希伯崙 -->
    
      <!-- <img src="/pretest/articles-images/three-mountains-king/kings.png"  /> -->
      
      <section>
        <img src="/pretest/articles-images/bird-nest/birds-nest-763225_1280.jpg"  />
        <!-- https://pixabay.com/photos/bird-s-nest-bird-eggs-egg-nature-763225/ -->
        
        <p>雛鳥在充滿菸蒂的鳥巢裡長大？聽起來很嚇人，同樣嚇人的是，最近的研究顯示，某些鳥類利用菸蒂裡蓬鬆的塑膠纖維來編織鳥巢，反而有好處。這些充滿尼古丁的菸蒂可以作為天然的殺蟲劑，讓鳥巢和裡面的雛鳥免於寄生蟲和有害昆蟲的傷害。</p>
        
        <p>這些菸蒂肯定不好聞，但鳥類其實喜歡有味道的化學物質，例如一些會散發香氣的植物。有些築巢的鳥類會定期在巢中補充新鮮的香氣植物，可能是因為這些化學物質有助於雛鳥免疫系統的增強或發育。除此之外，這些植物化學物質也可作為殺蟲劑。</p>

      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
