<!DOCTYPE html>
<html>
  <head>
    <title>古人怎麼治癌？木乃伊揭秘：往腸子灌銅！</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
<script src="/lib/less/less.min.js" ></script>

<link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
    
  </head>
  <body>
    <h1>古人怎麼治癌？木乃伊揭秘：往腸子灌銅！</h1>
    <a href="https://n.yam.com/Article/20191229302392" target="_blank">文章來源：Heho健康網／林以璿 2019.12.29 11:00</a>
    <article>
    <section>
    <p>2016年，義大利那不勒斯出土了一具來自16世紀、自然保存的木乃伊，在它身上，學者們竟然發現了結腸癌。這名死者生前曾是貴族王子，斯蒂利亞諾的路易吉·卡拉法，遺體保存完好到令人難以置信。</p>
<p>不過，當學者們對木乃伊進行屍檢時，發現他有大腸癌。不過比較奇怪的是，這位王子的闌尾組織保存得非常完整，甚至還找得到糞便。這一點就非常奇怪了，因為腸道一直是人體中最容易腐爛的器官。</p>
<p>研究團隊將部分切片拿去化驗，結果發現，腸道中有含量非常高的重金屬—銅跟鉛。腸道中高濃度的鉛和銅顯著減少了腐敗菌群，這解釋了腫瘤細胞保存完好的現象。科學家認為，王子腸道裡能有這麼高濃度的鉛和銅，只能是口服或通過肛門灌進去的。</p>
<div id="attachment_62603" class="wp-caption aligncenter">
  <img aria-describedby="caption-attachment-62603" 
       class="wp-image-62603" 
       src="paper.png" 
       alt="" 
       style="width: 100%; height: auto; border-width: initial; border-style: none; border-color: initial; display: block;"><p id="caption-attachment-62603" class="wp-caption-text" style="margin-bottom: 0px; font-size: 20px; line-height: 40px;">圖說：王子的腸道切片/圖片來源：論文截圖</p>
</div>
<h3>把重金屬當仙丹 到底是病死的還是毒死的？</h3>
<p>怪了，死者腸子裡這麼多鉛和銅是為什麼？原來古人治療癌症的絕招就是服用有毒重金屬。受化學療法醫學的影響，鉛和銅的使用在文藝復興時期很流行。</p>
<p>早在15世紀，由內科醫生安東尼奧·瓜涅裡發明的所謂「處女奶」（virginal milk，醋酸鉛）就被用於許多疾病的「治療」。這東西危險得很，會導致失眠頭痛、不孕不育、流產死胎、智力低下，繁榮一時的古羅馬皇室，甚至因服用鉛劑的流行而亡國。</p>
<p>16世紀，瑞士醫生、煉金術士帕拉塞爾蘇斯，終生致力於向醫學界推薦各種金屬用於疾病的治療，其中，汞、銻、金、銅和鉛等重金屬成為了醫生們最感興趣的最愛，他們樂此不疲地開展了各種試驗。據說，他們認為「醋酸鉛」是非常好的口服止血劑。</p>
<p>回到這次發現的木乃伊，卡拉法王子的癌症已發展到晚期，可能已有血便表現，說明存在腸出血，醫生很可能因此為他使用了類似的含鉛藥劑用於止血。這也解釋了為什麼他的腸道組織能保存得如此完好，但我們很難確定，到底是癌症還是有毒的鉛劑要了他的命。</p>

<h3>大腸癌治療方式多元 關鍵還是及早篩檢、及早治療</h3>
<p>對比過去，我們或許應該非常慶幸生活在這樣一個醫學發達的時代，癌症已有了五花八門的多種療法，不至於被各種奇奇怪怪甚至有毒有害的療法取走小命。</p>
<p>中山醫學大學附設醫院大腸直腸外科主任丁文謙表示，大腸癌有許多治療方式選擇，包括傳統手術、化學治療、放射治療，以及其他新穎的療法。現今手術越來越傾向微創、無創，不過最傳統的開腹手術目前仍然有在執行，「因為有些病人發現大腸癌的時候腫瘤已經太大，甚至已經侵犯到了其他的器官，手術比較複雜，這時候就會採用最傳統的開腹手術。」</p>
<p>
  <img class="aligncenter wp-image-37482" 
       src="table.png" alt="" 
       style="width: 100%; height: auto; border-width: initial; border-style: none; border-color: initial; display: block;"></p>
<p>除此之外，在台灣，由於大腸癌多發生在&nbsp;<span lang="EN-US">50</span>&nbsp;歲以後，因此，國民健康署補助&nbsp;<span lang="EN-US">50-74</span>歲的民眾，每&nbsp;<span lang="EN-US">2</span>年&nbsp;<span lang="EN-US">1&nbsp;</span>次糞便潛血檢查。如果檢查有異，可以再透過大腸鏡做檢查。大腸癌是可以早期發現早期治療，而且治癒率很高的癌症。根據統計，早期的大腸癌如果妥善治療，存活率高達<span lang="EN-US">90</span>％以上。</p>
    </section>
</article>
<hr />
<p>參考資料：</p>
<p><span style="text-indent: 2rem; background-color: transparent;">Fornaciari A, Gaeta R, Chericoni S, et al. History of Medicine—Cancer and therapy in the 16th century: the unique case of adenocarcinoma in Luigi Carafa, prince of Stigliano.</span><br></p>
<script src="/spa/client-loader.js" async></script>
  </body>
</html>
