<!DOCTYPE html>
<!--
字數: 429
段落數量: 10
小節數量: 1
-->
<html>
  <head>
    <title>新竹九降風產業</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <h1>新竹九降風產業</h1>
      <!-- <a href="https://child.hakka.gov.tw/v2/?gallery=issue1720" target="_blank">文章來源：好客小學堂</a> -->
    
      <!-- <img src="/2020exp/articles-images/three-mountains-king/kings.png"  /> -->
      
      <section>
        <h2>新竹的九降風</h2>
        
        <img src="/2020exp/articles-images/hsinchu-wind/wind-power.jpg"  />
        <!-- http://17km.hccg.org.tw/big5/p41.php -->
        
        <!--
        <p>哇！是有颱風要來嗎？風怎麼這麼大啊！</p>
        <p>不是颱風喔！這是新竹特別的氣候現象，叫做「九降風」！</p>
        <p>「九降風」？好特別的名字！</p>
        -->
        <p>「九降風」指的是每年秋冬季節，大規模吹向新竹的東北季風，而在新竹地勢的影響下，讓風力加劇的現象！</p>
        
        <!--
        <p>喔喔，那為什麼叫做「九降」呢？</p>
        -->
        <p>「九降」的名稱由來，最早出現在清朝康熙三十三年的『臺灣府志』，裡頭有提到「九月則北風初列，或至連月，俗稱為九降風」；因此，「九降」知名的原始意涵為「九月（農曆）起風喔！</p>
      
        <h2>從九降風發展的產業</h2>
        
        <p>拜此風所賜，當地居民還發展出獨特的產業，像是柿餅、大麵（客家話：麵條之意）、米粉與仙草等等。</p>
        
        <img src="/2020exp/articles-images/hsinchu-wind/Persimmon.jpg"  />
        <p class="image-label">柿餅</p>
        <!-- https://travel.yam.com/Article.aspx?sn=51561 -->
        
        <p>其中，柿餅的傳統製作過程需要秋季乾爽的「九降風」來晾乾；大麵則是採用九降風與室內烤乾的方式，運用冷熱交替的古法烤乾，讓麵條有足夠時間慢乾緊實；而米粉業者最喜歡的則是10月到1月的「霜風」，更有所謂的「三分日曬、七分風乾」的俗語出現，這是因為在這段「霜風」期間的空氣冷冽且水分少，加上經常性的陽光普照，才可以曬出Q彈的美味米粉。</p>
        
        <img src="/2020exp/articles-images/hsinchu-wind/Fairy-grass.jpg"  />
        <p class="image-label">曬仙草</p>
        <!-- https://www.facebook.com/DEFONGFarm/posts/1958668097713899/ -->
        
        <p>而在九降風發威的時候，同時也是曬仙草的大好時機，在配合強烈的日照環境，仙草只需要3至7天就可以完全乾燥，且經過九降風吹拂的仙草，只要存放在通風良好處，可是會愈陳愈香的喔！</p>
        
        <!--
        <p>新竹人好聰明喔！可以想到利用九降風的特點來成就這麼多的特色產業！</p>
        <p>對啊！所以「九降風」不僅是新竹人非常重要的天然資產，更是蘊含了當地難以忘懷的生活記憶呢！</p>
        -->
      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>
    
  </body>
</html>
