<!DOCTYPE html>
<!--
字數: 854
段落數量: 17
小節數量: 3
-->
<html>
  <head>
    <title>緋寒櫻、八重櫻、吉野櫻……你知道台灣有多少種櫻花嗎？</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <h1>緋寒櫻、八重櫻、吉野櫻……你知道台灣有多少種櫻花嗎？</h1>
      <!--
      <a href="https://www.storm.mg/article/94340" target="_blank">文章來源：風傳媒</a>
      -->
      <!-- <img src="/2020exp/articles-images/three-mountains-king/kings.png"  /> -->
      
      <section>
        <p>櫻花綻放象徵春天到來，全台各地都有不少賞櫻勝地，但阿里山與陽明山的櫻花又有何不同？台灣到底擁有多少品種櫻花？讓台北市花卉試驗中心主任張旃榕來一解疑惑。</p>
        <p>春天的腳步隨著櫻花的綻放悄悄到來，無論是南部的阿里山、中部的武陵農場，或是北部的陽明山、淡水等地均有櫻花爭豔，吸引許多愛花人士、攝影師前來朝聖，在粉色櫻花樹下留念最美麗的回憶。</p>
        
        <!--
        <img src="/2020exp/articles-images/sakura/Yangmingshan-Cherry-Blossoms.jpg"  />
        <p class="image-label">陽明山櫻花（陽明山公園管理所）</p>
        -->
        <p>美景當前，賞花到底是「看門道」還是「看熱鬧」，有花卉達人稱號的張旃榕說，全台各地的櫻花，因栽種品種、氣候、海拔、地景樣貌皆不同，各自散發獨特風采，而分布最廣的又非台灣山櫻花莫屬。</p>
      </section>
      <section>
        <h2>臺灣的櫻花種類</h2>
        
        <img src="/2020exp/articles-images/sakura/Taiwan-mountain-cherry-blossoms.jpg"  />
        <p class="image-label">又名「緋寒櫻」的台灣山櫻花（維基百科）</p>
        
        <p>張旃榕解釋，又名「緋寒櫻」的台灣山櫻花（Prunus campanulata Maxim）為台灣原生種，能適應較暖和的氣候與低海拔地區，是台灣分布最廣的櫻花樹種，也是全世界需冷性最少、花色最為濃豔的品種。</p>
        
        <p>特色為花朵呈現濃紅色、單瓣、吊鐘型，對環境、土壤的適應性強，從平地到海拔3000公尺高山都能存活，是台灣春季重要的觀賞樹木。</p>
        <!--
        <img src="/2020exp/articles-images/sakura/Taiwan-mountain-cherry-blossoms.jpg"  />
        <p class="image-label">又名「緋寒櫻」的台灣山櫻花（翡翠水庫環境學習中心）</p>
        -->
        
        <img src="/2020exp/articles-images/sakura/Yae-Sakura.jpg"  />
        <p class="image-label">八重櫻（維基百科）</p>
        
        <p>八重櫻則與山櫻花較類似，花色皆呈現濃紅、花型為吊鐘型，為山櫻花的重瓣品種。</p>
        
        <img src="/2020exp/articles-images/sakura/Yoshino-Sakura.jpg"  />
        <p class="image-label">吉野櫻（台北市政府）</p>
        
        <p>最有日本風味的則非吉野櫻、昭和櫻、寒櫻莫屬。張旃榕表示，吉野櫻（Prunus x yedoensis cv. Yedoensis）的花朵大小適中，呈淡紅色單層花瓣，為日本普遍栽培的櫻花品種，市售的吉野櫻多為山櫻花嫁接吉野櫻，會受砧木影響開花特性。</p>
        
        <img src="/2020exp/articles-images/sakura/Showa-sakura.jpg"  />
        <p class="image-label">昭和櫻（陽明山公園管理所）</p>
        
        <p>昭和櫻則為低海拔地區、生育較佳的日本櫻花品種，花開時呈現粉紅色單瓣花，全開時5個花瓣分離較明顯、花瓣也較長、花朵數量多；寒櫻則是山櫻花與日本山櫻的雜交種，分布在陽明山的數量較多，也是日本最早開的櫻花，但在台灣的開花時期則比山櫻花晚。</p>
      </section>
      <section>  
        <h2>臺灣的櫻花分佈</h2>
        
        <p>張旃榕指出，綜觀台灣的櫻花史，絕大多數看到的都是台灣山櫻花較多，分布在全台各地；八重櫻則在陽明山周遭；吉野櫻則在陽明山、阿里山、淡水天元宮、杉林溪等地；霧社櫻則在武陵農場、奧萬大；「粉紅佳人」品種在武陵農場。</p>
        
        <!--
        <p>陽明山的山櫻花（陽明山公園管理所）</p>
        -->
        <img src="/2020exp/articles-images/sakura/Kawazu-Sakura.jpg"  />
        <p class="image-label">河津櫻（&Sigma;64、維基百科）</p>
        
        <p>河津櫻則在台北中正紀念堂、新竹公園、南投鹿谷；昭和櫻則在陽明山、阿里山。尚有千島櫻、大島櫻、高砂櫻、關山櫻、鬱金櫻、枝垂櫻等品種分布在全台各地。</p>
        
      </section>
    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
