<!DOCTYPE html>
<!--
字數: 529
段落數量: 8
小節數量: 1
-->
<html>
  <head>
    <title>世上最冷的城市，零下64度的菜市場，會有哪些「菜」？帶你感受不一樣的菜市場</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="/style/articles-style.less" />
    <script src="/lib/less/less.min.js" ></script>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/lib/bootstrap/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/lib/bootstrap/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>
    <article>
      <h1>世上最冷的城市，零下64度的菜市場，會有哪些「菜」？帶你感受不一樣的菜市場</h1>
      <!--
      <a href="http://www.read543.com/post02020131092313" target="_blank">文章來源：每日新視界</a>
      -->
      <!-- <img src="/2020exp/articles-images/three-mountains-king/kings.png" /> -->

      <section>
        <p>現在人們出門旅遊不僅僅是遊覽當地風景，更多的是體驗當地生活，文化習俗，還有地方美食。如果需要在這裡住上一段時間，那少不了要去超市或菜市場。對於菜市場大家應該是不陌生的，但是在零下64度的菜市場，你知道會賣哪些菜品嗎？今天就一起來見識一下</p>
        
        <img src="/2020exp/articles-images/yakutsk/Yakutsk.jpg" />
        <p class="image-label">雅庫茨克</p>
        
        <p>位於俄羅斯北部的雅庫茨克，它可以說得上是俄羅斯最著名的冰城，在這裡因為地理環境的影響下，雅庫茨克的氣溫最低能達到64度。冬天氣溫到零下30多度的時候，大多數的人們已經受不了了，可想而知，在這種的環境下，連人們正常的活動都非常困難，甚至連哈出的氣都能很快變成冰渣，生存和外出活動將面臨的挑戰就非常的大了。</p>
        
        <img src="/2020exp/articles-images/yakutsk/market.jpg" />
        <p class="image-label">雅庫茨克的菜市場</p>
        
        <p>雖然這座城市比一般城市還要嚴寒，但是這可冷卻不了當地人出門買菜的習慣，當地人還是和平常一樣出門買菜，彷彿對這麼寒冷的天氣習以為常似的。他們每天都會去菜市場採購，來滿足生活所需。雖然室外溫度已接近零下60度，可菜市場的人卻不見少，你也會驚訝的發現，菜市場只賣一種菜，那就是當地的特產&mdash;&mdash;冰凍魚。</p>
        
        <img src="/2020exp/articles-images/yakutsk/Frozen-fish.jpg" />
        <p class="image-label">像冰棒一樣的冰凍魚</p>
        
        <p>在當地有一道特別有名的菜&mdash;&mdash;生凍魚片。這道菜對凍魚的要求很高，魚在冷凍的時候必須要保持一個順直的狀態，這樣才容易切片。但是如果想吃蔬菜水果就要去很遠的地方採購，價格也相對很高，當地人也捨不得花巨資去買。</p>
        
        <img src="/2020exp/articles-images/yakutsk/Sashimi.jpg" />
        <p class="image-label">生凍魚片</p>
      </section>

    </article>

    <script src="/spa/client-loader.js" async></script>

  </body>
</html>
