<div class="ui form">

  <HTMLEditor 
    ref="editor"
    
    v-bind:lib='lib'
    v-bind:contents="note"
    v-on:input="onNoteChange"
    
    v-bind:editable="isEditable"
    v-bind:height="editorHeight"
    v-bind:placeholder="editorPlaceholder">
  </HTMLEditor>
  <div class="ui one column grid annotation-panel-buttons"
       v-if="isEditable">
    <block-exit
      v-if="isNoteDifferent">
    </block-exit>
    
    <div v-bind:class="computedButtonsClass">
      <checkbox-toggle 
        v-if="annotationConfig.enableControlPermission"
        v-bind:label="$t('PUBLIC')"
        v-model="public">
      </checkbox-toggle>

      <template v-if="annotation.id">
        <validation-button 
          v-bind:lib="lib"
          
          v-bind:text="note"
          v-bind:minWordCount="minWords"
          v-bind:locale="status.preference.locale"
          v-bind:enable="isEnableSubmitEdit"
          
          v-on:click="editAnnotation">
          {{ $t('SAVE') }}  
        </validation-button>
        
        <button 
          v-if="enableDelete"
          type="button"
          class="ui button"
          v-on:click="deleteAnnotation">
          {{ $t('DELETE') }}  
        </button>
      </template>
      
      <template v-else>
        <validation-button 
          v-bind:lib="lib"
          
          v-bind:minWordCount="minWords"
          v-bind:text="note"
          
          v-bind:locale="status.preference.locale"
          v-bind:enable="isEnableSubmitAdd"
          
          v-on:click="addAnnotation">
          {{ $t('ADD') }}  
        </validation-button>
      </template>
      
    </div>
  </div>
</div>