<div class="WebpageGroupEditor">
  <span class="ui right labeled icon button"
        v-on:click="editGroupsOpen()">
    {{ webpage.usersCount }}
    {{ $t('Readers', webpage.usersCount) }}
    /
    {{ webpage.groupsCount }}
    {{ $t('Groups', webpage.groupsCount) }}
    <i class="edit icon"></i>
  </span>
  
  <modal 
    ref="ModelEditGroups"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-bind:reset="editingGroups">

    <template v-slot:header inline-template>
      <a href="/admin/Database/admin?table=users" 
         target="_blank"
         class="ui button">
        {{ $t('DATABASE') }}
      </a>
      # {{ editingGroups.id }}
      {{ editingGroups.url }}
      {{ title }}
    </template>
    <template v-slot:content inline-template>
      <div class="ui field">
        <label>
          {{ $t('Edit Groups') }}
          ({{ $t('each group per line. Readers in group is splited by space.')  }}
          <a href="https://github.com/pulipulichen/PACOR/blob/master/help/GroupsExample.md" target="_blank">{{ $t('Example') }}</a>)
        </label>
        <textarea v-model="editingGroups.groups"
                  v-on:input="editingGroups.isChanged = true"></textarea>
      </div>
    </template>
    <template v-slot:actions inline-template>
      <div class="ui button"
           v-bind:class="{disabled: !(editingGroups.isChanged === true)}"
           v-on:click="editGroupsSubmit">{{ $t('OK') }}</div>
    </template>
  </modal>
</div>