<div class="AnnotationDiscussionList"
     v-bind:style="computedContainerStyle"
     v-on:scroll.stop="scrollList">
  
  <div class="ui secondary segment no-more"
         v-if="noMore">
    <template v-if="comments.length > 0">
      {{ $t('No More') }}
    </template>
    <template v-else>
      {{ $t('No Comment') }}
    </template>
  </div>
  
  <annotation-comment 
    v-for="(comment, i) in comments"
    v-bind:key="comment.id"

    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"

    v-bind:comment="comment"
    v-on:comment="$emit('comment', comment)"
    
    v-on:like="$emit('like', comment)"
    v-on:unlike="$emit('unlike', comment)"
    
    v-on:edit="onEdit(comment)"
    v-on:delete="onCommentDelete(i)">
  </annotation-comment>
  
  
  
</div>