<div class="AnnotationDiscussionList"
     ref="list"
     v-bind:style="computedContainerStyle"
     v-bind:class="computedContainerClass"
     v-on:scroll.stop="scrollList">
  
  <div class="ui secondary segment no-more"
       v-if="noMoreOlder"
       v-on:click="focusInput">
    <template v-if="comments.length > 0">
      {{ $t('No More') }}
    </template>
    <template v-else>
      {{ $t('Write the first comment now') }}
    </template>
  </div>
  
  <div class="ui secondary segment no-more"
       v-if="!noMoreOlder && olderCommentCount > 0">
    {{ $t('Load previous comments...', [olderCommentCount]) }}
  </div>
  
  <annotation-comment 
    v-for="(comment, i) in comments"
    v-bind:key="comment.id"

    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"

    v-bind:comment="comment"
    v-on:comment="$emit('comment', comment)"
    
    v-on:like="onCommentLike(comment)"
    v-on:unlike="onCommentLike(comment)"
    
    v-on:edit="onEdit(comment)"
    v-on:delete="onCommentDelete(i)">
  </annotation-comment>
  
  <div class="ui secondary segment no-more"
       v-if="!noMoreNewer && newerCommentCount > 0">
    {{ $t('Load next comments...', [newerCommentCount]) }}
  </div>
  
</div>