<div class="ui segment">
  <WepbageDashboardSubHeader
    v-bind:config="config"
    v-bind:status="status"
    v-bind:lib="lib"
    v-bind:header="$t('Webpage Export')"
    anchor="webpage-export">
  </WepbageDashboardSubHeader>

  <form class="ui form">
    <div class="field">
      <a class="ui fluid button"
         v-bind:href="exportAllData">
        <i class="download icon"></i>
        {{ $t('Export all data') }}
      </a>
    </div>

    <div class="field">

      <div class="ui fluid buttons">
        <a class="ui button"
           v-on:click="loadGroupIndicators">
          <i class="redo icon"></i>
          {{ $t('Reload') }}
        </a>
        <a class="ui button"
           v-on:click="lib.ClipboardHelper.copy(groupIndicatorsEMMTSV)">
          <i class="copy icon"></i>
          {{ $t('Copy') }}
        </a>
      </div>
        
      <textarea v-model="groupIndicatorsEMMTSV"></textarea>
      <textarea v-model="groupIndicatorsEMMVariableNameList"></textarea>
    </div>
  </form>
</div>