body article {
  margin-top: 3rem;
  margin-bottom: 3rem;
  
  font-size: 18px;
  line-height: 1.58;
  
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

body article p {
  margin-top: 1.56em;
  text-indent: 2rem;
}

body article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}