.AnnotationSingle {
  overflow-y: auto;

  ::v-deep .annotation-panel-buttons {
    margin-top: -0.5em !important;
    
    max-width: 100% !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    margin-left: 0 !important;
    
    &> .column {
      padding: 0.5em 0 !important;
    }
  }
  
  .display-time {
    display: inline-block;
    vertical-align: top;
    line-height: 2.3em;
    margin-right: 0.5em;
  }
}

@media (max-width: 767px) {
  .AnnotationSingle {
    .annotation-discussion {
      border-top: 1px solid #CCC !important;
    }
    
    .annotation-editor {
      max-height: 100% !important;
    }
  } 
}

@media (min-width: 767px) {
  .AnnotationSingle {
    .annotation-discussion {
      border-left: 1px solid #CCC !important;
    }
    
    .annotation-editor {
      overflow-y: auto;
    }
  } 
}