.login-message {
  //text-align:center;
  max-height: calc(100% - 7em);
  overflow-x: hidden;
  overflow-y: auto;
}

.admin-mode {
  .login-message {
    max-height: calc(100% - 12em);
  }
}