<div class="login-modal">
  <modal 
    ref="LoginModal"
    v-bind:config="config"
    v-bind:status="status"
    v-bind:progress="progress"
    v-bind:lib="lib"
    dimmerTransparent="false"
    cancelable="false"
    v-bind:fullContent="true">

    <template v-slot:header>
      <div v-on:click="adminMode = !adminMode">
        {{ $t('Welcome to PACOR') }}
      </div>
    </template>
    <template v-slot:content>
      <div class="ui middle aligned grid">
        <media v-bind:query="{minWidth: compactWidth}"
               v-on:media-enter="isCompactMode = false"
               v-on:media-leave="isCompactMode = true">


          <div class="six wide column"
               v-if="!isCompactMode">
            <img v-bind:src="config.baseURL + '/imgs/pacor.svg'"
                 class="ui image"
                 v-on:dblclick="createMockupUsername" />
          </div>

        </media>
        <form v-bind:class="computedFormClassList"
             class="content-full-height">

          <iframe-message-segment 
            class="login-message"
            v-bind:config="config"
            v-bind:message="status.readingConfig.login.message">
          </iframe-message-segment>

          <div class="ui field">
            <label for="loginUsername">
              {{ $t('Username') }}
              ({{ $t('cannot contain space') }})
            </label>
            <input type="text" 
                   id="loginUsername"
                   v-model="username"
                   v-on:keyup.enter="login"/>
          </div>

          <div class="ui field"
               v-if="adminMode">
            <label for="loginPassword">
              {{ $t('Password') }}
            </label>
            <input type="password" 
                   autocomplete="false"
                   id="loginPassword"
                   v-model="password"
                   v-on:keyup.enter="login" />
          </div>

          <div class="ui field" v-html="$t('agreement-link', [agreementLink])"></div>
        </form>
      </div>

    </template>
    <template v-slot:actions>
      <div class="ui button login-submit"
           v-bind:class="{disabled: isDisableLogin}"
           v-on:click="login">{{ $t('LOGIN') }}</div>
    </template>
  </modal>
</div>